
<div class="main-body" [class]="getThemeString()">
  <app-toolbar class="main-component-body-background font-grey-950"></app-toolbar>
  <div class="main-content main-component-body-background font-grey-950" *ngIf="isInitialized">
    <mat-drawer-container autosize fixedTopGap="60" class="main-content-drawer-container">
      <mat-drawer mode="side" opened disableClose="true">
        <app-left-navigation></app-left-navigation>
      </mat-drawer>
      <mat-drawer-content>
        <div class="main-content-tab background-theme-secondary">
          <mat-tab-group [class.hide] = "!tabs.length" animationDuration="0ms" [(selectedIndex)]=selectedIndex #tabGroup style="height: 100%"
           class="background-theme-secondary"
           (selectedTabChange)="onTabChanged($event)">
            <mat-tab *ngFor="let tab of tabs;  let index = index" class="background-theme-secondary">

              <ng-template mat-tab-label class="label background-theme-secondary">
                <span class="label-wrapper background-theme-secondary" (wheel)="scrollTabs($event)">
                  <mat-icon [matBadge]="tab.AUTORELOAD ? 'A' : ''" matBadgeColor="primary" matBadgeSize="small"
                    svgIcon="{{tab.shortType}}" class="tab-icon" [class]=tab.COLOR matTooltip="{{tab.TYPE}}"
                    matTooltipPosition="above"></mat-icon>
                    <span interactiveTooltip="{{ tab.TABTOOLTIP }}">
                      {{tab.NAME}}
                    </span>
                  <button *ngIf="tab.IS_DIRTY == true" mat-icon-button color="primary" (click)="removeTab(tab)"
                    matTooltip="{{'discard_unsaved' | translate}}" matTooltipPosition="above">
                    <mat-icon  svgIcon="unsaved"></mat-icon>
                  </button>
                  <button *ngIf="tab.IS_DIRTY != true"  mat-icon-button color="primary" (click)="removeTab(tab)"
                    matTooltip="{{'discard' | translate}}" matTooltipPosition="above">
                    <mat-icon svgIcon="close"></mat-icon>
                  </button>

                  
                </span>
              </ng-template>

              <app-tab [tab]="tab" [isActive]="selectedIndex == index"></app-tab>
            </mat-tab>
          </mat-tab-group>
          <app-landing-page *ngIf="!tabs.length"></app-landing-page>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>
