
.main-body {
  // background-color: white;
  // background-color: #1F1E24 !important;
  // background-color: mat.get-color-from-palette($fe-theme-primary, white);
}

// Hides unneccessary scroll bar.
mat-drawer-content {
  overflow: hidden;
}

.main-content {
  padding-top: 60px;
  height: calc(100vh - 60px);

  .main-content-drawer-container {
    height: inherit;
    // background-color: mat.get-color-from-palette($fe-theme-primary, white);
    background-color: transparent !important;
    .main-content-tab {
      // height: 100%;
      height: calc(100vh - 105px);
      margin: 0px 12px 4px 8px;
      border: none;
      border-radius: 8px;
      box-shadow: none !important;
      padding: 16px;
      mat-icon {
        padding-right: 4px;
      }
    }
  }
}

.hide {
  display: none;
}

::ng-deep {

  .mat-tab-label-container {
    // background-color: #1F1E24 !important;
    background-color: transparent !important;
  }

  .mat-tab-label {
    padding-left: 8px !important;
    padding-right: 2px !important;
    min-width: 50px !important;
  }
  .label-wrapper {
    padding-left: 8px !important;
    // padding-right: 8px !important;
    line-height: 40px;
    // align-items: center;
    .mat-icon {
      vertical-align: middle;
    }
  }
}
