
.hierachy-body {
    height: calc(100vh - 142px);
    width: 100%;

    .hierarchy-drawer {
        overflow: hidden;
        height: calc(100vh - 142px);
        width: 100%;

        .hierarchy-sidelist {
            overflow: hidden;
            p {
                inline-size: min-content;
                vertical-align: top;
            }
            .row-header {
                vertical-align: top;
                white-space: nowrap;
            }
        }
        .hierachy-drawer-main-content {
            height: 100%;
            width: 100%;
        }
    }
}

.app-graph-hierarchy {
    height: calc(100vh - 142px);
}
.mat-drawer-content {
    overflow: hidden !important;
}
.display-contents {
    display: contents;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th {
    text-align: left;
    vertical-align: top;
    max-height: 30px;
    padding: 10px 7px 8px 7px;
}
.bulk-cell {
    .mat-checkbox {
        padding-left: 10px;
        padding-right: 5px;
    }
}
.arrows {
    span {
        position: relative;
        width: 10px;
    }
}
td {
    padding: 0px 5px 0px 5px;
    min-height: 26px;
}

.tree-node-focused {
    transition: 0.5s ease;
}

.tree-cell {
    white-space: pre;
}

.mat-icon {
    vertical-align: middle;
}

.name-hover:hover {
    cursor: pointer;
}

.indent {
    width: 12px;
    min-width: 12px !important;
    max-width: 12px;
    height: 30px !important;
    margin-top: -3px;
    margin-bottom: -3px;
    margin-left: 12px;
    display: inline-block;

    hr {
        border: 0;
        height: 1px;
        background: transparent;
        width: 10px;
        margin-top: 15px;
        margin-right: 5px;
    }
}

.table-is-empty {
    opacity: 0.5;
    width: 575px;
    margin-left: 8px;
}
.d-flex {
    display: flex;
    margin-bottom: 10px;
    .paginator-wrapper {
        display: flex;
        width: 625px;
        margin-left: auto;
        .go-to-container {
            display: flex;
            align-items: baseline;
            background: white;
            mat-form-field {
                width: 56px;
                margin: 6px 4px 0 4px;
                font-size: 12px;
            }
            .go-to-label {
                margin: 0 4px;
                font-size: 12px;
                color: rgba(0, 0, 0, 0.54);
                font-family: Roboto, "Helvetica Neue", sans-serif;
            }
        }
    }
}
.indent:last-of-type {
    width: 12px;
    min-width: 12px !important;
    max-width: 12px;
    height: 30px !important;
    margin-top: -3px;
    margin-bottom: -3px;
    margin-left: 12px;
    display: inline-block;

    hr {
        border: 0;
        height: 1px;
        width: 10px;
        margin-right: 5px;
    }
}

.folder_disabled {
    opacity: 0.5;
}
.drawer-hierachy-tree-wrapper {
    padding-bottom: 10px;
}
.vertical-tree-options {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    font-size: 12px;


    .vertical-tree-options-headline {
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 10px;
    }
    .vertical-tree-options-spacer {
        padding-bottom: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .vertical-tree-options-buttons {
        padding-top: 5px;
        padding-bottom: 2.5px;
        width: 100%;
        height: 36px;
        float: none;

        button {
            // width: 130px;
            float: right;
        }
        button:first-child {
            // width: 200px;
            margin-left: 5px;
        }
    }
    .create-dependency-contend {
        a {
            padding-bottom: 5px;
        }
        .dependency-option-container {
            padding: 5px;
        }
        .dependency-checkbox-container {
            padding: 5px;
            padding-left: 10px;
            width: calc(100% - 20px);
            height: 30px;
            a {
                float: left;
            }
            .dependency-option-container-checkbox {
                float: right;
            }
        }
    }
}
.focus-container {
    position: sticky;
    bottom: 0;
    z-index: 50;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    font-size: 12px;
    .column-left {
        padding-left: 5px;
        float: left;
    }
    .column-right {
        padding-left: 5px;
        float: left;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .focus-containerflex-box-2 {
        display: flex;
        justify-content: flex-end;
    }

    button {
        font-size: 12px !important;
    }
}
.node:hover {
    transition: fill 0.2s ease;
    cursor: pointer;
    .node-rect {
        opacity: 1;
    }
}

.list-toolbar {
    overflow: hidden;
    padding-left: 2px;
    z-index: 20;
    display: flex;
    height: 36px;
    mat-icon {
        height: 30px;
        width: 30px;
    }
}
.cycle-warn {
    line-height: 36px;

    .mat-icon {
        margin-top: 3px !important;
    }
}
.cycle-running {
    line-height: 36px;

    .mat-icon {
        margin-top: 3px !important;
    }
}
.mat-icon {
    vertical-align: middle;
}
