<!-- <iframe> -->
<div id="vertical-tree-options" class="hierachy-body" *ngIf="isActive">

    <mat-drawer-container class="hierarchy-drawer">
        <mat-drawer #drawer class="hierarchy-sidelist background-theme-primary" autosize mode="side" position="end" [opened]="true">
            <div class="drawer-hierachy-tree-wrapper fe-themed-border-bottom" *ngIf="!graphState.isVerticalTreeHierachy">
                <app-hierachy-tree [treeControl]="treeControl" [treeFlattener]="treeFlattener" [dataSource]="dataSource"
                    [focusedNode]="graphState.focusedNode" [toggleHierarchyView]="toggleHierarchyViewCallback" [graphState]="graphState"
                    [isVerticalTreeHierachy]="graphState.isVerticalTreeHierachy" [focusNode]="focusNodeFromTreeCallback" [clickNode]="clickNodeCallback">
                </app-hierachy-tree>
            </div>


            <div *ngIf="graphState.isVerticalTreeHierachy" class="vertical-tree-options background-theme-primary">
                <!-- Options: -->
                <div class="vertical-tree-options-headline">{{'hierachy_operations' | translate}}</div>
                <!-- <div class="vertical-tree-options-spacer">

                </div>
                 -->


                <mat-expansion-panel class="navItem" expanded>

                    <mat-expansion-panel-header collapsedHeight="36px" expandedHeight="36px">
                        <mat-icon svgIcon="add_dependency"></mat-icon>{{'dependencies' | translate}}
                    </mat-expansion-panel-header>
                    <div class="create-dependency-contend">
                        <div class="dependency-option-container">
                            <a>{{'state_selection' | translate}}:</a>
                            <mat-select [(value)]="dependencyOpions.stateSelection" panelClass="default-panel">
                                <mat-option [value]="value" *ngFor="let value of dependencyOpions.stateSelectionOptions; index as i">
                                    {{value}}
                                </mat-option>
                            </mat-select>
                        </div>
                        <div class="dependency-option-container">
                            <a> {{'dependency_mode' | translate}}:</a>
                            <mat-select [(value)]="dependencyOpions.dependencyMode" panelClass="default-panel">
                                <mat-option [value]="value" *ngFor="let value of dependencyOpions.dependencyModeOptions; index as i">
                                    {{value}}
                                </mat-option>
                            </mat-select>
                        </div>
                        <div class="dependency-option-container">

                            <a>{{'unresolved_handling' | translate}}:</a>
                            <mat-select [(value)]="dependencyOpions.unresolvedHandling" panelClass="default-panel">
                                <mat-option [value]="value" *ngFor="let value of dependencyOpions.unresolvedHandlingOptions; index as i">
                                    {{value}}
                                </mat-option>
                            </mat-select>
                        </div>
                        <div class="dependency-option-container">

                            <a>{{'internal_external' | translate}}:</a>
                            <mat-select [(value)]="internalExternal" panelClass="default-panel">
                                <mat-option [value]="value" *ngFor="let value of internalExternalOptions; index as i">
                                    {{value}}
                                </mat-option>
                            </mat-select>
                        </div>

                    </div>
                    <div class="vertical-tree-options-buttons" >
                        <button [class.button-active]="graphState.actionHandler == htmlActionHandlerType.DELETE_DEPENDENCY"
                            mat-flat-button color="secondary"
                            (click)="openActionHandler(htmlActionHandlerType.DELETE_DEPENDENCY)">
                            <mat-icon svgIcon="delete_dependency"></mat-icon>
                            {{'delete' | translate}}
                        </button>
                    </div>
                    <div class="vertical-tree-options-buttons" >
                      <button [class.button-active]="graphState.actionHandler == htmlActionHandlerType.CREATE_EXTERNAL_DEPENDENT"
                            mat-flat-button color="secondary"
                            (click)="openActionHandler(htmlActionHandlerType.CREATE_EXTERNAL_DEPENDENT)">
                            <mat-icon svgIcon="add_external_dependency"></mat-icon>
                            {{'add_external' | translate}}
                      </button>
                      <button [class.button-active]="graphState.actionHandler == htmlActionHandlerType.CREATE_DEPENDENCY"
                            mat-flat-button color="secondary"

                            (click)="openActionHandler(htmlActionHandlerType.CREATE_DEPENDENCY)">
                            <mat-icon svgIcon="add_dependency"></mat-icon>
                            {{'add' | translate}}
                        </button>
                    </div>

                </mat-expansion-panel>
                <div class="vertical-tree-options-spacer fe-themed-border-bottom">

                </div>

                <mat-expansion-panel class="navItem">
                    <mat-expansion-panel-header collapsedHeight="36px" expandedHeight="36px">
                        <mat-icon svgIcon="add_children"></mat-icon>{{'children' | translate}}
                    </mat-expansion-panel-header>
                    <div class="create-dependency-contend">
                        <div class="dependency-checkbox-container">
                            <a>{{'static' | translate}}:</a>
                            <mat-checkbox class="dependency-option-container-checkbox" [checked]="isStatic"
                                [(ngModel)]="isStatic">

                            </mat-checkbox>
                        </div>
                    </div>
                    <div class="vertical-tree-options-buttons">
                        <button [class.button-active]="graphState.actionHandler == htmlActionHandlerType.ADD_CHILDREN"
                            mat-flat-button color="secondary"
                            (click)="openActionHandler(htmlActionHandlerType.ADD_CHILDREN)">
                            <mat-icon svgIcon="add_children"></mat-icon>
                            {{'add' | translate}}
                        </button>
                        <button [class.button-active]="graphState.actionHandler == htmlActionHandlerType.REMOVE_CHILDREN"
                            mat-flat-button color="secondary"
                            (click)="openActionHandler(htmlActionHandlerType.REMOVE_CHILDREN)">
                            <mat-icon svgIcon="delete_children"></mat-icon>
                            {{'remove' | translate}}
                        </button>

                    </div>
                </mat-expansion-panel>
                <!-- <div class="vertical-tree-options-spacer">

                </div> -->

                <!-- <mat-expansion-panel class="navItem">
                    <mat-expansion-panel-header collapsedHeight="36px" expandedHeight="36px">
                        <mat-icon svgIcon="add_dependency"></mat-icon>{{'trigger' | translate}}
                    </mat-expansion-panel-header>
                    <div class="vertical-tree-options-buttons">
                        <button [class.button-active]="graphState.actionHandler == htmlActionHandlerType.CREATE_TRIGGER"
                            mat-flat-button color="accent" [disabled]="!graphState.focusedNode.data"
                            [ngStyle]="{'opacity': graphState.focusedNode.data ? '1.0': '0.5'}">
                            <mat-icon svgIcon="create_trigger"></mat-icon>
                            {{'create' | translate}}
                        </button>
                        <button [class.button-active]="graphState.actionHandler == htmlActionHandlerType.DELETE_TRIGGER"
                            mat-flat-button color="accent" [disabled]="!graphState.focusedNode.data"
                            [ngStyle]="{'opacity': graphState.focusedNode.data ? '1.0': '0.5'}">
                            <mat-icon svgIcon="delete_trigger"></mat-icon>
                            {{'delete' | translate}}
                        </button>
                    </div>
                </mat-expansion-panel> -->
            </div>

            <div *ngIf="graphState.focusedNode.data
                            &&(graphState.focusedNode.data.TYPE != 'EXTERNAL' && graphState.focusedNode.data.TYPE != 'INTERNAL')" class="focus-container background-theme-primary">
                <!-- <p> -->

                <!-- Selected: -->
                <mat-icon svgIcon="{{graphState.focusedNode.data.TYPE.toLowerCase()}}"></mat-icon> {{(graphState.focusedNode.data.NAME ?
                  graphState.focusedNode.data.NAME.split('.').pop() : 'none')}}
                <!-- </p> -->
                <br>
                <br>

                <div class="row">
                    <table>
                        <tr>
                            <td class="row-header">
                                <p>{{'id'| translate}}:</p>
                            </td>
                            <td>
                                <p>
                                    {{graphState.focusedNode.data.ID}}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="row-header">
                                <p>{{'path'| translate}}:</p>
                            </td>
                            <td>
                                <p>
                                    {{toolboxService.wrapPathStringVertical(graphState.focusedNode.data.NAME)}}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="row-header">
                                <p>{{'owner'| translate}}:</p>
                            </td>
                            <td>
                                <p>
                                    {{graphState.focusedNode.data.OWNER}}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="row-header">
                                <p>{{'type'| translate}}:</p>
                            </td>
                            <td>
                                <p>
                                    {{graphState.focusedNode.data.TYPE}}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="row-header">
                                <p>{{'dependency_mode'| translate}}:</p>
                            </td>
                            <td>
                                <p>
                                    {{graphState.focusedNode.data.DEPENDENCY_MODE}}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="row-header">
                                <p>{{'submit_suspended'| translate}}:</p>
                            </td>
                            <td>
                                <p>
                                    {{graphState.focusedNode.data.SUBMIT_SUSPENDED}}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="row-header">
                                <p>{{'ignored_dependencies'| translate}}:</p>
                            </td>
                            <td>
                                <p>
                                    {{graphState.focusedNode.data.IGNORED_DEPENDENCIES}}
                                </p>
                            </td>
                        </tr>

                    </table>
                </div>
                <div class="focus-containerflex-box-2">
                    <button *ngIf="graphState.focusedNode.data.TYPE != 'RESTRICTED'" mat-flat-button color="primary" (click)="openSelectedItemDefinition()">
                        {{'open' | translate}} {{(graphState.focusedNode.data.NAME ?
                          graphState.focusedNode.data.NAME.split('.').pop() : 'none')}}
                    </button>
                </div>
            </div>
        </mat-drawer>

        <mat-drawer-content>
            <div class="tree-toolbar">
                <div class="list-toolbar fe-themed-border-bottom">

                    <button *ngIf="!graphState.loading" mat-flat-button color="secondary" (click)="refresh()">
                        <mat-icon svgIcon="refresh"></mat-icon> {{'refresh_tree' | translate}}
                    </button>
                    <button *ngIf="!graphState.loading" mat-flat-button [matMenuTriggerFor]="menu" color="secondary">
                        <mat-icon svgIcon="view_tree"></mat-icon>
                        {{'view' | translate}}
                    </button>
                    <button *ngIf="graphState.loading" mat-flat-button color="secondary" disabled>
                       <mat-icon [ngStyle]="{'opacity': graphState.loading ? '0.5': '1.0'}" svgIcon="refresh"></mat-icon> {{'refresh_tree' | translate}}
                    </button>
                    <button *ngIf="graphState.loading" mat-flat-button color="secondary" disabled>
                        <mat-icon [ngStyle]="{'opacity': graphState.loading ? '0.5': '1.0'}" svgIcon="view_tree"></mat-icon >
                        {{'view' | translate}}
                    </button>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="toggleHierarchyView('workflow')"
                            [disabled]="graphState.hasCycle || (graphState.ignoreDependentChildrenCoherences && !graphState.isVerticalTreeHierachy)">
                            <mat-icon [ngStyle]="{'opacity': graphState.hasCycle ? '0.5': '1.0'}" svgIcon="workflow"></mat-icon>
                            <span>{{'workflow' | translate}}</span>
                        </button>
                        <button mat-menu-item (click)="toggleHierarchyView('graph')"
                            [disabled]="(!graphState.ignoreDependentChildrenCoherences && !graphState.isVerticalTreeHierachy)">
                            <mat-icon
                                [ngStyle]="{'opacity': (!graphState.ignoreDependentChildrenCoherences && !graphState.isVerticalTreeHierachy) ? '0.5': '1.0'}"
                                svgIcon="graph_tree"></mat-icon>
                            <span>{{'graph' | translate}}</span>
                        </button>
                        <button mat-menu-item (click)="toggleHierarchyView('tree')" [disabled]="graphState.isVerticalTreeHierachy">
                            <mat-icon [ngStyle]="{'opacity': graphState.isVerticalTreeHierachy ? '0.5': '1.0'}"
                                svgIcon="old_hierachy"></mat-icon>
                            <span>{{'vertical_tree' | translate}}</span>
                        </button>
                    </mat-menu>
                    <div class="cycle-warn font-warn-500" *ngIf="graphState.hasCycle && cyclesChecked" color="warn">
                        <mat-icon svgIcon="warning"></mat-icon> {{'cycle_detected' | translate}}
                    </div>
                    <div class="cycle-running font-primary-500" *ngIf="!cyclesChecked && !graphState.loading" color="primary">
                        <mat-icon svgIcon="warning"></mat-icon> {{'cyclecheck_running' | translate}}
                    </div>
                </div>
            </div>
            <mat-progress-bar mode="indeterminate" *ngIf="graphState.loading">

            </mat-progress-bar>

            <!-- <mat-progress-bar mode="indeterminate" >

            </mat-progress-bar> -->
            <!-- [focusedNode]="focusedNode" -->
            <!-- [ignoreDependentChildrenCoherences]="ignoreDependentChildrenCoherences"
                    [isVerticalTreeHierachy]="isVerticalTreeHierachy" [actionHandler]="actionHandler"
                    [hierarchyType]="hierarchyType" [createEdgeType]="createEdgeType" -->
                    <!-- [hasCycle]="hasCycle" [loading]="loading"
                    [graphInitialized]="graphInitialized"  -->

            <ng-container *ngIf="graphState.graphInitialized">
                <app-graph-hierarchy *ngIf="!graphState.isVerticalTreeHierachy" class="app-graph-hierarchy" [tab]="tab"
                    [clusters]="cluster" [graphNodes]="graphNodes" [graphEdges]="graphEdges" [(graphState)]="graphState"
                    [refreshData]="refreshDataCallback" [clickNode]="clickNodeCallback"
                     [openActionHandler]="openActionHandlerCallback" [dependencyOpions]="dependencyOpions"
                    [customDagreLayout]="customDagreLayout" [focusNode]="focusNodeFromGraphCallback" [clearFocus]="clearFocusCallback"
                    [toggleHierarchyView]="toggleHierarchyViewCallback" [dataSource]="dataSource" [dependencyData]="dependencyData"
                    [hierarchyData]="hierarchyData" [treeControl]="treeControl" [clearSelection]="clearMenuSelectionCallback" [cyclesChecked]="cyclesChecked">
                </app-graph-hierarchy>
                <app-vertical-hierarchy *ngIf="graphState.isVerticalTreeHierachy" [treeControl]="treeControl"
                    [refreshData]="refreshDataCallback" [treeFlattener]="treeFlattener" [dataSource]="dataSource"
                     [toggleHierarchyView]="toggleHierarchyViewCallback"
                     [dependencyData]="dependencyData"
                    [focusNode]="focusNodeFromTreeCallback"
                     [unresolvedHandling]="dependencyOpions.unresolvedHandling"
                    [dependencyMode]="dependencyOpions.dependencyMode" [stateSelection]="dependencyOpions.stateSelection"
                    [clickNode]="clickNodeCallback" [dependencyOpions]="dependencyOpions" [(graphState)]="graphState">
                </app-vertical-hierarchy>
            </ng-container>
        </mat-drawer-content>
    </mat-drawer-container>


</div>



<!-- </iframe> -->
