<div class="tab-form-container fe-form-generator" [formGroup]="form">
    <ng-container *ngFor="let item of editorform.FIELDS; index as i">
        <ng-container
            *ngIf="(editorformOptionsArr[i].render != undefined && editorformOptionsArr[i].render.hidden === false) && ((i < loadNumber) || loadNumber < 0); else emptyCell">
            <!-- Field Loader Start -->
            <ng-container *ngIf="item.TITLE_TRANSLATE !== '' && item.TITLE_TRANSLATE !== undefined">
                <h2 class="field-title">{{ item.TITLE_TRANSLATE | translate }}</h2>
                <!-- <mat-divider></mat-divider> -->
            </ng-container>
            <ng-container *ngIf="item.TYPE === 'INPUT'">
                <app-input
                    [class]="editorformOptionsArr[i].flags.CSS_CLASS + (editorformOptionsArr[i].render.invisible == true ? 'invisible' : '')"
                    [style]="editorformOptionsArr[i].flags.CSS" [field]="item" [bicsuiteObject]="bicsuiteObject" [parentBicsuiteObject]="parentBicsuiteObject"
                    [form]="form" [tabInfo]="tabInfo" [editorformOptions]="editorformOptionsArr[i]"></app-input>
            </ng-container>
            <ng-container *ngIf="item.TYPE === 'TEXT'">
                <app-text
                    [class]="editorformOptionsArr[i].flags.CSS_CLASS + (editorformOptionsArr[i].render.invisible == true ? 'invisible' : '')"
                    [style]="editorformOptionsArr[i].flags.CSS" [field]="item" [bicsuiteObject]="bicsuiteObject" [parentBicsuiteObject]="parentBicsuiteObject"
                    [form]="form" [tabInfo]="tabInfo" [editorformOptions]="editorformOptionsArr[i]" [styleAttr]="editorformOptionsArr[i].flags.STYLE_ATTR"></app-text>
            </ng-container>
            <ng-container *ngIf="item.TYPE === 'TEXTAREA'">
                <app-textarea
                    [class]="editorformOptionsArr[i].flags.CSS_CLASS + (editorformOptionsArr[i].render.invisible == true ? 'invisible' : '')"
                    [style]="editorformOptionsArr[i].flags.CSS" [field]="item" [bicsuiteObject]="bicsuiteObject" [parentBicsuiteObject]="parentBicsuiteObject"
                    [form]="form" [tabInfo]="tabInfo" [editorformOptions]="editorformOptionsArr[i]"></app-textarea>
            </ng-container>
            <ng-container *ngIf="item.TYPE === 'CHOOSER'">
                <app-chooser
                    [class]="editorformOptionsArr[i].flags.CSS_CLASS + (editorformOptionsArr[i].render.invisible == true ? 'invisible' : '')"
                    [style]="editorformOptionsArr[i].flags.CSS" [field]="item" [bicsuiteObject]="bicsuiteObject"
                    [form]="form" [tabInfo]="tabInfo" [editorformOptions]="editorformOptionsArr[i]"
                    [formArrayIdentifier]="formArrayIdentifier" [parentBicsuiteObject]="parentBicsuiteObject"></app-chooser>
            </ng-container>
            <ng-container *ngIf="item.TYPE === 'CHECKBOX'">
                <app-checkbox
                    [class]="editorformOptionsArr[i].flags.CSS_CLASS + (editorformOptionsArr[i].render.invisible == true ? 'invisible' : '')"
                    [style]="editorformOptionsArr[i].flags.CSS" [field]="item" [bicsuiteObject]="bicsuiteObject"
                    [form]="form" [tabInfo]="tabInfo" [editorformOptions]="editorformOptionsArr[i]" [parentBicsuiteObject]="parentBicsuiteObject"
                    [formArrayIdentifier]="formArrayIdentifier"></app-checkbox>
            </ng-container>
            <ng-container *ngIf="item.TYPE === 'SELECT'">
                <app-select
                    [class]="editorformOptionsArr[i].flags.CSS_CLASS + (editorformOptionsArr[i].render.invisible == true ? 'invisible' : '')"
                    [style]="editorformOptionsArr[i].flags.CSS" [field]="item" [bicsuiteObject]="bicsuiteObject"
                    [form]="form" [tabInfo]="tabInfo" [editorformOptions]="editorformOptionsArr[i]" [parentBicsuiteObject]="parentBicsuiteObject"
                    [formArrayIdentifier]="formArrayIdentifier"></app-select>
            </ng-container>
            <ng-container *ngIf="item.TYPE === 'TABLE'">
                <app-table
                    [class]="editorformOptionsArr[i].flags.CSS_CLASS + (editorformOptionsArr[i].render.invisible == true ? 'invisible' : '')"
                    [style]="editorformOptionsArr[i].flags.CSS" [field]="item" [bicsuiteObject]="bicsuiteObject" [parentBicsuiteObject]="parentBicsuiteObject"
                    [form]="form" [tabInfo]="tabInfo" [editorformOptions]="editorformOptionsArr[i]"
                    [parentHasLoaded]="parentHasLoaded" (setTabHasLoaded)="setHasLoaded($event)"></app-table>
            </ng-container>
            <ng-container *ngIf="item.TYPE === 'ROW_BUTTON'">
                <app-row-button
                    [class]="editorformOptionsArr[i].flags.CSS_CLASS + (editorformOptionsArr[i].render.invisible == true ? 'invisible' : '')"
                    [bicsuiteObject]="bicsuiteObject" [field]="item"
                    [tabInfo]="tabInfo" [editorformOptions]="editorformOptionsArr[i]" [callbackFunction]="callbackFunction"></app-row-button>
            </ng-container>
            <ng-container *ngIf="item.TYPE === 'ICONS'">
                <app-form-icons
                     [class]="editorformOptionsArr[i].flags.CSS_CLASS + (editorformOptionsArr[i].render.invisible == true ? 'invisible' : '')"
                    [style]="editorformOptionsArr[i].flags.CSS" [field]="item" [bicsuiteObject]="bicsuiteObject"
                    [form]="form" [tabInfo]="tabInfo" [editorformOptions]="editorformOptionsArr[i]"></app-form-icons>
            </ng-container>
            <ng-container *ngIf="item.TYPE === 'ACCORDION'">
                <app-accordion [accordionOpenStates]="accordionOpenStates"
                    [class]="editorformOptionsArr[i].flags.CSS_CLASS + (editorformOptionsArr[i].render.invisible == true ? 'invisible' : '')"
                    [style]="editorformOptionsArr[i].flags.CSS" [field]="item" [bicsuiteObject]="bicsuiteObject" [parentBicsuiteObject]="parentBicsuiteObject"
                    [form]="form" [tabInfo]="tabInfo" [editorformOptions]="editorformOptionsArr[i]" [parentHasLoaded]="parentHasLoaded" (setTabHasLoaded)="setHasLoaded($event)"></app-accordion>
            </ng-container>
            <ng-container *ngIf="item.TYPE === 'TREE-TABLE'">
                <app-form-tree-table
                    [class]="editorformOptionsArr[i].flags.CSS_CLASS + (editorformOptionsArr[i].render.invisible == true ? 'invisible' : '')"
                    [style]="editorformOptionsArr[i].flags.CSS" [field]="item" [bicsuiteObject]="bicsuiteObject" [parentBicsuiteObject]="parentBicsuiteObject"
                    [form]="form" [tabInfo]="tabInfo" [editorformOptions]="editorformOptionsArr[i]" [parentHasLoaded]="parentHasLoaded" (setTabHasLoaded)="setHasLoaded($event)">
                </app-form-tree-table>
            </ng-container>
            <ng-container *ngIf="item.TYPE === 'LOADBAR'">
                <app-load-bar
                    [class]="editorformOptionsArr[i].flags.CSS_CLASS + (editorformOptionsArr[i].render.invisible == true ? 'invisible' : '')"
                    [style]="editorformOptionsArr[i].flags.CSS" [field]="item" [bicsuiteObject]="bicsuiteObject"
                    [form]="form" [tabInfo]="tabInfo" [editorformOptions]="editorformOptionsArr[i]"></app-load-bar>
            </ng-container>
            <ng-container *ngIf="item.TYPE === 'COMMENT'">
                <app-comment
                    [class]="editorformOptionsArr[i].flags.CSS_CLASS + (editorformOptionsArr[i].render.invisible == true ? 'invisible' : '')"
                    [style]="editorformOptionsArr[i].flags.CSS" [field]="item" [bicsuiteObject]="bicsuiteObject"
                    [tabInfo]="tabInfo" [editorformOptions]="editorformOptionsArr[i]"></app-comment>
            </ng-container>
            <ng-container *ngIf="item.TYPE === 'INTERVAL_SETUP'">
                <app-interval-setup
                    [class]="editorformOptionsArr[i].flags.CSS_CLASS + (editorformOptionsArr[i].render.invisible == true ? 'invisible' : '')"
                    [style]="editorformOptionsArr[i].flags.CSS" [field]="item" [bicsuiteObject]="bicsuiteObject"
                    [form]="form" [tabInfo]="tabInfo" [editorformOptions]="editorformOptionsArr[i]" [parentBicsuiteObject]="parentBicsuiteObject"
                    [formArrayIdentifier]="formArrayIdentifier"></app-interval-setup>
            </ng-container>
            <ng-container *ngIf="item.TYPE === 'FILE_INPUT'">
                <app-file-input
                    [class]="editorformOptionsArr[i].flags.CSS_CLASS + (editorformOptionsArr[i].render.invisible == true ? 'invisible' : '')"
                    [style]="editorformOptionsArr[i].flags.CSS" [field]="item" [bicsuiteObject]="bicsuiteObject" [parentBicsuiteObject]="parentBicsuiteObject"
                    [form]="form" [tabInfo]="tabInfo" [editorformOptions]="editorformOptionsArr[i]"></app-file-input>
            </ng-container>
            <ng-container *ngIf="item.TYPE === 'DIVIDER'">
                 <div class="divider"></div>
            </ng-container>
            <!-- 10 pixel spacer -->
            <ng-container *ngIf="item.TYPE === 'SPACER'">
                <div class="spacer"></div>
           </ng-container>
            <!-- Field Loader End -->
        </ng-container>
    </ng-container>

    <!-- this is only needed inside tables  -->
    <ng-template #emptyCell>
      <ng-container *ngIf="formArrayIdentifier">
        &nbsp;
      </ng-container>
    </ng-template>
</div>
