

.tab-form-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 25px;
}

/* make form components full length */
.tab-form-container > {
    app-input,
    app-text,
    app-comment,
    app-select,
    app-checkbox,
    app-chooser,
    app-textarea,
    .field-title {
        flex: 0 0 100%;
    }
    app-accordion {
        // margin-top: 7px;
        // margin-bottom: 7px;
        flex: 1 1 auto; //calc(50% - 40px);
    }
    app-table {
        width: 0px; // Fixes content overflow
        flex: 0 0 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }
    app-form-tree-table {
        width: 0px; // Fixes content overflow
        flex: 0 0 100%;
        overflow-x: auto;
    }
}

.divider {
    // border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 100);
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 1px;
}
.spacer {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.field-title {
    margin-top: 2.5px;
}


.invisible {
    display: none !important;
}

ng-container {
    width: 100%;
}
