<ng-container *ngIf="editorformOptions.render.hidden === false">
    <button *ngIf="!editorformOptions.render.disabled" mat-icon-button (click)="onClick()"
        matTooltip="{{field.TRANSLATE | translate}}" matTooltipPosition="above">
        <ng-container *ngIf="field.ICON_LOOKUP != undefined">
            <mat-icon svgIcon="{{ field.ICON_LOOKUP }}"></mat-icon>
        </ng-container>
        {{ bicsuiteObject[field.NAME] | displayModifier:
        {
        displayMode: field.DISPLAY_MODIFIER
        }
        }}
    </button>
    <button *ngIf="editorformOptions.render.disabled" mat-icon-button disabled [ngStyle]="{'opacity': '0.5'}"
    matTooltip="{{field.TRANSLATE | translate}}" matTooltipPosition="above">
    <ng-container *ngIf="field.ICON_LOOKUP != undefined">
        <mat-icon svgIcon="{{ field.ICON_LOOKUP }}"></mat-icon>
    </ng-container>
    {{ bicsuiteObject[field.NAME] | displayModifier:
    {
    displayMode: field.DISPLAY_MODIFIER
    }
    }}
</button>
</ng-container>