.login-component-wrapper {
    padding-top: 10px;
    height: calc(100% - 10px);
    width: 100%;

    .login-content {
        display: grid;
        // row-gap: 40px;
        padding: 10px;
        margin: auto;
        
        max-width: 850px;

        .card-brand-title {
            grid-column: 1;
            grid-row: 1;

            max-width: 500px;
            img {
                width: 100%;
            }
        }

        .login-translate-wrapper {
            grid-column: 2;
            grid-row: 1;
        }
        .sharp-border {
            border-radius: 0px;
        }
        .login-credentials-card-wrapper {
            margin-top: 40px;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row: 2;

            .login-credentials-card {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 20px;
                grid-auto-rows: minmax(100px, auto);

                .login-credientials {
                    grid-column: 1;
                    grid-row: 1;
                    // border-right: solid 1px rgb(218, 218, 218);
                    display: grid;

                    mat-form-field {
                        width: 100%;
                    }
    
                    form {
                        margin-bottom: -30px;
                    }
                    
                    .login-credientials-buttons {
                        display: flex;
                        justify-content: space-between;
                        height: 0%;
                        align-items: center;

                        button {
                            margin-top: 30px;
                        }
                    }
                }

                .login-connections-list {
                    grid-column: 2;
                    grid-row: 1;
                }
            }
        }
    }

   
    .login-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: calc(100% - 20px);
        text-align: right;
        padding: 10px;
        float: right;
    }

    .login-progress-bar {
        grid-column-start: 1;
        grid-column-end: 3;
        // grid-row: 2;
    }
}