<div class="login-component-wrapper">




  <div class="login-content">

    <div class="card-brand-title">
      <span><img class="logo" alt="Logo" src="{{ logo }}"></span>
      <!--span class="edition-headline"><b>BICsuite</b> Enterprise</span-->
    </div>

    <div class="login-translate-wrapper">
      <app-translate></app-translate>
    </div>


    <mat-progress-bar class="login-progress-bar" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <mat-card class="login-credentials-card-wrapper mat-elevation-z4 sharp-border">
      <mat-card-content class="login-credentials-card">
        <div class="login-credientials">
          <form [formGroup]="loginForm">
            <p class="center">{{'sign_in_with_an_account' | translate}}</p>

            <mat-form-field appearance="outline">
              <mat-label>{{'username' | translate}}</mat-label>
              <input matInput type="text" formControlName="form_username">
              <mat-error *ngIf="loginForm.controls.form_username.invalid">
                {{getFormErrorMessage(loginForm.controls.form_username) | translate}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{'password' | translate}}</mat-label>
              <input matInput type="password" formControlName="form_password">
              <mat-error *ngIf="loginForm.controls.form_password.invalid">
                {{getFormErrorMessage(loginForm.controls.form_password) | translate}}</mat-error>
            </mat-form-field>

            <!-- <ng-template *ngIf="serverList.length > 0">
              <mat-form-field appearance="outline">
                <mat-label>{{'host' | translate}}</mat-label>
                <input matInput type="text" formControlName="form_host" required>
                <mat-error *ngIf="loginForm.controls.form_host.invalid">
                  {{getFormErrorMessage(loginForm.controls.form_host) | translate}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>{{'port' | translate}}</mat-label>
                <input matInput type="text" formControlName="form_port" required>
                <mat-error *ngIf="loginForm.controls.form_port.invalid">
                  {{getFormErrorMessage(loginForm.controls.form_port) | translate}}</mat-error>
              </mat-form-field>
            </ng-template> -->

            <mat-form-field  appearance="outline">
              <mat-label>{{'server' | translate}}</mat-label>
              <mat-select formControlName="form_serverName" required [(value)]="selectedServer">
                <mat-option *ngFor="let item of serverList" [value]="item.NAME">{{item.NAME}}</mat-option>
              </mat-select>
            </mat-form-field>

            <div class="login-credientials-buttons">
              <div class="mr-10 mt-10">
                <button [disabled]="loading" mat-stroked-button color="primary" (click)="openAddConnectionsDialog()">{{'add_session' |
                  translate}}</button>
              </div>
              <div class="mt-10">
                <button [disabled]="loading" mat-stroked-button color="primary" (click)="login()">{{'connect' | translate}}</button>
              </div>
            </div>
          </form>
        </div>
        <!-- wether to show or not to show the table -->
        <!-- *ngIf="!this.toolboxService.isEmpty(this.connectionListService.savedConnections)" -->
        <div class="login-connections-list">
          <p class="center">{{'use_saved_connection' | translate}}</p>
          <app-connection-list [loginForm]="loginForm"></app-connection-list>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <footer class="login-footer">
    <span><img class="logo" alt="Logo" src="assets/independit_wo_gmbh.svg"></span>
  </footer>
  <!-- </mat-drawer-container> -->
</div>
