<div class="flex-item" id="efc-text-component-selector" [style]="style">

    <ng-container *ngIf="field.USE_LABEL == 'true' || field.USE_LABEL == true || field.USE_LABEL === undefined">
        <ng-container *ngIf="field.TRANSLATE !== undefined">
            <mat-icon *ngIf="iconReference != undefined && false" svgIcon="{{ iconReference }}"></mat-icon>
            <label class="fe-generated-label">{{ field.TRANSLATE | translate }}:</label>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="field.CUSTOM_LABEL !== undefined">
        <label class="fe-generated-label">{{field.CUSTOM_LABEL}}:</label>
    </ng-container>
    <ng-container  *ngIf="isClickable && !editorformOptions.render.disabled">
        <span interactiveTooltip="{{field.TOOLTIP ? (field.TOOLTIP_MESSAGE ? (field.TOOLTIP_MESSAGE | translate): bicsuiteObject[field.TOOLTIP_LOOKUP]) : null}}"
              class="{{ iconReference == 'edit' ? 'font-grey-950' : 'font-blue-500 fe-clickable' }} {{'VALUE_' + text}} text-container" 
              (click)="onClick(field.ON_CLICK)">
            <mat-icon *ngIf="iconReference != undefined && (text || iconReference == 'edit')" svgIcon="{{ iconReference }}"
                [ngStyle]="{'opacity': this.editorformOptions.render.disabled ? '0.5': '1.0'}"></mat-icon>
            {{ text | displayModifier: {
            displayMode: field.DISPLAY_MODIFIER
            }
            }}
            <span *ngIf="field.UNIT !== undefined"> {{ field.UNIT | translate}}</span>
            <span class="form-invalid" *ngIf="formControl.invalid">{{ getFormErrorMessage(formControl) | translate
                }} </span>
        </span>
    </ng-container>
    <ng-container *ngIf="!isClickable || (isClickable && editorformOptions.render.disabled)">
        <span interactiveTooltip="{{field.TOOLTIP ? (field.TOOLTIP_MESSAGE ? (field.TOOLTIP_MESSAGE | translate): bicsuiteObject[field.TOOLTIP_LOOKUP]) : null}}"
             class="{{'VALUE_' + text}} text-container">
            <mat-icon *ngIf="iconReference != undefined && text" svgIcon="{{ iconReference }}"
                [ngStyle]="{'opacity': this.editorformOptions.render.disabled ? '0.5': '1.0'}"></mat-icon>
            {{ text | displayModifier: {
            displayMode: field.DISPLAY_MODIFIER
            }
            }}
            <span *ngIf="field.UNIT !== undefined"> {{ field.UNIT | translate}}</span>
        </span>
    </ng-container>

    <!--  -->
</div>
