
#efc-text-component-selector {
  .flex-item {
    // TODO CHECK WHY FLEX HERE

    // display: flex;
    // align-items: flex-start;
  }
  span {
    display: inline-block;
    padding: 2px 0px;

    mat-icon {
      display: inline-flex;
      vertical-align: middle;
    }
  }

  .form-invalid {
    // color: mat.get-color-from-palette($fe-theme-warn, 500);
  }

  label {
    min-width: 250px;
    font-weight: bold;
    display: inline-block;
  }

  .click-text:hover {
    // color: mat.get-color-from-palette($fe-theme-primary, 500);
    // background-color: mat-color($fe-theme-primary, 50);
  }

  .fe-clickable {
    // padding-left: 5px;
    text-decoration: underline;
    font-size: 13px;
    // color: mat.get-color-from-palette($fe-theme-primary, 500);
    // color: mat.get-color-from-palette($fe-theme-primary, 500);
  }

  .fe-theme-DARK {
    .fe-clickable {
      // color: mat.get-color-from-palette($fe-theme-primary, 200);
    }
  }
  .text-container {
    // white-space: nowrap;
  }
}
