<ng-container *ngIf="isCreated">
    <ng-container *ngIf="editMode === false">
        <ng-container *ngFor="let comment of viewComments;">
            <mat-card>
                <ng-container *ngIf="comment.TAG !== null && comment.TAG !== ''">
                    <h2> {{ comment.TAG }}</h2>
                </ng-container>
                <ng-container *ngFor="let desc of comment.DESCRIPTION">
                    <div class="comment-text">{{ desc }}</div>
                </ng-container>
            </mat-card>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="editMode === true">
        <app-table #commentTable [field]="editorformField" [bicsuiteObject]="commentsBicsuiteCopy" [form]="form" [tabInfo]="tabInfo" [editorformOptions]="editorformOptions">
        </app-table>
    </ng-container>

    <ng-container>
        <div class="submit-container" *ngIf="editMode === false">
            <button mat-flat-button matSuffix (click)="comment()" color="primary" [disabled]="isDisable">{{ "edit" | translate }}</button>
        </div>

        <div class="submit-container" *ngIf="editMode === true">
            <button mat-flat-button matSuffix (click)="save()" color="primary" [disabled]="isDisable">{{ "save" | translate }}</button>
            <button mat-flat-button matSuffix (click)="cancel()" color="primary" [disabled]="isDisable">{{ "cancel" | translate }}</button>
        </div>
    </ng-container>
</ng-container>