.submit-container {
    display: flex;
    justify-content: flex-start;
}

.mat-form-field.input-container
{   
    width: 100%;
}

.mat-form-field.tag-container 
{
    margin-top: 20px;
    width: 50%;
}

.mat-card {
    margin: 10px;
}

.submit-container button {
    margin: 10px;
}

.comment-text {
    white-space: pre-wrap;
    font-family: 'Courier New', monospace;
}