
<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> {{ 'name' | translate }} </th>
    <td mat-cell *matCellDef="let connection"> {{connection.name}} </td>
  </ng-container>

  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef> {{ 'user' | translate }} </th>
    <td mat-cell *matCellDef="let connection"> {{connection.user}} </td>
  </ng-container>

  <ng-container matColumnDef="host">
    <th mat-header-cell *matHeaderCellDef> {{ 'server' | translate}} </th>
    <td mat-cell *matCellDef="let connection"> {{connection.serverName}}</td>
  </ng-container>

  <ng-container matColumnDef="choose">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let connection">
      <button mat-stroked-button color="primary" (click)="fillLoginForm(connection)">
        {{ 'select' | translate }} <mat-icon svgIcon="done"></mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let connection">
      <button mat-stroked-button color="primary" (click)="removeConnection(connection)">
        {{ 'remove' | translate }} <mat-icon svgIcon="close"></mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
