table {
    width: 100%;

    .mat-cell {
      padding: 8px 8px 8px 0;
    }
    .mat-header-row {
      height: 40px;
      .mat-header-cell {
        color: black;
        font-size: 14px;
        padding: 0px 8px 0px 0;
      }

      .mat-header-cell:nth-child(3) {
        min-width: 160px;
      }
    }
   
  }