<h2 mat-dialog-title>{{'add_session' | translate}}</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field appearance="outline">
    <mat-label>{{'name' | translate}}</mat-label>
    <input matInput text [(ngModel)]="dialogData.connectionName">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <mat-checkbox *ngIf="allowSavePasswords" id="save-password-checkbox" [(ngModel)]="dialogData.savePassword">{{ 'remember_password' | translate }}</mat-checkbox>
  <button mat-stroked-button [mat-dialog-close]="undefined">{{'cancel' | translate}}</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="dialogData">{{'save' | translate}}</button>
</mat-dialog-actions>
