
#tree-list-componend-selector {
  .example-tree-invisible {
    display: none;
  }
  .example-tree ul {
    padding-left: 0px;
    padding-left: 0px;
    // border-left: 1px solid mat-color($fe-theme-grey, 50);
  }
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  .mat-tree-node li {
    padding-left: 0px;
    // border-left: 1px solid mat-color($fe-theme-grey, 50);
  }
  .progressbar-spacer {
    height: 4px;
  }
  .table-element {
    margin-left: 0px !important;
  }

  .hrLast {
    align-self: flex-start;
    height: 14px;
    background: none;
  }

  .tree-list-root-spacer {
    min-width: 24px;
    max-width: 24px;    
  }
  .tree-list-node-spacer {
    min-width: 9px;
    max-width: 9px;    
  }

  .tree-list-container {
    overflow: auto;
  }

  // .tree-content {
  //     // padding-right: 10px;
  //     padding-top: 8px;
  //     // margin-top: 8px;
  //     overflow: auto;
  //     // background-color: mat-color($fe-theme-primary, white);
  //     height: calc(100vh - (117px + 37px));
  //     width: calc(100% - 20px);
  //     white-space: nowrap;

  //     margin-right: 10px;
  //     margin-left: 10px;
  //     min-width: 150px;
  //     // transform: scale(0.90);
  // }

  .tree-content {
    background-color: transparent;
    height: calc(100vh - 190px);
    width: calc(100% - 10px);
    white-space: nowrap;
    min-width: 150px;
    margin-left: 10px;
    margin-right: 0px;
  }

  .mat-tree-node {
    font-size: 12px !important;
    // color: mat.get-color-from-palette($fe-theme-grey, 500);
    // background: mat.get-color-from-palette($fe-theme-primary, white);
    height: 26px !important;
    line-height: 26px !important;
    min-height: 26px;
    // button[mat-icon-button].mat-icon-button {
    //     // zoom: 0.8; // NOTE: You may need to adjust this value to achieve exactly 48px.
    // }
    // .mat-icon {
    //     min-width: 24px !important;
    // }

    // .tree-pin {
    //     height: 28px !important;
    //     line-height: 28px !important;
    //     min-height: 26px;
    // }

    // .table-column {
    //     margin-left: auto;
    // }
    div {
      // padding-left: 10px;
      display: flex;
      align-items: center;
    }

    .tree-node-body {
      cursor: pointer;
      height: 26px !important;
      line-height: 26px !important;
      min-height: 26px;
      // width: 100%;
    }
    mat-icon {
      height: 24px;
      width: 24px;
      min-width: 24px;
    }

  }
  // .tree-node-body:hover {
  //   background: mat.get-color-from-palette($fe-theme-primary, 50);
  // }
  .progressbar-spacer {
    height: 4px;
  }

  .navigation-list-toolbar {
    overflow: hidden;
    // position: sticky; __<<ngThemingMigrationEscapedComment0>>__
    // top: 50; __<<ngThemingMigrationEscapedComment1>>__

    // padding-top: 4px;
    // padding-bottom: 4px;
    padding-left: 2px;
    // background-color: mat.get-color-from-palette($fe-theme-primary, white);
    background-color: transparent !important;
    z-index: 20;

    display: flex;

    mat-icon {
      height: 30px;
      width: 30px;
    }
    // border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
  }

  .is-invisible {
    display: none;
  }

  .is-pinParent {
    // color: mat.get-color-from-palette($fe-theme-accent, 600);
  }

  table {
    width: calc(100% - 10px);
    margin-left: 10px;
    padding-left: 5px;
  }

  th.mat-header-cell {
    border: 0;
    text-align: left;
  }

  .mat-checkbox {
    padding-left: 10px;
    padding-right: 5px;
  }

  .mat-table {
    .mat-checkbox {
      padding-left: 8px;
      padding-right: 5px;
    }
  }

  .mat-header-row {
    height: 2.5em;
    // margin-right: 10px;
    // margin-left: 8.0px;
  }

  .header-cell, .table-cell, .checkbox-cell {
    padding: 0px 2px 0px 2px;
    text-wrap: nowrap;
  }

  .float-right {
    // float: right;
    margin-left: auto;
  }

  .monitor-list-toolbar-button-wrapper {
    padding-right: 10px !important;
    padding-left: 5px !important;
    .button-text {
      padding-left: 5px !important;
    }
  }
  // .H {
  //     background-color: mat-color($fe-theme-accent, 50);
  //     mix-blend-mode: multiply;
  // }

  .CENTER {
    text-align: center;
    span {
      margin: auto;
    }
  }
  .LEFT {
    // text-align: left;
  }
  .RIGHT {
    text-align: right;
    span {
      margin-left: auto;
    }
  }
  .job-group-name {
    width: 100%;
  }


  .H {
    // background-color: mat-color($fe-theme-accent, 50);
    // mix-blend-mode: multiply;
  }
  .crop-name {
    // width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  virtual-scroller {
    width: calc(100%);
    height: calc(100vh - 206px);
    // background: #ebf1f5;
  }
  thead {
    opacity: 1 !important;
    z-index: 200;
  }

  th.header-cell {
    z-index: 200;
    opacity: 1 !important;
    border: 0;
    text-align: left;

    font-weight: 200 !important;
  }
  .header-row {
    opacity: 1 !important;
    // background: rgba(255, 255, 255, 1);
    // color: mat.get-color-from-palette($fe-theme-grey, 300);

    // font-weight: 300;
    z-index: 50;
    height: 2.5em;
    margin-right: 10px;
    margin-left: 8px;
  }

  .master-table-row {
    font-size: 12px !important;
    // color: mat.get-color-from-palette($fe-theme-grey, 500);
    // background: mat.get-color-from-palette($fe-theme-primary, white);
    height: 26px !important;
    line-height: 26px !important;
    min-height: 26px;
    //  button[mat-icon-button].mat-icon-button {
    //     zoom: 0.8; // NOTE: You may need to adjust this value to achieve exactly 48px.
    // }

    div {
      // padding-left: 10px;
      display: flex;
      align-items: center;

      float: left;
      white-space: nowrap;
      height: 26px !important;
    }

    .master-item-body {
      // align-items: flex-start;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      height: 26px !important;
      line-height: 26px !important;
      min-height: 26px;
      max-height: 26px;
      // width: 100%;
      // .job-group-icon {
      //     height: 24px;
      // }
    }

    td {
      height: 26px !important;
      max-height: 26px !important;
      white-space: nowrap;
    }
    td.operations {
      max-width: 130px !important;
    }
    th.operations {
      max-width: 130px !important;
    }

    th.checkbox-cell {
      width: 36px !important;
    }
    td.checkbox-cell {
      width: 36px !important;
    }
  }
  // .master-item-body:hover {
  //   background: mat.get-color-from-palette($fe-theme-primary, 50);
  // }

  // hr {
  //   border: 0;
  //   height: 1px;
  //   // background: mat.get-color-from-palette($fe-theme-grey, 50);
  //   width: 12px;
  //   min-width: 12px;
  //   margin: 0px;
  //   margin-right: 2px;
  //   margin-left: -12px;
  // }

  hr {
    border: 0;
    height: 1px;
    // background: mat.get-color-from-palette($fe-theme-grey, 50);
    width: 6px;
    margin: 0;
    margin-right: 3px;
  }

  .indent {
    width:0px;
    min-width: 0px;
    max-width: 0px;
    height: 28px;
    margin-left: 12px;
  }

  .indent-last {
    width: 0px;
    min-width: 0px;
    max-width: 0px;
    height: 28px;
    margin-left: 12px;
  }

  // .partCollapsed {
  //   color: mat.get-color-from-palette($fe-theme-accent, 500);
  // }
  .hit-arrow {
    padding-left: 10px;
  }
}
