<div class="tree-list-container" *ngIf="isActive" id="tree-list-componend-selector">

    <div class="tree-toolbar">
        <div class="navigation-list-toolbar fe-themed-border-bottom">
            <button class="monitor-list-toolbar-button-wrapper" [disabled]="" mat-button (click)="reloadTree()"
                matTooltip="{{'reload' | translate}}, last reload: {{lastReload}}" matTooltipPosition="above" [disabled]="isLoading" [ngStyle]="{'opacity': isLoading ? '0.5': '1.0'}">
                <mat-icon svgIcon="refresh"></mat-icon>
                <span *ngIf="buttonHasSpace" class="button-text">{{'reload' | translate}}</span>
            </button>
            <button class="monitor-list-toolbar-button-wrapper" mat-button (click)="displayPath = !displayPath" matTooltip="{{'show_path' | translate}}"
                matTooltipPosition="above" [disabled]="isLoading" [ngStyle]="{'opacity': isLoading ? '0.5': '1.0'}">
                <mat-icon svgIcon="show-path"></mat-icon>
                <span *ngIf="buttonHasSpace && displayPath" class="button-text">{{'hide_path' | translate}}</span>
                <span *ngIf="buttonHasSpace && !displayPath" class="button-text">{{'show_path' | translate}}</span>
            </button>
            <button class="monitor-list-toolbar-button-wrapper" mat-button (click)="openSettings()" matTooltip="{{'list_settings' | translate}}"
                matTooltipPosition="above" [disabled]="isLoading" [ngStyle]="{'opacity': isLoading ? '0.5': '1.0'}">
                <mat-icon svgIcon="edit_large"></mat-icon>
                <span *ngIf="buttonHasSpace" class="button-text">{{'settings' | translate}}</span>
            </button>
            <button class="monitor-list-toolbar-button-wrapper" mat-button (click)="openFilter()" matTooltip="{{'list_settings' | translate}}"
                matTooltipPosition="above" [disabled]="isLoading" [ngStyle]="{'opacity': isLoading ? '0.5': '1.0'}">
                <mat-icon svgIcon="find"></mat-icon>
                <span *ngIf="buttonHasSpace" class="button-text">{{'filter_options' | translate}}</span>
            </button>
            <button class="monitor-list-toolbar-button-wrapper" mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                matTooltip="{{selectedBookmark ? selectedBookmark.bookmark: 'select Bookmark'}}"
                matTooltipPosition="above" [disabled]="isLoading" [ngStyle]="{'opacity': isLoading ? '0.5': '1.0'}">
                <mat-icon svgIcon="bookmark_border"></mat-icon>
                <span *ngIf="buttonHasSpace" class="button-text">{{selectedBookmark ? selectedBookmark.bookmark: 'undefined'}}</span>
            </button>
            <mat-menu class="monitor-list-toolbar-button-wrapper" #menu="matMenu">
                <button mat-menu-item (click)="newBookmark()">
                    <mat-icon svgIcon="library_add"></mat-icon>
                    <span>{{'save_as' | translate}}</span>
                </button>
                <button *ngIf="selectedBookmark && bookmarkService.isSelectedBookmarkEditable(selectedBookmark)" mat-menu-item (click)="saveBookmark()">
                    <mat-icon svgIcon="save_mat"></mat-icon>
                    <span>{{'save' | translate}}</span>
                </button>
                <button *ngIf="selectedBookmark && !bookmarkService.isSelectedBookmarkEditable(selectedBookmark)" mat-menu-item [ngStyle]="{'opacity': '0.5'}" disabled>
                  <mat-icon svgIcon="save_mat"></mat-icon>
                  <span>{{'save' | translate}}</span>
                </button>
                <button mat-menu-item *ngFor="let bookmark of bookmarks" (click)="selectBookmark(bookmark)"
                    [class.font-primary-500]="isSameBookmark(selectedBookmark, bookmark)">
                    <mat-icon svgIcon="bookmark_border"></mat-icon>
                    <span>{{bookmark.bookmark}}</span>
                    <!-- {{'scope' | translate}}:  -->
                    <span class="menu-right">{{bookmark.scope}}</span>
                </button>
            </mat-menu>
            <button class="monitor-list-toolbar-button-wrapper" *ngIf="settingsObject.ENABLE_BULK == 'true'" mat-button (click)="rerunSelectedRecursive()"
                matTooltip="{{'rerun_selected_recursive' | translate}}"
                [ngStyle]="{'opacity': !checkBulkOperationsAllowed('rerun') ? '0.5': '1.0'}"
                [disabled]="!checkBulkOperationsAllowed('rerun')" matTooltipPosition="above">
                <mat-icon svgIcon="rerun_selected"></mat-icon>
                <span *ngIf="buttonHasSpace" class="button-text">{{'rerun_selected_recursive' | translate}}</span>
            </button>
            <button class="monitor-list-toolbar-button-wrapper" *ngIf="settingsObject.ENABLE_BULK == 'true'" mat-button (click)="resumeSelected()"
                matTooltip="{{'resume_children_selected' | translate}}"
                [ngStyle]="{'opacity': !checkBulkOperationsAllowed('resume') ? '0.5': '1.0'}"
                [disabled]="!checkBulkOperationsAllowed('resume')" matTooltipPosition="above">
                <mat-icon svgIcon="resume_entity"></mat-icon>
                <span *ngIf="buttonHasSpace" class="button-text">{{'resume_children_selected' | translate}}</span>
            </button>
            <button class="monitor-list-toolbar-button-wrapper" *ngIf="settingsObject.ENABLE_BULK == 'true'" mat-button (click)="suspendSelected()"
                matTooltip="{{'suspend_children_selected' | translate}}"
                [ngStyle]="{'opacity': !checkBulkOperationsAllowed('suspend') ? '0.5': '1.0'}"
                [disabled]="!checkBulkOperationsAllowed('suspend')" matTooltipPosition="above">
                <mat-icon svgIcon="suspend_entity"></mat-icon>
                <span *ngIf="buttonHasSpace" class="button-text">{{'suspend_children_selected' | translate}}</span>
            </button>
            <button class="monitor-list-toolbar-button-wrapper" *ngIf="settingsObject.ENABLE_BULK == 'true'" mat-button (click)="enableSelected()"
                matTooltip="{{'enable_children_selected' | translate}}"
                [ngStyle]="{'opacity': !checkBulkOperationsAllowed('enable') ? '0.5': '1.0'}"
                [disabled]="!checkBulkOperationsAllowed('enable')" matTooltipPosition="above">
                <mat-icon svgIcon="enable"></mat-icon>
                <span *ngIf="buttonHasSpace" class="button-text">{{'enable' | translate}}</span>
            </button>
            <button class="monitor-list-toolbar-button-wrapper" *ngIf="settingsObject.ENABLE_BULK == 'true'" mat-button (click)="disableSelected()"
                matTooltip="{{'disable_children_selected' | translate}}"
                [ngStyle]="{'opacity': !checkBulkOperationsAllowed('disable') ? '0.5': '1.0'}"
                [disabled]="!checkBulkOperationsAllowed('disable')" matTooltipPosition="above">
                <mat-icon svgIcon="disable"></mat-icon>
                <span *ngIf="buttonHasSpace" class="button-text">{{'disable_children_selected' | translate}}</span>
            </button>
            <!-- <button *ngIf="settingsObject.ENABLE_BULK == 'true'" mat-button (click)="suspendSelected()"
            matTooltip="{{'suspend_children_selected' | translate}}"
            [ngStyle]="{'opacity': !checkBulkOperationsAllowed('cancel') ? '0.5': '1.0'}"
            [disabled]="!checkBulkOperationsAllowed('cancel')"
            matTooltipPosition="above">
            <mat-icon svgIcon="enable_selected"></mat-icon>
            <span class="button-text">{{'enable_selected' | translate}}</span>
        </button>
        <button *ngIf="settingsObject.ENABLE_BULK == 'true'" mat-button (click)="suspendSelected()"
            matTooltip="{{'suspend_children_selected' | translate}}"
            [ngStyle]="{'opacity': !checkBulkOperationsAllowed('cancel') ? '0.5': '1.0'}"
            [disabled]="!checkBulkOperationsAllowed('cancel')"
            matTooltipPosition="above">
            <mat-icon svgIcon="disable_small"></mat-icon>
            <span class="button-text">{{'disable_selected' | translate}}</span>
        </button> -->
            <!-- <button *ngIf="settingsObject.ENABLE_BULK == 'true'" mat-button (click)="suspendSelected()"
            matTooltip="{{'suspend_children_selected' | translate}}"
            [ngStyle]="{'opacity': !checkBulkOperationsAllowed('cancel') ? '0.5': '1.0'}"
            [disabled]="!checkBulkOperationsAllowed('cancel')"
            matTooltipPosition="above">
            <mat-icon svgIcon="state"></mat-icon>
            <span class="button-text">{{'set_state_selected' | translate}}</span>
        </button> -->
            <!-- <button *ngIf="settingsObject.ENABLE_BULK == 'true'" mat-button (click)="suspendSelected()"
                matTooltip="{{'suspend_children_selected' | translate}}"
                [ngStyle]="{'opacity': !checkBulkOperationsAllowed('cancel') ? '0.5': '1.0'}"
                [disabled]="!checkBulkOperationsAllowed('cancel')" matTooltipPosition="above">
                <mat-icon svgIcon="kill"></mat-icon>
                <span class="button-text">{{'kill_selected' | translate}}</span>
            </button> -->
            <!-- <button mat-icon-button (click)="collapseAll()" matTooltip="{{'collapse_all' | translate}}" matTooltipPosition="above">
            <mat-icon svgIcon="colall"></mat-icon>
        </button> -->
            <!-- <input type="text" [formControl]="searchControl" placeholder="{{'search' | translate}}" autocomplete="off"> -->
            <!-- <button mat-icon-button (click)="filterTree(searchControl.value)" matTooltip="{{'search' | translate}}" matTooltipPosition="above">
            <mat-icon svgIcon="find"></mat-icon>
        </button> -->
        </div>
    </div>

    <mat-progress-bar mode="indeterminate" *ngIf="isLoading">

    </mat-progress-bar>
    <div class="progressbar-spacer" *ngIf="!isLoading"></div>
    <div>
        <virtual-scroller #scroll [items]="flatDataSource">
            <table class="table-element" border="0" cellspacing="0" cellpadding="0">

                <tbody #container>
                    <ng-container *ngFor="let node of scroll.viewPortItems; let i = index">
                        <tr *ngIf="node.isVisible" class="master-table-row" [class]="node.parity">
                            <!-- !(node.index > loadnumber) && -->
                            <td class="checkbox-cell" *ngIf="settingsObject.ENABLE_BULK == 'true'">
                                <mat-checkbox
                                    [disabled]="!checkBulkSelectable(node)"
                                    class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)"
                                    (change)="itemSelectionToggle(node)">
                                </mat-checkbox>
                            </td>

                            <td class="master-item-body">
                                <!-- <div *ngFor="let i of [].constructor(node.level - 1)" class="indent"></div> -->
                                <div *ngIf="node.level == 1 && node.CHILDREN == 0" class="tree-list-root-spacer"></div>
                                <div *ngFor="let indents of [].constructor(node.level - 1); let index = index;">
                                    <div *ngIf="index > 0" class="tree-list-node-spacer"></div>
                                    <div *ngIf="!node.isLastArray[index+1]" class="indent"></div>
                                    <div *ngIf="node.isLastArray[index+1] && index == node.level - 1" class="indent"></div>
                                    <div *ngIf="node.isLastArray[index+1] && index <  node.level - 1" class="indent-last"></div>
                               </div>
                               <hr *ngIf="node.level > 1 && !node.isLastArray[node.level - 1]"/>
                               <hr *ngIf="node.level > 1 && node.isLastArray[node.level - 1]" class="hrLast"/>
                                <div *ngIf="node.CHILDREN > 0">
                                    <button class="small-icon-button" (click)="toggleFlatNode(node)" mat-icon-button
                                        [attr.aria-label]="'Toggle ' + node.name">
                                        <mat-icon class="mat-icon-rtl-mirror" svgIcon="{{node.expanded ? 'expand_more' : 'chevron_right'}}"
                                            class="{{ node.childHits == true ? 'partCollapsed': ''}}">

                                        </mat-icon>

                                    </button>
                                </div>
                                <ng-container>
                                    <div *ngIf="node.CHILDREN == 0 && node.level > 1">
                                        <div class="tree-list-leaf-spacer"></div>
                                    </div>

                                    <div *ngIf="node.APPROVAL_PENDING == 'true' && node.STATE !='CANCELLED'">
                                        <mat-icon svgIcon="approval_pending" matRipple matTooltip="{{'approval_pending' | translate}}" matTooltipPosition="above">

                                        </mat-icon>
                                    </div>

                                    <div *ngIf="node.WARN_COUNT && node.WARN_COUNT != '0'" >
                                        <mat-icon matRipple matTooltip="{{'warning' | translate}}"
                                            matTooltipPosition="above" svgIcon="warning">
                                        </mat-icon>
                                    </div>

                                    <div *ngIf="node.IS_SUSPENDED != 'NOSUSPEND' && node.RESUME_TS">
                                      <mat-icon svgIcon="autoresume" matRipple matTooltip="{{'autoresume' | translate}}" matTooltipPosition="above">
                                      </mat-icon>
                                    </div>

                                    <div *ngIf="node.IS_SUSPENDED == 'ADMINSUSPEND' && !node.RESUME_TS">
                                        <mat-icon svgIcon="suspend_entity"
                                            matTooltip="{{'admin_suspended' | translate}}" matTooltipPosition="above">
                                        </mat-icon>

                                    </div>
                                    <div *ngIf="node.IS_SUSPENDED == 'SUSPEND' && !node.RESUME_TS">
                                        <mat-icon matTooltip="{{'suspended' | translate}}" matTooltipPosition="above"
                                            class="job-group-icon ICON_BLACK" svgIcon="suspend_entity">
                                        </mat-icon>
                                    </div>

                                    <div
                                        *ngIf="node.IS_SUSPENDED != 'SUSPEND' && node.IS_SUSPENDED != 'ADMINSUSPEND' && node.CHILD_SUSPENDED != '0' && node.CHILD_SUSPENDED != '' && node.CHILD_SUSPENDED != null">
                                        <mat-icon matTooltip="{{'child_suspended' | translate}}"
                                            matTooltipPosition="above" class="job-group-icon ICON_GREY"
                                            svgIcon="suspend_entity">
                                        </mat-icon>
                                    </div>
                                    <div (click)="openTab(node)" class="{{node.textColor}}" matRipple>
                                        <mat-icon *ngIf="node.type == 'JOB' && node.CHILDREN != '0' && node.CHILDREN != '' && node.CHILDREN != null"
                                            class="job-group-icon {{node.parentIconColor}}" svgIcon="batch">
                                        </mat-icon>
                                        <mat-icon *ngIf="node.STATE != 'SCHEDULED'" svgIcon="{{node.iconType}}" class="job-group-icon {{node.jobIconColor}}">
                                        </mat-icon>
                                        <mat-icon *ngIf="node.STATE == 'SCHEDULED'" matTooltip="{{'scheduled_'+ node.iconType | translate}}" matTooltipPosition="above"  svgIcon="{{node.iconType}}_time" class="job-group-icon {{node.jobIconColor}}">
                                        </mat-icon>
                                        <!-- {{node.iconType}} -->
                                        <ng-container *ngIf="!displayPath">{{node.name}}</ng-container>
                                        <ng-container *ngIf="displayPath">{{node.namePath}}</ng-container>
                                        <mat-icon class="hit-arrow" *ngIf="node.HIT == 'H'" svgIcon="arrow-left">
                                        </mat-icon>
                                        <!-- {{node.hit}}
                                        {{node.hasChildHits ? node.hasChildHits: ''}} -->
                                    </div>
                                    <!-- <div *ngIf="node.IS_RESTARTABLE == 'true'">
                                        <button  mat-icon-button
                                            [attr.aria-label]="'Toggle ' + node.name">
                                            <mat-icon>
                                                directions_run
                                            </mat-icon>
                                        </button>
                                    </div> -->
                                </ng-container>

                            </td>
                            <td class="table-cell operations">
                                <button
                                    *ngIf="node.ERRLOGFILE == node.LOGFILE && node.LOGFILE != '' && node.LOGFILE != null && node.EXTPID  && (node.STATE != 'SCHEDULED')"
                                    class="small-icon-button" mat-icon-button (click)="openLog(node.LOGFILE, node)" matTooltip="{{'open_log' | translate}}" matTooltipPosition="above">
                                    <mat-icon svgIcon="log">

                                    </mat-icon>
                                </button>
                                <div *ngIf="node.ERRLOGFILE != node.LOGFILE && node.LOGFILE != '' && node.EXTPID && (node.STATE != 'SCHEDULED')">
                                    <button class="small-icon-button" mat-icon-button
                                        matTooltip="{{'open_log' | translate}}" matTooltipPosition="above"
                                        (click)="openLog(node.LOGFILE, node)">
                                        <mat-icon svgIcon="log" class="job-group-icon ICON_GREEN">

                                        </mat-icon>
                                    </button>
                                    <button class="small-icon-button" mat-icon-button
                                        matTooltip="{{'open_error_log' | translate}}" matTooltipPosition="above"
                                        (click)="openLog(node.ERRLOGFILE, node)">
                                        <mat-icon svgIcon="log" class="job-group-icon ICON_RED">

                                        </mat-icon>
                                    </button>
                                </div>
                                <button *ngIf="node.normalizedPrivs.includes('r') && node.STATE != 'SCHEDULED' && (node.IS_RESTARTABLE == 'true' || node.CNT_RESTARTABLE != '0') && (node.STATE != 'SCHEDULED')" class="small-icon-button" mat-icon-button
                                    (click)="rerunNode(node)">
                                    <mat-icon svgIcon="rerun_selected" class="job-group-icon ICON_BLACK"
                                        matTooltip="{{'rerun' | translate}}" matTooltipPosition="above">

                                    </mat-icon>
                                </button>
                                <button
                                    *ngIf="node.normalizedPrivs.includes('c') && node.state != 'FINAL' && node.IS_CANCELLED != 'true' && node.state != 'CANCELLED' && (node.STATE != 'SCHEDULED')"
                                    class="small-icon-button" mat-icon-button matTooltip="{{'cancel' | translate}}"
                                    matTooltipPosition="above" (click)="cancelNode(node)">
                                    <mat-icon svgIcon="rip">

                                    </mat-icon>
                                </button>
                                <button
                                    *ngIf="node.normalizedPrivs.includes('w') && node.WARN_COUNT != '0' && node.IS_CANCELLED != 'true' && node.state != 'CANCELLED' && (node.STATE != 'SCHEDULED')"
                                    class="small-icon-button" mat-icon-button matTooltip="{{'clear_warning' | translate}}"
                                    matTooltipPosition="above" (click)="clearWarning(node)">
                                    <mat-icon svgIcon="clear_warning">

                                </mat-icon>
                                </button>
                                <button
                                    *ngIf="haveCriticalPath && node.STATE != 'DEPENDENCY_WAIT'"
                                    class="small-icon-button" mat-icon-button matTooltip="{{'critical-path' | translate}}"
                                    matTooltipPosition="above" (click)="openCriticalPath(node)">
                                    <mat-icon svgIcon="critical_path">
                                    </mat-icon>
                                </button>
                            </td>
                            <td class="table-cell" *ngFor="let o of displayedColumns"
                                [ngClass]="'list-background-'+o.color + ' ' + o.align">
                                <span *ngIf="o.parameter_name != 'runtime'">{{node[o.parameter_name] ?
                                    node[o.parameter_name] :
                                    ' ' }}</span>
                                <span *ngIf="o.parameter_name == 'runtime'">{{node[o.parameter_name] >= 0 ?
                                    msToTime(node[o.parameter_name]) :
                                    ' ' }}</span>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
                <thead #header class="header-row background-theme-primary">
                    <th class="header-cell checkbox-cell" *ngIf="settingsObject.ENABLE_BULK == 'true'">
                        <mat-checkbox class="checklist-leaf-node" (change)="toggleFlatSelectAll($event)"></mat-checkbox>
                    </th>
                    <th class="header-cell">
                        <div>{{ 'name' | translate}}</div>
                    </th>
                    <th class="header-cell operations">
                        <div>{{'operations' | translate}}</div>
                    </th>
                    <th class="header-cell" *ngFor="let o of displayedColumns" [ngClass]="o.align">
                        <div>{{o.translate ? (o.label | translate): o.label}}</div>
                    </th>
                </thead>
            </table>
        </virtual-scroller>

    </div>

</div>
