
#efg-textarea {
  textarea {
    resize: none;
    padding: 10px;
    font-size: 14px;
    background-color: transparent !important;
  }

  textarea {
    padding: 3px 8px;
    // border: 1px solid mat.get-color-from-palette($fe-theme-grey, 100);
    // TODO:check why this does not work in comments
    resize: vertical;
  }

  // textarea:hover {
  //   border: 1px solid black;
  // }

  // textarea:focus {
  //   outline: none;
  //   border: 1px solid #001a72;
  // }

  // textarea:read-only {
  //   background-color: mat.get-color-from-palette($fe-theme-grey, 50);
  // }

  .input-form {
    align-items: flex-start;
    white-space: nowrap;
    flex-wrap: nowrap;
  }
}
