<div class="input-form" id="efg-textarea">
    <ng-container *ngIf="editorformOptions.formArrayIdentifier !== undefined">
        <ng-container [formGroup]="form">
            <div [formArrayName]="editorformOptions.formArrayIdentifier" *ngIf="!conditionNotFirst">
                <ng-container *ngIf="useSimple === true">
                        <textarea class="simple-input font-grey-950 editorform-themed-input" type="text" [formControlName]="formArrayIndex" [rows]="rows"
                            [cols]="cols" [required]='field.MANDATORY != undefined && field.MANDATORY > 0'
                            autocomplete="off" [readonly]="editorformOptions.render.disabled"></textarea>
                    <span *ngIf="formField.invalid"> {{ getFormErrorMessage(formField) | translate }} </span>

                </ng-container>
            </div>
            <ng-container *ngIf="conditionNotFirst">
                {{ bicsuiteObject[field.NAME] | displayModifier: {
                displayMode: field.DISPLAY_MODIFIER
                }
                }}
            </ng-container>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="editorformOptions.formArrayIdentifier === undefined">
        <ng-container [formGroup]="form">
            <label class="fe-generated-label">
                <ng-container *ngIf="field.TRANSLATE !== undefined">
                    {{field.TRANSLATE | translate}}:
                </ng-container>
            </label>
            <ng-container *ngIf="useSimple === true && !field.FILL_HORIZONTAL">
                <textarea class="font-grey-950 editorform-themed-input" type="text" [formControlName]="field.NAME" [rows]="rows" [cols]="cols"
                    [required]='field.MANDATORY != undefined && field.MANDATORY > 0' autocomplete="off" [readonly]="editorformOptions.render.disabled"></textarea>
                <span *ngIf="formField.invalid"> {{ getFormErrorMessage(formField) | translate }} </span>

            </ng-container>
            <ng-container *ngIf="useSimple === true && field.FILL_HORIZONTAL">
                <textarea class="font-grey-950 editorform-themed-input" type="text" [formControlName]="field.NAME" [rows]="rows" style="width: 100%;"
                [required]='field.MANDATORY != undefined && field.MANDATORY > 0' autocomplete="off" [readonly]="editorformOptions.render.disabled"></textarea>
            <span *ngIf="formField.invalid"> {{ getFormErrorMessage(formField) | translate }} </span>
            </ng-container>
        </ng-container>
    </ng-container>

</div>
