.form-table-content {
  table {
    width: 100%;
    position: relative;
    border-collapse: collapse;
    font-size: 13px;
  }

  /* Color Schemes */
  // tbody > tr:nth-child(odd) {
  //   // background-color: mat-color($fe-theme-primary, 50);
  // }

  // tbody > tr:nth-child(even) {
  //   background-color: rgba(mat.get-color-from-palette($fe-theme-primary, 500), .1);
  // }

  // .fe-theme-DARK {
  //   tbody > tr:nth-child(even) {
  //     background-color: mat.get-color-from-palette($fe-theme-primary, 900);
  //   }
  // }

  tbody > tr:hover {
    // background-color: mat-color($fe-theme-primary, 200);
  }

  thead th {
    // background-color: mat-color($fe-theme-primary, 300);
    // color: mat.get-color-from-palette($fe-theme-grey, 700);
    font-weight: 700;
    vertical-align: top;
    // color: mat-color($fe-theme-grey, 400);
    font-size: 14px;
  }
  thead {
    border-bottom: 1, solid, black !important;
  }
  /* Border options */
  td {
    // border: 1px solid #ddd;
    font-size: 13px;
  }

  thead th:first-child {
    border-left: none;
  }
  thead th:last-child {
    border-right: none;
  }
  tfoot td {
    border: none;
  }

  thead th {
    // border-left: 1px solid #ddd;
    // border-right: 1px solid #ddd;
    // border-bottom: 1 #ddd;
  }

  .bottom {
    border-bottom: 2px solid black;
  }
  /* Padding */
  td {
    padding-left: 8px;
    padding-right: 8px;

    vertical-align: top;
  }
  td:not(.ROW_BUTTON) {
   padding-top: 1px;
  }

  .ROW_BUTTON {
    line-height: 24px;
    height: 24px;
  }
  tr {
    transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
  }

  th {
    padding: 0px !important;
    div {
      padding:2px 6px 2px 6px !important;
      margin: 0px 4px 10px 0px !important;
    }
  }
  th:last-child {
    div {
      margin: 0px 0px 10px 0px !important;
    }
  }

  /* Sticky Header and foot */
  // thead th {
  //   position: sticky;
  //   z-index: 200;
  // }

  tbody td {
    z-index: 100;
    position: relative;
  }

  thead th {
    top: 0;
  }

  /* Drag and Drop */

  .dragHandle {

    cursor: move;
  }

  // .cdk-drag-preview {
  //   box-sizing: border-box;
  //   border-radius: 0px;
  //   box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  // }

  .cdk-drag-placeholder {
    // opacity: 0.1;
    border-radius: 0px;
    // box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    // background-color: mat.get-color-from-palette($fe-theme-primary, 200) !important;
    cursor: move !important;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  /* Other */
  .table-buttons {
    display: block;
    // padding-top: 10px;
    // padding-bottom: 12px;
    padding-bottom: 4px;
    // display: flex;
    // align-items: baseline;
  }

  .table-content {
    margin-top: 25px;
    margin-bottom: 15px;
  }

  .drop {
    max-width: 70px;
    width: 60px;
  }


  th {
    // border-bottom: 1px solid mat-color($fe-theme-grey, 200);
    // padding-left: 0px;
  }

  // Handles long texts in buttons and truncate them (e.s.:  long long lo...)
  button {
    //overflow: hidden;
    //text-overflow: ellipsis;
    //white-space: nowrap;
  }

  .table-is-empty {
    opacity: 0.5;
    width: 575px;
    margin-left: 8px;
  }

  .bulk-cell {
    .mat-checkbox {
      padding-left: 10px;
      padding-right: 5px;
    }
  }

  .d-flex {
    display: flex;
    .paginator-wrapper {
      display: flex;
      width: 625px;
      margin-left: auto;
      .go-to-container {
        display: flex;
        align-items: baseline;
        background: white;
        mat-form-field {
          width: 56px;
          margin: 6px 4px 0 4px;
          font-size: 12px;
        }
        .go-to-label {
          margin: 0 4px;
          font-size: 12px;
          color: rgba(0, 0, 0, 0.54);
          font-family: Roboto, "Helvetica Neue", sans-serif;
        }
      }
    }
  }

  cdk-virtual-scroll-viewport {
    height: 400px;
  }

  .fe_flagged_to_cut {
    opacity: 0.5 !important;
  }
}

