<div class="form-table-content">
    <ng-container *ngIf="hasTable">
        <ng-container *ngIf="field.TRANSLATE !== undefined && (field.USE_LABEL == 'true' || field.USE_LABEL == true)">
            {{field.TRANSLATE | translate}}:
        </ng-container>
        <!-- Table with more complex data structures -->
        <ng-container *ngIf="isEditorformTable">
            <table>
                <thead>
                    <tr>
                        <th align="left" *ngIf="dragAndDrop">
                        <div>{{'drag' | translate}}</div>
                        </th>
                        <th align="left" *ngIf="field.ENABLE_BULK == 'true'"><div>{{ 'select'| translate}}</div></th>
                        <th align="left" *ngFor="let column of columnData" [ngClass]="column.TRANSLATE"
                            [style]=column.CSS>
                            <div>
                                <span *ngIf="column.TRANSLATE != undefined" [innerHtml]="column.TRANSLATE | translate"></span>
                                <span *ngIf="column.TRANSLATE == undefined && column.LABEL != undefined" [innerHtml]="column.LABEL"></span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody #formDragList cdkDropList (cdkDropListDropped)="confirmDragAndDrop($event)"
                    [cdkDropListDisabled]="!dragAndDrop" [class]="dragAndDrop ? 'drag-table' : ''">
                    <ng-container *ngIf="tableData.length > 0">
                        <ng-container *ngIf="field.PAGINATOR != false">
                            <tr *ngFor="let rowData of tableData | slice: lowValue : highValue; let rowIdx=index" cdkDrag
                                cdkDragBoundary="tbody" cdkDragLockAxis="y" cdkDragPreviewContainer="parent" class="{{rowData.fe_flagged_to_cut ? 'fe_flagged_to_cut' : ''}}">


                                <ng-container *cdkDragPreview>
                                </ng-container>


                                <ng-container *ngIf="((rowIdx < loadNumber) || loadNumber < 0)">

                                    <td *ngIf="dragAndDrop">
                                        <mat-icon class="dragHandle" svgIcon="export" cdkDragHandle></mat-icon>
                                    </td>

                                    <td *ngIf="field.ENABLE_BULK == 'true' && !rowData[field.BULK_INVISIBLE_IDENTIFIER]"
                                        class="bulk-cell">
                                        <mat-checkbox [disabled]="rowData[field.BULK_DISABLED_IDENTIFIER]"
                                            [checked]="checklistSelection.isSelected(rowData)"
                                            (change)="itemSelectionToggle(rowData)">
                                        </mat-checkbox>
                                    </td>


                                    <td *ngFor="let column of columnData" [ngClass]=" column.TRANSLATE" [ngClass]="column.TYPE" [style]=column.CSS>
                                        <app-form-generator [form]="tableForm" [field]="copyColumn(column)" [bicsuiteObject]="rowData"
                                            [tabInfo]="tabInfo" [formArrayIdentifier]="column.NAME"
                                            [editorformOptions]="editorformOptions" [callbackFunction]="rowClick.bind(this)"
                                            [table]="tableData" [parentBicsuiteObject]="bicsuiteObject">
                                        </app-form-generator>
                                    </td>

                                </ng-container>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="field.PAGINATOR == false">
                            <tr *ngFor="let rowData of tableData; let rowIdx=index" cdkDrag
                                cdkDragBoundary="tbody" cdkDragLockAxis="y" cdkDragPreviewContainer="parent" class="{{rowData.fe_flagged_to_cut ? 'fe_flagged_to_cut' : ''}}">

                                <ng-container *cdkDragPreview>
                                </ng-container>

                                <ng-container>

                                    <td *ngIf="dragAndDrop">
                                        <mat-icon class="dragHandle" svgIcon="export" cdkDragHandle></mat-icon>
                                    </td>

                                    <td *ngIf="field.ENABLE_BULK == 'true' && !rowData[field.BULK_INVISIBLE_IDENTIFIER]"
                                        class="bulk-cell">
                                        <mat-checkbox [disabled]="rowData[field.BULK_DISABLED_IDENTIFIER]"
                                            [checked]="checklistSelection.isSelected(rowData)"
                                            (change)="itemSelectionToggle(rowData)">
                                        </mat-checkbox>
                                    </td>


                                    <td *ngFor="let column of columnData" [ngClass]=" column.TRANSLATE" [ngClass]="column.TYPE" [style]=column.CSS>
                                        <app-form-generator [form]="tableForm" [field]="copyColumn(column)" [bicsuiteObject]="rowData"
                                            [tabInfo]="tabInfo" [formArrayIdentifier]="column.NAME"
                                            [editorformOptions]="editorformOptions" [callbackFunction]="rowClick.bind(this)"
                                            [table]="tableData" [parentBicsuiteObject]="bicsuiteObject">
                                        </app-form-generator>
                                    </td>

                                </ng-container>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
            <div *ngIf="tableData.length == 0" class="table-is-empty">
                <!-- {{'table_of_type_is_empty' | translate}} {{field.TRANSLATE | translate}} -->
                {{'table_of_type_is_empty' | translate}}
            </div>
            <!-- </div> -->
            <div class="d-flex">
                <div>
                    <div class="table-buttons">
                        <ng-container *ngFor="let btn of this.field.TABLE.BUTTONS">
                            <app-form-button [form]="tableForm" [btnInfo]="btn" [useCustom]="true" [tabInfo]="tabInfo"
                                [bicsuiteObject]="bicsuiteObject" (clickOccured)="clickCallback($event)"
                                [checklistSelection]="checklistSelection" [parentHasLoaded]="parentHasLoaded" (setTabHasLoaded)="setHasLoaded($event)">
                            </app-form-button>
                        </ng-container>
                    </div>
                </div>
                <div class="paginator-wrapper" *ngIf="((!field.hasOwnProperty('PAGINATOR') && (tableData.length >= 20 || tableData.length > pageSize)) || field.PAGINATOR)">
                        <div class="go-to-container">
                        <div class="go-to-label">{{'page' | translate}}: </div>
                        <mat-form-field>
                            <mat-select [(ngModel)]="goTo" (selectionChange)="goToPage()">
                                <mat-option *ngFor="let pageNumber of pagesArray" [value]="pageNumber">{{pageNumber}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <mat-paginator #paginator showFirstLastButtons [length]="tableData.length"
                        (page)="getPaginatorData($event)" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
                    </mat-paginator>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
