
.interval-setup-div-wrapper {
  mat-select {
    line-height: 22px;
    min-width: 40px;
    max-width: 250px;
    // border: 1px solid mat.get-color-from-palette($fe-theme-grey, 100);
    padding: 0px 4px;
    font-size: 14px;
    width: auto !important;
  }

  label {
    min-width: 170px;
    font-weight: bold;
    display: inline-block;
  }

  div {
    display: inline-block;
    white-space: nowrap;
  }

  .simple-input {
    padding: 3.5px 7px 3.5px 4px;
    // border: 1px solid mat.get-color-from-palette($fe-theme-grey, 100);
    font-size: 14px;
    height: 15px;
  }

  .form-input {
    font-family: "Arimo", sans-serif;
    // color: mat.get-color-from-palette($fe-theme-grey, 500);
  }

  .simple-input:focus {
    outline: none;
    // border: 1px solid mat.get-color-from-palette($fe-theme-primary, 600);
  }

  .checkbox-table-header {
    min-width: 30px;
    text-align: center;
  }

  .checkbox-table-cell {
    min-width: 30px;
    text-align: center;
  }

  .interval-list {
    height: 10em;
    width: 21em;
  }

  .fe_link_button {
    padding-left: 5px;
    text-decoration: underline;
    // color: mat.get-color-from-palette($fe-theme-primary, 500);
  }

  .fe_link_button:hover {
    cursor: pointer;
    // color: mat.get-color-from-palette($fe-theme-grey, 900);
  }

  mat-icon {
    display: inline-flex;
    vertical-align: middle;
  }

  .mat-icon-button {
    width: 24px;
  }

  .mat-button {
    padding: 0px;
  }

  .select-on {
    min-width: 100px;
  }

  .formField-invalid {
    // border: 1px solid;
    // color: mat.get-color-from-palette($fe-theme-warn, 500);
  }

  .formField-invalid:focus {
    // border-color: mat.get-color-from-palette($fe-theme-warn, 700);
  }

  .formField-invalid:hover {
    // border-color: mat.get-color-from-palette($fe-theme-warn, 800);
  }
}
