
 <div>
 <ng-container *ngIf="bicsuiteObject.TYPE === 'TOD'">
    <div class="interval-setup-div-wrapper">
        <mat-select (selectionChange)="onChange($event)" [(value)]="bicsuiteObject.HOUR" panelClass="default-panel">
            <mat-option [value]="value"
                *ngFor="let value of ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
                                      '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']">
                {{ value }}
            </mat-option>
        </mat-select>&nbsp;:
        <mat-select (selectionChange)="onChange($event)" [(value)]="bicsuiteObject.MINUTE" panelClass="default-panel">
            <mat-option [value]="value" *ngFor="let value of minuteSelection">
                {{ value }}
            </mat-option>
        </mat-select>
    </div>
</ng-container>
<ng-container *ngIf="bicsuiteObject.TYPE === 'ROD'">
    <div class="interval-setup-div-wrapper">
        <mat-select (selectionChange)="onChange($event)" [(value)]="bicsuiteObject.HOUR_FROM"
            panelClass="default-panel">
            <mat-option [value]="value" *ngFor="let value of hourSelection">
                {{ value }}
            </mat-option>
        </mat-select>&nbsp;:
        <mat-select (selectionChange)="onChange($event)" [(value)]="bicsuiteObject.MINUTE_FROM"
            panelClass="default-panel">
            <mat-option [value]="value" *ngFor="let value of minuteSelection">
                {{ value }}
            </mat-option>
        </mat-select>&nbsp;&nbsp;-&nbsp;
        <mat-select (selectionChange)="onChange($event)" [(value)]="bicsuiteObject.HOUR_TO" panelClass="default-panel">
            <mat-option [value]="value" *ngFor="let value of hourSelection">
                {{ value }}
            </mat-option>
        </mat-select>&nbsp;:
        <mat-select (selectionChange)="onChange($event)" [(value)]="bicsuiteObject.MINUTE_TO"
            panelClass="default-panel">
            <mat-option [value]="value" *ngFor="let value of minuteSelectionTo">
                {{ value }}
            </mat-option>
        </mat-select>
    </div>
</ng-container>
<ng-container *ngIf="bicsuiteObject.TYPE === 'REP'">
    <div class="interval-setup-div-wrapper">
        Every&nbsp;<input (input)="onChange($event)" min="1" max="999999" type="number"
            [(ngModel)]="bicsuiteObject.REPEAT_MINUTES" class="simple-input form-input"> &nbsp;Minutes
    </div>
</ng-container>
<ng-container *ngIf="bicsuiteObject.TYPE === 'DOW'">
    <div class="interval-setup-div-wrapper">
        <table>
            <tr>
                <td *ngFor="let day of ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']" class="checkbox-table-header">
                    {{day}}</td>
            </tr>
            <tr>
                <td *ngFor="let num of [1,2,3,4,5,6,7]" class="checkbox-table-cell">
                    <mat-checkbox value="true" [checked]="checked(num)" (change)="onChkChange($event, num)">
                    </mat-checkbox>
                </td>
            </tr>
        </table>
    </div>
</ng-container>
<ng-container *ngIf="bicsuiteObject.TYPE === 'WOM' || bicsuiteObject.TYPE  === 'IWM'">
    <div class="interval-setup-div-wrapper">
        <table>
            <tr>
                <td *ngFor="let week of [1,2,3,4,5,-5,-4,-3,-2,-1]" class="checkbox-table-header">{{ week.toString() }}
                </td>
            </tr>
            <tr>
                <td *ngFor="let week of [1,2,3,4,5,-5,-4,-3,-2,-1]" class="checkbox-table-cell">
                    <mat-checkbox value="true" [checked]="checked(week)" (change)="onChkChange($event, week)">
                    </mat-checkbox>
                </td>
            </tr>
        </table>
    </div>
</ng-container>
<ng-container *ngIf="bicsuiteObject.TYPE === 'DOM'">
    <div class="interval-setup-div-wrapper">
        <table>
            <tr>
                <td *ngFor="let x of ['','0','1','2','3','4','5','6','7','8','9']" class="checkbox-table-header">{{ x }}
                </td>
            </tr>
            <tr>
                <td class="checkbox-table-header">0</td>
                <td></td>
                <td *ngFor="let cell of [1,2,3,4,5,6,7,8,9]" class="checkbox-table-cell">
                    <mat-checkbox value="true" [checked]="checked(cell)" (change)="onChkChange($event, cell)">
                    </mat-checkbox>
                </td>
            </tr>
            <tr *ngFor="let tens of [1,2]">
                <td class="checkbox-table-header">{{ tens.toString() }}</td>
                <td *ngFor="let cell of [0,1,2,3,4,5,6,7,8,9]" class="checkbox-table-cell">
                    <mat-checkbox value="true" [checked]="checked(tens*10+cell)"
                        (change)="onChkChange($event, tens*10+cell)"></mat-checkbox>
                </td>
            </tr>
            <tr>
                <td class="checkbox-table-header">3</td>
                <td class="checkbox-table-cell">
                    <mat-checkbox value="true" [checked]="checked(30)" (change)="onChkChange($event, 30)">
                    </mat-checkbox>
                </td>
                <td class="checkbox-table-cell">
                    <mat-checkbox value="true" [checked]="checked(31)" (change)="onChkChange($event, 31)">
                    </mat-checkbox>
                </td>
                <td *ngFor="let cell of [-8,-7,-6,-5,-4,-3,-2,-1]" class="checkbox-table-header">
                    {{ cell.toString() }}
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td *ngFor="let cell of [-8,-7,-6,-5,-4,-3,-2,-1]" class="checkbox-table-cell">
                    <mat-checkbox value="true" [checked]="checked(cell)" (change)="onChkChange($event, cell)">
                    </mat-checkbox>
                </td>
            </tr>
        </table>
    </div>
</ng-container>
<ng-container *ngIf="bicsuiteObject.TYPE === 'MOY'">
    <div class="interval-setup-div-wrapper">
        <table>
            <tr>
                <td *ngFor="let day of ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']"
                    class="checkbox-table-header">
                    {{day}}</td>
            </tr>
            <tr>
                <td *ngFor="let num of [1,2,3,4,5,6,7,8,9,10,11,12]" class="checkbox-table-cell">
                    <mat-checkbox value="true" [checked]="checked(num)" (change)="onChkChange($event, num)">
                    </mat-checkbox>
                </td>
            </tr>
        </table>
    </div>
</ng-container>
<ng-container *ngIf="bicsuiteObject.TYPE === 'IWY'">
    <div class="interval-setup-div-wrapper">
        <table>
            <tr>
                <td *ngFor="let x of ['','0','1','2','3','4','5','6','7','8','9']" class="checkbox-table-header">{{ x }}
                </td>
            </tr>
            <tr>
                <td class="checkbox-table-header">0</td>
                <td></td>
                <td *ngFor="let cell of [1,2,3,4,5,6,7,8,9]" class="checkbox-table-cell">
                    <mat-checkbox value="true" [checked]="checked(cell)" (change)="onChkChange($event, cell)">
                    </mat-checkbox>
                </td>
            </tr>
            <tr *ngFor="let tens of [1,2,3,4]">
                <td class="checkbox-table-header">{{ tens.toString() }}</td>
                <td *ngFor="let cell of [0,1,2,3,4,5,6,7,8,9]" class="checkbox-table-cell">
                    <mat-checkbox value="true" [checked]="checked(tens*10+cell)"
                        (change)="onChkChange($event, tens*10+cell)"></mat-checkbox>
                </td>
            </tr>
            <tr>
                <td class="checkbox-table-header">5</td>
                <td *ngFor="let i of [0,1,2,3]" class="checkbox-table-cell">
                    <mat-checkbox value="true" [checked]="checked(50+i)" (change)="onChkChange($event, 50+i)">
                    </mat-checkbox>
                </td>
                <td *ngFor="let cell of [-6,-5,-4,-3,-2,-1]" class="checkbox-table-header">
                    {{ cell.toString() }}
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td *ngFor="let cell of [-6,-5,-4,-3,-2,-1]" class="checkbox-table-cell">
                    <mat-checkbox value="true" [checked]="checked(cell)" (change)="onChkChange($event, cell)">
                    </mat-checkbox>
                </td>
            </tr>
        </table>
    </div>
</ng-container>
<ng-container *ngIf="bicsuiteObject.TYPE === 'LST'">
    <div class="interval-setup-div-wrapper">
        <textArea (input)="listChange($event)" class="interval-list" autocomplete="off"
            spellcheck="false">{{ bicsuiteObject.LIST }}</textarea>
    </div>
</ng-container>
<ng-container *ngIf="bicsuiteObject.TYPE === 'CLF' || bicsuiteObject.TYPE === 'CLD'">
    <div class="interval-setup-div-wrapper">
        <div *ngIf="(bicsuiteObject.CALENDAR === undefined || bicsuiteObject.CALENDAR === null || bicsuiteObject.CALENDAR === '');else normal" class="chooser-container chooser-empty ng-star-inserted">
            <button color="warn" mat-icon-button (click)="chooseCalendar()" class="mat-focus-indicator mat-tooltip-trigger mat-icon-button mat-button-base">
                <mat-icon svgIcon="select"></mat-icon>
                {{bicsuiteObject.CALENDAR === undefined ||
                bicsuiteObject.CALENDAR === null || bicsuiteObject.CALENDAR === "" ? ("please_select" | translate) :
                bicsuiteObject.CALENDAR }}
            </button>
        </div>
        <ng-template #normal>
            <div class="chooser-container" class="chooser-container chooser-noempty ng-star-inserted">
                <button mat-icon-button class="mat-focus-indicator mat-tooltip-trigger mat-icon-button mat-button-base" (click)="chooseCalendar()">
                    <mat-icon svgIcon="select"></mat-icon>
                </button>
                <!-- TODO: styling -->
                <span class="fe_link_button ng-star-inserted"  mat-button (click)="openCalendar()">
                <mat-icon *ngIf="bicsuiteObject.CALENDAR != null && bicsuiteObject.CALENDAR != ''"
                class="mat-icon notranslate mat-focus-indicator mat-tooltip-trigger mat-icon-button mat-button-base mat-icon-no-color ng-star-inserted"
                svgIcon="interval"></mat-icon>
                {{bicsuiteObject.CALENDAR === undefined ||
                    bicsuiteObject.CALENDAR === null || bicsuiteObject.CALENDAR === "" ? ("please_select" | translate)
                    : bicsuiteObject.CALENDAR }}
                </span>
            </div>
        </ng-template>
        <BR>Select on
        <mat-select class="select-on" (selectionChange)="onChange($event)" [(value)]="bicsuiteObject.SELECT_ON"
            panelClass="default-panel">
            <mat-option [value]="value" *ngFor="let value of ['DAY', 'WEEK', 'MONTH','YEAR']">
                {{ value }}
            </mat-option>
        </mat-select><br>
        <table>
            <tr>
                <td *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]"
                    class="checkbox-table-header">
                    {{num}}</td>
            </tr>
            <tr>
                <td *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]" class="checkbox-table-cell">
                    <mat-checkbox value="true" [checked]="checked(num)" (change)="onChkChange($event, num)">
                    </mat-checkbox>
                </td>
            </tr>
            <tr>
                <td *ngFor="let num of [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1]"
                    class="checkbox-table-header">
                    {{num}}</td>
            </tr>
            <tr>
                <td *ngFor="let num of [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1]" class="checkbox-table-cell">
                    <mat-checkbox value="true" [checked]="checked(num)" (change)="onChkChange($event, num)">
                    </mat-checkbox>
                </td>
            </tr>
        </table>
    </div>
</ng-container>
<div *ngIf="formControl.invalid" class="formField-invalid" class="interval-setup-div-wrapper">
    {{formControl.hasError('invalid') ? formControl.getError('invalid') : ''}}</div>
