<div id="hierachy-tooltip">

    <div class="tooltip" [style.left]="left + 'px'" [style.top]="top + 'px'">

        <div class="tooltip-title">{{tooltip.title}}</div>
        <div class="tooltip-bopy">
            <ng-container *ngFor="let row of tooltip.data">
                <div class="key">{{row.key}} </div>
                <div class="value">{{row.value}} </div>
            </ng-container>
        </div>

    </div>
</div>