#hierachy-tooltip {

    .tooltip {
        position: fixed;
        // background-color: black;
        color: #ffffff;
        font-family: Arimo;
        padding: 3px 6px;
        font-size: 13px;
        margin-top: 5px;
        transform: translateX(-50%);
        z-index: 1000;



        .tooltip-title {
            font-size: 16px;
            padding-bottom: 5px;
        }

        .tooltip-bopy {
            display: grid;
            column-gap: 10px;

            .key {
                grid-column-start: 1;
                grid-column-end: 1;
            }

            .value {
                grid-column-start: 2;
                grid-column-end: 2;
            }
        }



        &::before {
            content: "";
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            // border-bottom: 5px solid black;
            position: absolute;
            left: calc(50% - 5px);
            top: -5px;
        }
    }

}