<div class="accordion-container" id="accordion-body">
    <mat-accordion>
        <mat-expansion-panel [expanded]="accordionOpenStates[field.VALUE]" class="background-theme-secondary"
            (opened)="open(field.VALUE)" (closed)="close(field.VALUE)" 
            [class.panel-open]="accordionOpenStates[field.VALUE]" [class.panel-closed]="!accordionOpenStates[field.VALUE]">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ field.TRANSLATE | translate }}
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>

            <ng-container *ngIf="field.FIELDS !== undefined">
                <ng-container
                    *ngIf="field.LAZY_LOADING != undefined && field.LAZY_LOADING == true; else no_lazy_loading">
                    <!-- is lazy -->
                    <ng-template matExpansionPanelContent>
                        <!-- Template makes accordion lazy loading!!! -->
                        <app-form-generator *ngIf="accordionOpenStates[field.VALUE]" [editorform]="field"
                            [bicsuiteObject]="bicsuiteObject" [tabInfo]="tabInfo" [form]="form"
                            [editorformOptions]="editorformOptions" [parentHasLoaded]="parentHasLoaded" (setTabHasLoaded)="setHasLoaded($event)">
                        </app-form-generator>
                    </ng-template>
                </ng-container>
                <ng-template #no_lazy_loading>
                    <!-- is not lazy -->
                    <app-form-generator [editorform]="field" [bicsuiteObject]="bicsuiteObject" [tabInfo]="tabInfo"
                        [form]="form" [editorformOptions]="editorformOptions" [parentHasLoaded]="parentHasLoaded" (setTabHasLoaded)="setHasLoaded($event)">
                    </app-form-generator>
                </ng-template>
            </ng-container>
        </mat-expansion-panel>
    </mat-accordion>
</div>
