
 <div class="file-input-form">
    <!-- ng-container *ngIf="editorformOptions.formArrayIdentifier !== undefined" -->
        <!-- table not supportted yet -->
    <!-- /ng-container -->

    <!-- forminput -->
    <ng-container *ngIf="editorformOptions.formArrayIdentifier === undefined">
        <ng-container [formGroup]="form">
            <label class="fe-generated-label">
                <ng-container *ngIf="field.TRANSLATE !== undefined">
                    {{field.TRANSLATE | translate}}:
                </ng-container>
            </label>
            <ng-container>
                <input [name]="'HTML' + field.NAME" type='file' (change)="fileChanged($event)">
                <span *ngIf="formControl.invalid" class="form-invalid">&nbsp; {{ getFormErrorMessage(formControl) |
                    translate
                    }} </span>
            </ng-container>
        </ng-container>
    </ng-container>
</div>