
.file-input-form {
  .formField-invalid {
    // border: 1px solid;
    // color: mat.get-color-from-palette($fe-theme-warn, 500);
}
.formField-invalid:focus {
    // border-color: mat.get-color-from-palette($fe-theme-warn, 700);
}
.formField-invalid:hover {
    // border-color: mat.get-color-from-palette($fe-theme-warn, 800);
}

}
