
.calendar-toolbar {
    overflow: hidden;
    // position: sticky; __<<ngThemingMigrationEscapedComment0>>__
    // top: 50; __<<ngThemingMigrationEscapedComment1>>__

    // padding-top: 4px;
    // padding-bottom: 4px;
    padding-left: 2px;
    // background-color: mat.get-color-from-palette($fe-theme-primary, white);
    z-index: 20;

    display: flex;

    height: 36px;
    mat-icon {
        height: 30px;
        width: 30px;
    }
    // input:focus {
    //     outline: none;
    //     // border-bottom: 2px solid mat.get-color-from-palette($fe-theme-primary, 300);
    // }
    // input {
    //     margin-left: 8px;
    //     margin-right: 10px;
    //     margin-top: 7px;

    //     padding: 0px;
    //     padding-left: 5px;

    //     border: none;
    //     // border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 100);

    //     height: 25px;
    //     width: 120px;

    //     font-size: 16px;
    // }
    // border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
}
.calendar-body {
    overflow: hidden;
}
.full-calendar-body {
    height: calc(100vh - 150px);
    width: 100%;
}

.date-header {
    line-height: 35px;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

::ng-deep {
    .fc-resource-timeline-divider {
        border: none !important;
        background: none !important;
        width: 0px !important;
    }

    // .fc-scrollgrid-sync-table {
    //     tr:nth-child(even) {
    //         .fc-timeline-lane:last-of-type {
    //             background-color: mat.get-color-from-palette($fe-theme-primary, 25);
    //         }
    //     }
    // }

    // .fc-datagrid-body {
    //     tr:nth-child(even) {
    //         background-color: mat.get-color-from-palette($fe-theme-primary, 25);
    //     }
    // }

    .fc-timeline-event {
        // height : 36px;
        border-radius: 2px !important;
    }

    .fc-scrollgrid {
        border: none !important;
        // border
    }
    .fc-timeline-events {
        // top: 5px !important;
        padding-bottom: 0xp !important;
    }

    .fc-scrollgrid-sync-inner {
        padding-bottom: 0xp !important;
    }

    .fc-timeline-event-harness {
        margin-top: 5px;
    }
    .fc-header-toolbar {
        padding: 5px 5px 5px 5px;
    }

    .fc-button-primary {
      border-radius: 0px !important;
      // background-color: mat.get-color-from-palette($fe-theme-grey, 500) !important;
    }
    .fc-button-active {
        // background-color: mat.get-color-from-palette($fe-theme-grey, 300) !important;
    }


    // overlapping arrows
    .fc-timeline-event::after {
        display: none;
    }

    .fc-timeline-event::before {
        display: none;
    }
    .fc-datagrid-cell-main {
        font-size: 12px;
    }
    .fc-event-main {
        span {
            height: 2px !important;
        }
    }

    .fc-datagrid-cell-main {
        .mat-icon {
            vertical-align: middle;
        }
        span {
            cursor: pointer !important;
            text-decoration: underline;
        }
        // span:hover{
        //     color: mat.get-color-from-palette($fe-theme-primary, 500) !important;
        // }
    }
    .fc-datagrid-cell-cushion {
        padding: 5px 5px 5px 5px;

    }
}
.progressbar-spacer {


    height: 4px;
}
