<div class="calendar-body">

    <div class="calendar-toolbar fe-themed-border-bottom">
        <button mat-button color="secondary" (click)="refresh()">
            <mat-icon svgIcon="refresh"></mat-icon> {{'refresh' | translate}}
        </button>
        <button mat-button (click)="openFilter()">
            <mat-icon svgIcon="find"></mat-icon>
            <span class="button-text">{{'filter_options' | translate}}</span>
        </button>
        <button mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
            matTooltip="{{selectedBookmark ? selectedBookmark.bookmark: 'select Bookmark'}}" matTooltipPosition="above">
            <mat-icon svgIcon="bookmark_border"></mat-icon>
            <span class="button-text">{{selectedBookmark ? selectedBookmark.bookmark: 'undefined'}}</span>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="newBookmark()">
                <mat-icon svgIcon="library_add"></mat-icon>
                <span>{{'save_as' | translate}}</span>
            </button>
            <button *ngIf="selectedBookmark && bookmarkService.isSelectedBookmarkEditable(selectedBookmark)" mat-menu-item (click)="saveBookmark()">
                <mat-icon svgIcon="save_mat"></mat-icon>
                <span>{{'save' | translate}}</span>
            </button>
            <button *ngIf="selectedBookmark && !bookmarkService.isSelectedBookmarkEditable(selectedBookmark)" mat-menu-item [ngStyle]="{'opacity': '0.5'}" disabled>
              <mat-icon svgIcon="save_mat"></mat-icon>
              <span>{{'save' | translate}}</span>
            </button>
            <button mat-menu-item *ngFor="let bookmark of bookmarks" (click)="selectBookmark(bookmark, true)"
                [disabled]='tab.MODE != tabTypes.CALENDAR'
                [class.font-primary-500]="isSameBookmark(selectedBookmark, bookmark)">
                <mat-icon svgIcon="bookmark_border"></mat-icon>
                <span>{{bookmark.bookmark}}</span>
                <!-- {{'scope' | translate}}:  -->
                <span class="menu-right">{{bookmark.scope}}</span>
            </button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="timezonemenu" color="secondary">
            <mat-icon svgIcon="timezone"></mat-icon>
            {{ timeZone }}
        </button>
        <mat-menu #timezonemenu="matMenu">
            <button *ngFor="let timeZone of timeZones" mat-menu-item (click)="changeTimeZone(timeZone)">
                <span>{{timeZone}}</span>
            </button>
        </mat-menu>
        <!-- <button mat-flat-button  color="secondary">
            <mat-icon svgIcon="timezone"></mat-icon>
            {{ 'upcoming_events' | translate }}
        </button> -->
    </div>

    <div class="progressbar-spacer" *ngIf="!loading"></div>
    <mat-progress-bar mode="indeterminate" *ngIf="loading">

    </mat-progress-bar>
    <div *ngIf="!loading" id="fullCalendarWrapper">
        <full-calendar  #calendar [options]="calendarOptions" class="full-calendar-body">
            <ng-template #resourceLabelContent let-arg>
                <mat-icon svgIcon="{{arg.resource.extendedProps.SE_TYPE.toLowerCase()}}"></mat-icon><span interactiveTooltip="{{ arg.resource.extendedProps.SE_NAME }}" (click)="openSchedule(arg)">{{ arg.fieldValue }}</span>
              </ng-template>
        </full-calendar>
    </div>
</div>