

.flex-item {
    display: flex;
    align-items: flex-start;


span {
    display: inline-block;
    padding: 2px 0px;

    mat-icon {
        display: inline-flex;
        vertical-align: middle;
    }
}
}
