<div class="flex-item">
    <span *ngFor="let icon of field.ICONS; let rowIdx=index" [style]="icon.CSS" class="icon-wrapper" [class]=icon.CSS_CLASS>
        <mat-icon  *ngIf="icon.IS_VISIBLE" svgIcon="{{ icon.ICON_LOOKUP }}"  interactiveTooltip="{{(icon.TOOLTIP ? icon.TOOLTIP : '') | translate}}"></mat-icon>
    </span>
</div>
