<span *ngIf="data.message" class="chooser-message">{{ data.message | translate }}</span>
<ng-container *ngIf="data.displayType == undefined || data.displayType == 'list'">
    <app-list (clickCallback)="callback($event)" [command]="data.command" [propertyPath]="data.propertyPath" [propertyToShow]="data.propertyToShow" [propertyShowOption]="data.propertyShowOption" [dialogData]="data" [TYPE]="data.TYPE" [shortType]="data.shortType" [tabInfo]="data.tabInfo" [editorFormfield]="data.editorFormfield" [parentBicsuiteObject]="data.parentBicsuiteObject"></app-list>
</ng-container>

<ng-container *ngIf="data.displayType == 'tree'">
    <app-dialog-tree (clickCallback)="callback($event)" [dialogData]= "data" [tabInfo]="data.tabInfo" [editorFormfield]="data.editorFormfield" 
    [parentBicsuiteObject]="data.parentBicsuiteObject"></app-dialog-tree>
</ng-container>

<div >
    <button class="dialog-button" mat-stroked-button color="primary" [mat-dialog-close]="false">{{'cancel' | translate}}</button>
</div>