<div class="vertical-tree-main-content">
    <div class="vertical-hierarchy-body">
        <div class="vertical-hierarchy" id="verticalScrollWrapper" (scroll)="onScroll($event)">
            <canvas id="canvas">
            </canvas>
            <app-hierachy-tree id="vTreeWrapper" [treeControl]="treeControl" [treeFlattener]="treeFlattener"
                [dataSource]="dataSource" [focusedNode]="graphState.focusedNode" [toggleHierarchyView]="toggleHierarchyView"
                [focusNode]="focusNode" [isVerticalTreeHierachy]="graphState.isVerticalTreeHierachy"
                [actionHandler]="graphState.actionHandler" [deleteVTreeItem]="deleteVTreeItem.bind(this)" [createType]="graphState.createEdgeType"
                 [minDependencyWidth]="minDependencyWidth" [clickNode]="clickNode" [graphState]="graphState" ></app-hierachy-tree>
            <div id="vertical-hierachy-wrapper"></div>
        </div>
    </div>
</div>
