

// #vertical-hierachy-wrapper {
//     width: 0;
//     height: 0;
//     position: relative; /* Origin of coordinates for lines, and scrolled content (i.e. not `absolute`) */
// }

.vertical-hierarchy {
    height: calc(100vh - 155px);
    overflow: auto;

    padding-bottom: 10px;
}

.vertical-hierarchy-body {
    overflow: hidden;
}

.vertical-tree-main-content {
    height: calc(100vh - 100px);
    width: 100%;
    .cycle-warn {
      line-height: 36px;
      // color: mat.get-color-from-palette($fe-theme-warn, 600);
      .mat-icon {
          margin-top: 3px !important;
      }
  }

}

.mat-icon {
    vertical-align: middle;
}


#canvas {
    // z-index: 5000;
    position: absolute;
    top: 37px;
    left: 0px;
    pointer-events: none;
}
