
#form-tree-table-identifier {
  .display-contents {
    display: contents;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    empty-cells: show;
  }
  th {
    text-align: left;
    vertical-align: top;
    max-height: 30px;
    padding: 0px 7px 8px 7px;
  }
  .bulk-cell {
    .mat-checkbox {
      padding-left: 10px;
      padding-right: 5px;
    }
  }
  tr {
    height: 26px !important;
    line-height: 26px !important;
    min-height: 26px;
    max-height: 26px;
  }

  td {
    padding: 0px 5px 0px 5px;
    height: 26px !important;
    line-height: 26px !important;
    min-height: 26px;
    max-height: 26px;

    height: 100%;

    app-form-generator {
      height: 30px !important;
    }
  }

  // .tree-node {
  //     border-left: 1 solid black;
  // }

  .tree-cell {
    white-space: pre;
    // display: inline-block;
  }

  .mat-icon {
    vertical-align: middle;
  }

  .name-hover:hover {
    // color: mat.get-color-from-palette($fe-theme-primary, 500);
    cursor: pointer;
  }

  .indent {
    width: 12px;
    min-width: 12px !important;
    max-width: 12px;
    height: 30px !important;
    margin-top: -3px;
    margin-bottom: -3px;
    margin-left: 12px;
    // border-left: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
    display: inline-block;

    hr {
      border: 0;
      height: 1px;
      background: transparent;
      width: 10px;
      margin-top: 15px;
      margin-right: 5px;
      display: inline-block;
    }
  }

  .table-is-empty {
    opacity: 0.5;
    width: 575px;
    margin-left: 8px;
  }
  .d-flex {
    display: flex;
    margin-bottom: 10px;
    .paginator-wrapper {
      display: flex;
      width: 625px;
      margin-left: auto;
      .go-to-container {
        display: flex;
        align-items: baseline;
        background: white;
        mat-form-field {
          width: 56px;
          margin: 6px 4px 0 4px;
          font-size: 12px;
        }
        .go-to-label {
          margin: 0 4px;
          font-size: 12px;
          // color: rgba(0, 0, 0, 0.54);
          font-family: Roboto, "Helvetica Neue", sans-serif;
        }
      }
    }
  }
  .indent:last-of-type {
    width: 12px;
    min-width: 12px !important;
    max-width: 12px;
    height: 30px !important;
    margin-top: -3px;
    margin-bottom: -3px;
    margin-left: 12px;
    // border-left: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
    display: inline-block;

    hr {
      border: 0;
      height: 1px;
      // background: mat.get-color-from-palette($fe-theme-grey, 50);
      width: 10px;
      margin-right: 5px;
      display: inline-block;
    }
  }

  .folder_disabled {
    opacity: 0.5;
  }

  .fe-clickable {
    text-decoration: underline;
  }

  .fe_flagged_to_cut {
    opacity: 0.5 !important;
  }
}
