<table id="form-tree-table-identifier">
    <thead>

        <th align="left" *ngIf="field.ENABLE_BULK == 'true'"> {{ 'select'| translate}}</th>
        <th>
            <span *ngIf="field.NAME_TRANSLATE != undefined" [innerHtml] = "field.NAME_TRANSLATE | translate"></span>
            <span *ngIf="field.NAME_TRANSLATE == undefined" [innerHtml] = "'name' | translate"></span>
        </th>
        <th *ngFor="let column of columnData">
            <span *ngIf="column.TRANSLATE != undefined" [innerHtml]="column.TRANSLATE | translate"></span>
            <span *ngIf="column.TRANSLATE == undefined && column.LABEL != undefined" [innerHtml]="column.LABEL"></span>
        </th>
    </thead>
    <tbody>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="form-tree" class="display-contents">
            <!-- This is the tree node template for leaf nodes -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="display-contents">
                <!-- use a disabled button to provide padding for tree leaf -->
                <tr class="{{node.data.fe_flagged_to_cut ? 'fe_flagged_to_cut' : ''}}">
                    <!-- <div *ngFor="let i of node.levelArray" class="indent"></div> -->
                    <!-- [style.padding-left.px]="node.level * 20" -->
                    <td *ngIf="field.ENABLE_BULK == 'true'&& !node.data[field.BULK_INVISIBLE_IDENTIFIER]" class="bulk-cell">
                        <mat-checkbox [disabled]="node.data[field.BULK_DISABLED_IDENTIFIER]"
                            [checked]="checklistSelection.isSelected(node.data)"
                            (change)="itemSelectionToggle(node.data)">
                        </mat-checkbox>
                    </td>
                    <td *ngIf="node.data[field.BULK_INVISIBLE_IDENTIFIER]">

                    </td>
                    <td  class="tree-cell">

                        <div *ngFor="let i of node.levelArray" class="indent"><hr></div>



                        <!-- <div class="node-indent"></div> -->
                        <!-- <div *ngFor="let i of node.levelArray" class="indent"></div> -->
                        <!-- <button class="small-icon-button" mat-icon-button disabled></button> -->

                        <!-- tree header replaced with html code below -->
                        <ng-template *ngTemplateOutlet="treeReactiveButtons; context: {node : node}"></ng-template>


                    </td>

                    <td *ngFor="let column of columnData">
                        <app-form-generator [form]="form" [field]="column" [bicsuiteObject]="node.data"
                            [tabInfo]="tabInfo" [editorformOptions]="editorformOptions">
                        </app-form-generator>
                    </td>
                </tr>
            </mat-tree-node>
            <!-- This is the tree node template for expandable nodes -->
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding class="display-contents">
                <tr class="{{node.data.fe_flagged_to_cut ? 'fe_flagged_to_cut' : ''}}">
                    <td *ngIf="field.ENABLE_BULK == 'true'&& !node.data[field.BULK_INVISIBLE_IDENTIFIER]" class="bulk-cell">
                        <mat-checkbox [disabled]="node.data[field.BULK_DISABLED_IDENTIFIER]"
                            [checked]="checklistSelection.isSelected(node.data)"
                            (change)="itemSelectionToggle(node.data)">
                        </mat-checkbox>
                    </td>
                    <td *ngIf="node.data[field.BULK_INVISIBLE_IDENTIFIER]">

                    </td>
                     <!-- [style.padding-left.px]="node.level * 20" -->
                    <td class="tree-cell">


                        <div *ngFor="let i of node.levelArray" class="indent"><hr></div>

                        <button class="small-icon-button" mat-icon-button matTreeNodeToggle (click)="toggle(node)"
                            [attr.aria-label]="'Toggle ' + node.name">
                            <mat-icon class="mat-icon-rtl-mirror" svgIcon="{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}">

                            </mat-icon>
                        </button>

                        <!-- tree header replaced with html code below -->
                        <ng-template *ngTemplateOutlet="treeReactiveButtons; context: {node : node}"></ng-template>
                        <!-- {{node.name}} -->

                    </td>
                    <td *ngFor="let column of columnData">
                        <!-- {{node.data[column.NAME] ? node.data[column.NAME]: 'null' }} -->
                        <app-form-generator [form]="form" [field]="column" [bicsuiteObject]="node.data"
                            [tabInfo]="tabInfo" [editorformOptions]="editorformOptions" [formArrayIdentifier]="column.NAME">
                        </app-form-generator>
                    </td>
                </tr>
            </mat-tree-node>
        </mat-tree>

    </tbody>
</table>
<div *ngIf="this.dataSource.data.length == 0" class="table-is-empty">
    {{'table_of_type_is_empty' | translate}} {{field.TRANSLATE | translate}}
</div>
<div class="d-flex">
    <div>
        <div class="table-buttons">
            <ng-container *ngFor="let btn of this.field.TABLE.BUTTONS">
                <app-form-button [form]="form" [btnInfo]="btn" [useCustom]="true" [tabInfo]="tabInfo"
                    [bicsuiteObject]="bicsuiteObject" (clickOccured)="clickCallback($event)" [checklistSelection]="checklistSelection" [parentHasLoaded]="parentHasLoaded" (setTabHasLoaded)="setHasLoaded($event)">
                </app-form-button>
            </ng-container>
        </div>
    </div>
</div>


<ng-template #treeReactiveButtons let-node="node">

    <!-- for REQUIRED_RESOURCE trees -->
    <span *ngIf="field.TREE_CELL_TYPE == 'REQUIRED_RESOURCE'">
        <mat-icon
            svgIcon="{{node.data.RESOURCE_NAME ? node.data.RESOURCE_USAGE.toLowerCase() : node.data.SCOPE_TYPE.toLowerCase()}}">
        </mat-icon>
        <span class="name-hover fe-clickable" *ngIf="node.data.RESOURCE_NAME" (click)="openItem(node)"
            interactiveTooltip="{{field.TOOLTIP ? (field.TOOLTIP_MESSAGE ? (field.TOOLTIP_MESSAGE | translate): node.data[field.TOOLTIP_LOOKUP]) : null}}"
        > {{node.data.RESOURCE_NAME.split('.').pop() }}</span>
        <span class="name-hover fe-clickable" *ngIf="node.data.SCOPE_NAME && !node.data.RESOURCE_NAME" (click)="openItem(node)"> {{node.data.SCOPE_NAME.split('.').pop() }}</span>

        <!-- <span *ngIf="!node.data.RESOURCE_NAME">{{node.path.split('.').pop()}} </span> -->
    </span>

    <span *ngIf="field.TREE_CELL_TYPE == 'DEFINED_RESOURCE'">
        <mat-icon
            svgIcon="{{node.data.USAGE.toLowerCase()}}">
        </mat-icon>
        <span class="name-hover fe-clickable" *ngIf="node.data.NAME" (click)="openItem(node)"> {{node.data.NAME.split('.').pop() }}</span>
        <!-- <span>{{node.path.split('.').pop()}} </span> -->
    </span>

    <span *ngIf="field.TREE_CELL_TYPE == 'SCOPE_RESOURCE'">
        <mat-icon
            svgIcon="{{node.data.USAGE.toLowerCase()}}">
        </mat-icon>
        <span class="name-hover fe-clickable" *ngIf="node.data.NAME" (click)="openItem(node)"> {{node.data.NAME.split('.').pop() }}</span>
        <!-- <span>{{node.path.split('.').pop()}} </span> -->
    </span>

    <span *ngIf="field.TREE_CELL_TYPE == 'FOLDER_JOB'">
        <mat-icon
            svgIcon="{{node.data.TYPE.toLowerCase()}}">
        </mat-icon>
        <span class="name-hover fe-clickable" *ngIf="node.data.SE_PATH" (click)="openItem(node)"> {{node.data.SE_PATH.split('.').pop() }}</span>
        <!-- <span>{{node.path.split('.').pop()}} </span> -->
    </span>

    <span *ngIf="field.TREE_CELL_TYPE == 'ENVIRONMENT_FOLDER_JOB'">
        <mat-icon
            svgIcon="{{node.data.TYPE.toLowerCase()}}">
        </mat-icon>
        <span *ngIf="node.data.ENV == '*'" class="name-hover fe-clickable" (click)="openItem(node)"> {{node.data.SE_PATH.split('.').pop() }}</span>
        <span *ngIf="node.data.ENV != '*'" class="folder_disabled">{{node.data.SE_PATH.split('.').pop()}} </span>
    </span>

    <span *ngIf="field.TREE_CELL_TYPE == 'FOOTPRINT_FOLDER_JOB'">
        <mat-icon
            svgIcon="{{node.data.TYPE.toLowerCase()}}">
        </mat-icon>
        <span *ngIf="node.data.TYPE == 'JOB'" class="name-hover fe-clickable" (click)="openItem(node)"> {{node.data.SE_PATH.split('.').pop() }}</span>
        <span *ngIf="node.data.TYPE != 'JOB'" class="folder_disabled">{{node.data.SE_PATH.split('.').pop()}} </span>
    </span>

    <span *ngIf="field.TREE_CELL_TYPE == 'OBJECT_INSTANCE'">
        <mat-icon
            svgIcon="{{node.data.ICON}}">
        </mat-icon>
        <span > {{node.data.UNIQUE_NAME }}</span>
    </span>

    <span *ngIf="field.TREE_CELL_TYPE == 'OBJECT_EVENT'">
        <mat-icon
            svgIcon="{{node.data.EVENT_ICON}}">
        </mat-icon>
        <span > {{node.data.EVENT }}</span>
    </span>

</ng-template>
