<ng-container *ngIf="isAvailable">
    <button *ngIf="!btnInfo.STROKED" mat-flat-button [color]="btnColor" (click)="submit()" 
     [disabled]="isDisabled || isLoading()" matTooltip=" {{!buttonHasSpace ? (  btnInfo.TRANSLATE | translate) : ''}}"
     matTooltipPosition="above">
        <ng-container *ngIf="this.icon != undefined">
            <mat-icon [ngStyle]="{'opacity': (isDisabled || isLoading()) ? '0.5': '1.0'}" svgIcon="{{ this.icon }}"></mat-icon>
        </ng-container>
        <ng-container *ngIf="buttonHasSpace"> {{ btnInfo.TRANSLATE | translate }}&nbsp;</ng-container>
    </button>
    <button *ngIf="btnInfo.STROKED" mat-stroked-button [color]="btnColor" (click)="submit()" 
    [disabled]="isDisabled || isLoading()" matTooltip=" {{!buttonHasSpace ? (  btnInfo.TRANSLATE | translate) : ''}}"
    matTooltipPosition="above">
        <ng-container *ngIf="this.icon != undefined">
            <mat-icon [ngStyle]="{'opacity': (isDisabled || isLoading()) ? '0.5': '1.0'}" svgIcon="{{ this.icon }}"></mat-icon>
        </ng-container>
        <ng-container *ngIf="buttonHasSpace"> {{ btnInfo.TRANSLATE | translate }}&nbsp;</ng-container>
    </button>
</ng-container>
