

<div class="efc-progress-bar-wrapper">
  <mat-progress-bar *ngIf="loadnumber != undefined && isNumber(loadnumber)"  mode="determinate" [value]="loadnumber"></mat-progress-bar>
  <ng-template *ngIf="loadnumber == undefined || !isNumber(loadnumber)"> &nbsp; </ng-template>
</div>
