<div class="input-form" id="efg-input-field">
    <ng-container *ngIf="editorformOptions.formArrayIdentifier !== undefined">

        <!-- table -->
        <ng-container [formGroup]="form">
            <div [formArrayName]="editorformOptions.formArrayIdentifier" class="table-flex">
                <ng-container *ngIf="useSimple === true">
                    <!--  -->
                    <mat-icon *ngIf="iconReference != undefined" svgIcon="{{ iconReference }}"></mat-icon>
                    <!-- [ngStyle]="{'width.ch': (formControl.value + '').length ? (formControl.value + '').length + 2 : 4, 'min-width.ch': 4}" -->
                    <input [name]="field.NAME" [ngStyle]="{ 'width': (field.WIDTH ? field.WIDTH : '8em')}"
                        *ngIf="!editorformOptions.render.disabled"
                        class="simple-input editorform-themed-input simple-table-input {{formControl.invalid ? 'editorform-themed-input-table-field-invalid' : ''}} font-grey-950"
                        [type]="inputType" [formControlName]="formArrayIndex" [autocomplete]="(inputType == 'password' ? 'new-password': 'off')"
                        [placeholder]="field.PLACEHOLDER ? field.PLACEHOLDER : ''" [maxlength]="field.MAX_SIZE">
                    <!-- placeholder="{{ formControl.invalid ? (getFormErrorMessage(formControl) |
                        [required]='field.MANDATORY != undefined && field.MANDATORY > 0'
                            translate) : ''}}" -->
                    <!-- && formControl.dirty -->
                    <span *ngIf="field.UNIT !== undefined">&nbsp; {{ field.UNIT | translate}}</span>
                    <!-- <span *ngIf="formControl.invalid">&nbsp; {{ getFormErrorMessage(formControl) |
                        translate }} </span> -->
                    <span *ngIf="editorformOptions.render.disabled" class="disabled-input">
                        {{ bicsuiteObject[field.NAME] | displayModifier: {
                        displayMode: field.DISPLAY_MODIFIER
                        }
                        }}


                    </span>
                    <!-- {{}} -->
                </ng-container>

            </div>

        </ng-container>
    </ng-container>

    <!-- forminput -->
    <ng-container *ngIf="editorformOptions.formArrayIdentifier === undefined">
        <ng-container [formGroup]="form">
            <label class="fe-generated-label" >
                <ng-container *ngIf="field.TRANSLATE !== undefined">
                    {{field.TRANSLATE | translate}}:
                </ng-container>
            </label>
            <ng-container *ngIf="useSimple === true">
                <mat-icon *ngIf="iconReference != undefined" svgIcon="{{ iconReference }}"></mat-icon>
                <input [name]="'HTML' + field.NAME" *ngIf="!editorformOptions.render.disabled" [type]="inputType"
                    [formControlName]="field.NAME" class="simple-input form-input font-grey-950 editorform-themed-input" [autocomplete]="(inputType == 'password' ? 'new-password': 'off') "
                    [placeholder]="field.PLACEHOLDER ? field.PLACEHOLDER : ''" [maxlength]="field.MAX_SIZE">
                <!-- [required]='field.MANDATORY != undefined && field.MANDATORY > 0' -->
                <span *ngIf="editorformOptions.render.disabled" class="disabled-input">
                    {{ bicsuiteObject[field.NAME] | displayModifier: {
                    displayMode: field.DISPLAY_MODIFIER
                    }
                    }}
                </span>
                <!-- && formControl.dirty -->
                <span *ngIf="field.UNIT !== undefined">&nbsp; {{ field.UNIT | translate}}</span>
                <span *ngIf="formControl.invalid" class="editorform-themed-input-invalid ">&nbsp; {{ getFormErrorMessage(formControl) |
                    translate
                    }} </span>
            </ng-container>
        </ng-container>
    </ng-container>
</div>
