
#efg-input-field {
  .input-form {
    display: flex;
    align-items: flex-start;
    white-space: nowrap;
    flex-wrap: nowrap;
  }

  .simple-input {
    padding: 3.5px 7px 3.5px 4px;
    font-size: 14px;
    height: 15px;

    // color: unset;
    background-color: unset;
  }

  .simple-table-input {
    // min-width: 100px;
    // max-width: 250px;
    // width: 100%;
  }
  .disabled-input {
    line-height: 24px;
    font-size: 14px;
    opacity: 0.7;
  }
  .table-flex {
    .disabled-input {
      line-height: 24px;
      font-size: 13px;
    }
  }
  .form-input {
    width: 247px;
    min-width: 100px;
    font-family: "Arimo", sans-serif;
  }

  // .form-invalid {
  //   color: mat.get-color-from-palette($fe-theme-warn, 500);
  // }

  // .simple-input:hover {
  //   border: 1px solid mat.get-color-from-palette($fe-theme-grey, 800);
  // }

  // .simple-input:focus {
  //   outline: none;
  //   border: 1px solid mat.get-color-from-palette($fe-theme-primary, 600);
  // }

  // .table-field-invalid {
  //   border-color: mat.get-color-from-palette($fe-theme-warn, 200);
  // }
  // .table-field-invalid:focus {
  //   border-color: mat.get-color-from-palette($fe-theme-warn, 700);
  // }
  // .table-field-invalid:hover {
  //   border-color: mat.get-color-from-palette($fe-theme-warn, 800);
  // }

  mat-icon {
    display: inline-flex;
    vertical-align: middle;
  }
}
// .mat-form-field
// { // Width of input:

//     // width: 100%;
//     max-width: 200px;
// }
