<div *ngIf="isActive" class="shell-wrapper" id="shell-wrapper-identifier">

    <!-- accept="image/png, image/jpeg" -->
    <input type="file" id="shell-import" name="shell-import" (change)="fileChanged($event)" style="display:none" accept=".sdms">

    <div class="shell-body">
        <div class="shell-headline-wrapper">
            <span class="shell-headline">BICsuite Shell </span>
        </div>
        <mat-form-field appearance="fill">
            <textarea spellcheck="false" class="shell-text-area" id="shellCommandInput" matInput rows="10"
                matAutocompletePosition="below" [formControl]="formControl"></textarea>
            <!-- [matAutocomplete]="auto" -->
        </mat-form-field>


        <div class="button-wrapper">
            <div class="shell-left-buttons shell-buttons">
                <button mat-stroked-button (click)="clearInput()" [disabled]="!this.formControl.value">
                    <!-- matTooltip="{{'submit_statement' | translate}}" matTooltipPosition="above" -->
                    {{'clear_input' | translate}}
                </button>
                <button mat-stroked-button (click)=" discardAllResults()" [disabled]="!(this.results.length > 0)">
                    <!-- matTooltip="{{'submit_statement' | translate}}" matTooltipPosition="above" -->
                    {{'discard_all_results' | translate}}
                </button>
                <mat-checkbox [(ngModel)]="autoclear"> {{'autoclear' | translate }}</mat-checkbox>
            </div>
            <div class="shell-middle-buttons shell-buttons">
                <button mat-stroked-button (click)="downloadScript()" [disabled]="!this.formControl.value">
                    {{'download_script' | translate}}
                </button>

                <button mat-stroked-button (click)="importScript()">

                    <!-- matTooltip="{{'submit_statement' | translate}}" matTooltipPosition="above" -->
                    {{'import_script' | translate}}
                </button>
            </div>
            <div class="shell-right-buttons shell-buttons">
                <button mat-stroked-button (click)="runCurrentStatement()" [disabled]="!this.formControl.value">

                    <!-- matTooltip="{{'submit_statement' | translate}}" matTooltipPosition="above" -->
                    {{'run_current' | translate}}
                </button>

                <button mat-stroked-button (click)="runAllStatements()" [disabled]="!this.formControl.value">

                    <!-- matTooltip="{{'submit_statement' | translate}}" matTooltipPosition="above" -->
                    {{'run_all' | translate}}
                </button>
            </div>
        </div>
        <!-- <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
            <mat-option *ngFor="let command of filteredOptions | async" [value]="command">
                {{command}}
            </mat-option>
        </mat-autocomplete> -->


        <div *ngFor="let result of results; index as i;" class="accordion-body background-theme-secondary">

            <mat-accordion>
                <mat-expansion-panel [expanded]="i == 0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{'shell_command' | translate}}:  {{ result.title | displayModifier:
                                {
                                displayMode: 'TRUNCATE_128'
                                }
                                }}
                        </mat-panel-title>
                        <mat-panel-description>

                        </mat-panel-description>
                        <button mat-icon-button (click)="discardResult(i)">
                            <mat-icon svgIcon="close"></mat-icon>
                        </button>
                    </mat-expansion-panel-header>

                    <ng-container>
                        <!-- is lazy -->
                        <ng-template matExpansionPanelContent>
                            <!-- <pre>{{result.data | json}}</pre> -->
                            {{'shell_result' | translate}}:
                            <table class="output-table sdms_def" cellspacing="0" style="width: 100%">
                                <div *ngIf="result.data.hasOwnProperty('ERROR')">

                                    <!-- <tr class="output-command-row">
                                        <td class="output-command-cell" colspan="2">
                                            <pre class="output-command-pre">{{result.title}}</pre>
                                        </td>
                                    </tr> -->
                                    <tr class="output-errortitle-row font-grey-950">
                                        <td class="output-errortitle-cell">
                                            Error {{result.data.ERROR.ERRORCODE}} executing command
                                        </td>
                                    </tr>
                                    <tr class="output-error-row">
                                        <td class="output-error-cell">
                                            <pre class="error-command-pre">{{result.data.ERROR.ERRORMESSAGE}}</pre>
                                        </td>
                                    </tr>

                                </div>
                                <div *ngIf="result.data.hasOwnProperty('DATA') && result.data.DATA.hasOwnProperty('TABLE')">
                                    <!-- <tr class="output-command-row">
                                        <td class="output-command-cell" [attr.colspan]="result.data.DATA.DESC.length">
                                            <pre class="output-command-pre"> {{result.title}}</pre>
                                        </td>
                                    </tr> -->

                                    <tr class="output-title-row" [attr.colspan]="result.data.DATA.DESC.length">
                                        {{result.data.DATA.TITLE}}
                                    </tr>

                                    <tr class="output-header-row">
                                        <td *ngFor="let desc of result.data.DATA.DESC" class="output-header-cell">
                                            {{desc}}:
                                        </td>
                                        <td  class="output-header-cell" style="width: 100%">

                                        </td>
                                    </tr>
                                    <tr *ngFor="let row of result.data.DATA.TABLE" class="output-table-row output-row">

                                        <td *ngFor="let key of result.data.DATA.DESC" class="output-cell">
                                            <pre>{{row[key]}}</pre>
                                            <!-- <pre *ngIf="Object.prototype.hasOwnProperty.call(row, cell)">{{cell}}</pre> -->
                                        </td>
                                        <td  class="output-cell" style="width: 100%">

                                        </td>
                                    </tr>
                                    <!-- <tr class="output-feedback-row">
                                        <td class="output-feedback-cell" [attr.colspan]="result.data.DATA.DESC.length">
                                            Feedback: {{result.data.FEEDBACK}}
                                        </td>
                                    </tr> -->
                                </div>
                                <div *ngIf="result.data.hasOwnProperty('DATA') && result.data.DATA.hasOwnProperty('RECORD')">
                                    <!-- <tr class="output-command-row">
                                        <td class="output-command-cell" colspan="2">
                                            <pre class="output-command-pre"> {{result.title}}</pre>
                                        </td>
                                    </tr> -->

                                    <tr class="output-title-row" colspan="2">
                                        {{result.data.DATA.TITLE}}
                                    </tr>


                                    <tr *ngFor="let key of result.data.DATA.DESC" class="output-row">

                                        <td *ngIf="typeOf(result.data.DATA.RECORD[key]) == 'string' || result.data.DATA.RECORD[key] == null"
                                            class="output-header-cell">{{key}}:</td>
                                        <td *ngIf="typeOf(result.data.DATA.RECORD[key]) == 'string' || result.data.DATA.RECORD[key] == null"
                                            class="output-cell" style="width: 100%"><pre>{{result.data.DATA.RECORD[key]}}</pre>
                                        </td>


                                        <td *ngIf="typeOf(result.data.DATA.RECORD[key]) == 'object' && result.data.DATA.RECORD[key] != null"
                                            colspan="2" class="shell-output-object-cell">


                                            <table class="shell-output-subtable font-grey-950">
                                                <tr>
                                                    <td class="output-header-cell">
                                                        {{key}}:
                                                    </td>
                                                </tr>
                                                <tr *ngIf="result.data.DATA.RECORD[key].TABLE.length > 0 "
                                                    class="output-header-row">
                                                    <td *ngFor="let desc of result.data.DATA.RECORD[key].DESC"
                                                        class="output-subheader-cell">
                                                        {{desc}}
                                                    </td>
                                                </tr>
                                                <tr *ngIf="result.data.DATA.RECORD[key].TABLE.length == 0"
                                                    class="shell-output-table-row output-row">
                                                    <td class="output-cell">
                                                        no table entries
                                                    </td>
                                                </tr>
                                                <tr *ngFor="let row of result.data.DATA.RECORD[key].TABLE"
                                                    class="output-table-row output-row">
                                                    <td *ngFor="let key of result.data.DATA.RECORD[key].DESC" class="output-cell">
                                                        <pre>{{row[key]}}</pre>
                                                        <!-- <pre *ngIf="Object.prototype.hasOwnProperty.call(row, cell)">{{cell}}</pre> -->
                                                    </td>
                                                    <td style="width: 100%">

                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <!-- <tr *ngFor="let row of result.data.DATA.TABLE" class="output-row">

                                                <td *ngFor="let key of Object.keys(row)" class="output-cell" >
                                                    {{row[key]}}
                                                    <pre *ngIf="Object.prototype.hasOwnProperty.call(row, cell)">{{cell}}</pre>
                                                </td>

                                        </tr> -->
                                    <!-- <tr class="output-feedback-row">
                                        <td class="output-feedback-cell" [attr.colspan]="result.data.DATA.DESC.length">
                                            Feedback: {{ result.data.FEEDBACK}}
                                        </td>
                                    </tr> -->
                                </div>
                                <div *ngIf="result.data.hasOwnProperty('FEEDBACK')">
                                    Feedback: {{result.data.FEEDBACK}}
                                </div>
                            </table>
                        </ng-template>
                    </ng-container>
                </mat-expansion-panel>
            </mat-accordion>


        </div>
    </div>
    <div id="output" class="output-div"></div>
</div>
