
::ng-deep.mat-autocomplete-panel {
  width: 200px !important;
  .mat-option {
    font-size: 14px !important;
    height: 24px;
  }
}

::ng-deep.mat-expansion-panel-body {
  overflow: auto !important;
}

.cdk-overlay-pane {
  // width: 150px !important;
}

.shell-wrapper {

  overflow: auto;

  height: calc(100vh - 142px);
  .shell-body {
    padding-top: 40px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 300px;
    .shell-headline-wrapper {
      margin-bottom: 20px;
      .shell-headline {
        font-size: 22px;
      }
    }
    mat-form-field {
      width: 100%;
    }
    button {
      margin-bottom: 10px;
    }
    .shell-text-area {
      border: none !important;
      // min-height: 250px;
      // height: 250px !important;
      white-space: pre-wrap;
      font-family: "Courier New", monospace;
    }
  }

  // old

  .output-table {
    margin-top: 10px;
  }
  .output-table,
  .shell-output-subtable {
    // background-color: while;
    white-space: nowrap;
    border-collapse: collapse;
    // color: mat.get-color-from-palette($fe-theme-grey, 950);
    // width: 100%;
  }

  .output-row {
  }
  .output-title-row {
    // color: white;
    // font-weight: bold;
  }
  .output-feedback-row {
    // color: white;
    // font-weight: bold;
  }

  .output-feedback-row,
  .output-title-row {
    // background-color: #888888;
  }
  .output-header-row {
    // font-weight: bold;
  }
  .output-error-row {
  }
  .output-errortitle-row {
    // font-weight: bold;
    // color: white;
    // background-color: #FF4444;
  }
  .output-cell {
    vertical-align: top;
  }
  .output-header-cell {
    // background-color: #DDDDDD;
  }
  .output-subheader-cell {
    // background-color: #BBBBBB;
    font-weight: bold;
  }
  .output-header-cell,
  .output-subheader-cell,
  .output-errortile-cell {
    // font-weight: bold;
  }
  .output-error-cell {
    // background-color: #FFCCCC;
  }
  .output-table,
  .output-header-cell,
  .output-subheader-cell,
  .output-title-cell,
  .output-feedback-cell,
  .output-error-cell,
  .output-cell,
  .output-command-cell {
    // border: 1px solid black;
    font-size: 12px !important;
  }
  .output-header-cell,
  .output-title-cell,
  .output-subheader-cell,
  .output-feedback-cell,
  .output-errortitle-cell,
  .output-error-cell,
  .output-cell,
  .output-command-cell {
    padding: 2px 5px 2px 5px;
  }
  .output-command-cell {
    // background-color: #BBFFBB;
    width: 100%;
  }
  .output-header-cell {
    vertical-align: top;
    font-weight: bold;
  }
  .output-table-cell {
    padding: 0px;
    // border-top: 1px solid black;
  }
  table tr:first-child td {
    border-top: 0;
  }
  table tr td:first-child {
    border-left: 0;
  }
  table tr:last-child td {
    border-bottom: 0;
  }
  table tr td:last-child {
    border-right: 0;
  }
  .shell-output-object-cell {
    // background-color: mat.get-color-from-palette($fe-theme-primary, white);
  }

  .shell-output-table-row:nth-child(odd) {
    // background-color: mat.get-color-from-palette($fe-theme-primary, 50);
    // mix-blend-mode: multiply;
  }
  .output-header-row {
    // position: -webkit-sticky;
    // position: sticky;
    // top: 0px;
    // transform:scale(0.999);
  }
  .output-command-pre {
    width: 100%;
  }
  td {
    // color: rgb(51, 51, 51);
    line-height: 16px;
    height: 16px;
  }

  .shell-right-buttons {
    margin-left: auto;
  }

  .shell-left-buttons {
    align-self: flex-start;
  }

  .shell-middle-buttons {
    margin-left: auto;
  }

  .accordion-body {
    width: 100%;
  }

  .button-wrapper {
    width: 100%;
    display: flex;
  }

  .button:first-child {
    margin: 0px 2px 0px 0px;
  }

  button {
    margin: 0px 2px 0px 2px;
  }

  button:last-child {
    margin: 0px 0px 0px 2px;
  }

  mat-checkbox {
    margin: 5px 0px 5px 10px;
  }

  pre {
    margin: 0px 0px 0px 2px;
  }
}
