<div *ngIf="contextData" class="context-menu background-theme-secondary" id="context-menu-id-selector">
  <!-- <div>{{contextData.DATA.NAME}}</div> -->
  <div *ngIf="editorFormObject">
    <div *ngFor="let field of editorFormObject.FIELDS; index as i">
      <!-- enabled noform button -->
      <div
        *ngIf="
          field.TYPE == 'button' &&
          field.ENABLED != false &&
          field.VISIBLE != false
        "
        class="field button"
        matRipple
        (click)="callNoCrudMethods(field.METHOD)"
      >
        <mat-icon
          *ngIf="field.ICON_LOOKUP != undefined"
          svgIcon="{{ field.ICON_LOOKUP }}"
        ></mat-icon>
        {{ field.TRANSLATE | translate }}
      </div>
      <!-- disabled noform button -->
      <div
        *ngIf="
          field.TYPE == 'button' &&
          field.ENABLED == false &&
          field.VISIBLE != false
        "
        class="field button disabled"
        [ngStyle]="{ opacity: '0.5' }"
      >
        <mat-icon
          *ngIf="field.ICON_LOOKUP != undefined"
          svgIcon="{{ field.ICON_LOOKUP }}"
        ></mat-icon>
        {{ field.TRANSLATE | translate }}
      </div>
      <!-- enabled form button -->
      <div
        *ngIf="
          field.TYPE == 'form_button' &&
          !field.render.hidden &&
          !field.render.disabled
        "
        class="field button"
        matRipple
        [ngStyle]="{ opacity: field.render.disabled ? '0.5' : '1.0' }"
        (click)="callMethod(field.method)"
      >
        <mat-icon
          *ngIf="field.ICON_LOOKUP != undefined"
          [ngStyle]="{ opacity: field.render.disabled ? '0.5' : '1.0' }"
          svgIcon="{{ field.ICON_LOOKUP }}"
        >
        </mat-icon>
        {{ field.TRANSLATE | translate }}
      </div>

      <!-- disabled form button -->
      <div
        *ngIf="
          field.TYPE == 'form_button' &&
          !field.render.hidden &&
          field.render.disabled
        "
        class="field button"
        matRipple
        [ngStyle]="{ opacity: field.render.disabled ? '0.5' : '1.0' }"
      >
        <mat-icon
          *ngIf="field.ICON_LOOKUP != undefined"
          [ngStyle]="{ opacity: field.render.disabled ? '0.5' : '1.0' }"
          svgIcon="{{ field.ICON_LOOKUP }}"
        >
        </mat-icon>
        {{ field.TRANSLATE | translate }}
      </div>

      <div *ngIf="field.TYPE == 'title'" class="field title">
        <mat-icon
          *ngIf="field.ICON_LOOKUP != undefined"
          svgIcon="{{ field.ICON_LOOKUP }}"
        ></mat-icon>
        {{ field.LABEL! | translate }}
      </div>
      <div *ngIf="field.TYPE == 'seperator'" class="seperator"></div>
    </div>
  </div>
  <div *ngIf="loading" class="load-container">
    <img class="loadspinner" alt="Logo" src="assets/Propeller.svg" />
    {{ "loading" | translate }}
  </div>
</div>
