
.context-menu {
  // background-color: mat.get-color-from-palette($fe-theme-primary, white);
  padding: 10px 0px 10px 0px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.507);

  .field {
    display: flex;
    align-items: center;

    padding-left: 20px;
    padding-right: 20px;
    height: 28px;
    line-height: 28px;

    cursor: pointer;
    mat-icon {
      padding-right: 5px;
    }
  }
  .seperator {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .load-container {
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    align-items: center;

    line-height: 25px;
    .loadspinner {
      margin-right: 10px;
      height: 20px;

      opacity: 0.8;
      animation: rotation 4s infinite;
    }
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }

  }
  @-ms-keyframes spin {
    from {
      -ms-transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
    }
  }
  @-moz-keyframes spin {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
}


