
  <div class="select-content-wrapper">
    <mat-form-field >
        <mat-label>{{'lang' | translate}}</mat-label>
        <span matPrefix style="margin-right: 8px;"><mat-icon svgIcon="public"></mat-icon></span>
        <mat-select [(ngModel)]="language" panelClass="default-panel">
          <mat-option value="de" (click)="onLangChange('de')"><span>Deutsch</span></mat-option>
          <mat-option value="en" (click)="onLangChange('en')">English</mat-option>
          <mat-option value="nl" (click)="onLangChange('nl')">Nederlands</mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  