<div id="efd-container">
    <div mat-dialog-title class="title">
        <h1>{{ data.title }}</h1>
    </div>
    <div class="tab-error-container" *ngIf="errorContainerOpened === true">

        <!-- <mat-divider></mat-divider> -->
        <div class="tab-error-content">
            <span class="errorIcon">
                <mat-icon svgIcon="warning"></mat-icon>
            </span>
            <span>{{ errorMessage }}</span>
            <!-- <span class="tab-error-close-btn">
                <button mat-icon-button (click)="closeErrorContainer()" >
                    <mat-icon matTooltip="Close Error"  matTooltipPosition="above">close</mat-icon>
                </button>
            </span> -->
        </div>
    </div>
    <div class="tab-success-container" *ngIf="successContainerOpened === true">

        <!-- <mat-divider></mat-divider> -->
        <div class="tab-success-content">
            <span class="successIcon">
                <mat-icon svg-icon svgIcon="done"></mat-icon>
            </span>
            <span>{{ successMessage }}</span>
            <span class="tab-success-close-btn">
                <button mat-icon-button (click)="closeSuccessContainer()">
                    <mat-icon matTooltip="Close" matTooltipPosition="above" svgIcon="close"></mat-icon>
                </button>
            </span>
        </div>
    </div>
    <div mat-dialog-content class="form-content">
        <div class="efd-content">
            <app-form-generator [form]="form" [editorform]="data.editorform" [bicsuiteObject]="data.records"
                [tabInfo]="data.tabInfo" [parentBicsuiteObject]="data.parentBicsuiteObject">
            </app-form-generator>
        </div>
    </div>
    <!-- <hr> -->
    <div class="button-list">

        <ng-container *ngFor="let btn of data.editorform.DIALOG_BUTTONS">
            <!-- <ng-container *ngIf="((btn.MODE == 'EXECUTE_AND_CLOSE' || btn.MODE == 'EXECUTE') && isLoading)">
              <app-form-button [loading]="isLoading" [tabInfo]="data.tabInfo" [btnColor]="'primary'" [form]="form" [btnInfo]="btn"
                  [useCustom]="true" [bicsuiteObject]="data.records" (clickOccured)="clickCallback($event)">
              </app-form-button>
            </ng-container> -->
            <ng-container *ngIf="!((btn.MODE == 'EXECUTE_AND_CLOSE' || btn.MODE == 'EXECUTE') && isLoading)">
                <app-form-button [tabInfo]="data.tabInfo" [btnColor]="'primary'" [form]="form" [btnInfo]="btn"
                    [useCustom]="true" [bicsuiteObject]="data.records" (clickOccured)="clickCallback($event)">
                </app-form-button>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="isLoading">
          &nbsp; &nbsp;
          <img class="loadspinner" alt="Logo" src="assets/Propeller.svg">
          {{'processing' | translate}}
      </ng-container>
    </div>

</div>
