
/* WRITE ALL CSS INSIDE THIS CLASS. Otherwise it might affect global styles. */
#efd-container {
  .title {
    // color: white;
    // background-color: mat.get-color-from-palette($fe-theme-primary, 300);
    h1 {
      padding: 16px 4px 16px 4px !important;
    }
  }

  /* fix for vertical scroll-bar. */
  div.mat-dialog-content,
  div.mat-dialog-title {
    margin: 0px;
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .title h1 {
    margin: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  /* Content */
  div.mat-dialog-content > .efd-content {
    padding: 25px 0px;
  }
  
  .button-list {
    float: right;
    app-form-button {
      // margin-left: 10px;
    }
    text-align: right;
    margin-bottom: 16px;
    margin-right: 16px;

    display: flex;
    align-items: center;

    .loadspinner {
      margin-right: 10px;
      height: 20px;

      opacity: 0.8;
      animation: rotation 4s infinite;
    }
  }

  min-width: 600px;

  .tab-error-container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    // border: 1.5px solid mat.get-color-from-palette($fe-theme-error, 700);
    // box-shadow: 0px 10px 13px -7px #3f3f3f, 4px 4px 17px 5px rgba(83, 83, 83, 0);

    // border-radius: 5px;

    .errorIcon {
      line-height: 50px;
      .mat-icon {
        padding-right: 10px;
        vertical-align: middle;
      }
    }
    .tab-error-heading {
      margin: 0;
    }

    // .tab-error-close-btn {
    //     line-height: 50px;
    //     .mat-icon-button {
    //         vertical-align: middle;
    //     }

    //     float: right;
    //     width: 50px;
    //     height: 40px;
    //     // // margin-left: auto;
    //     // margin-bottom: 10px;
    //     // margin-right: 10px;
    // }

    .tab-error-header,
    .tab-error-content {
      position: relative;
      padding-left: 20px;
    }

    .tab-error-content {
      line-height: 50px;
    }
  }

  .tab-success-container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    // border: 1.5px solid mat.get-color-from-palette($fe-theme-green, 700);

    .successIcon {
      line-height: 50px;
      .mat-icon {
        padding-right: 10px;
        vertical-align: middle;
      }
    }
    .tab-success-heading {
      margin: 0;
    }
    .tab-success-header,
    .tab-success-content {
      position: relative;
      padding-left: 20px;
    }

    .tab-success-content {
      line-height: 50px;
    }
    .tab-success-close-btn {
      line-height: 50px;
      .mat-icon-button {
        vertical-align: middle;
      }

      float: right;
      width: 50px;
      height: 40px;
      // // margin-left: auto;
      // margin-bottom: 10px;
      // margin-right: 10px;
    }
  }
  hr {
    margin-top: 0px;
  }
  .confirm-text {
    font-size: 18px;
    padding-bottom: 10px;
    padding-left: 8px;
  }
}



@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  from {
      -ms-transform: rotate(0deg);
  }
  to {
      -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
      -moz-transform: rotate(0deg);
  }
  to {
      -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(360deg);
  }
}
