.interactive-tooltip {
  position: fixed;
  transform: translateX(-50%);
  padding: 0px 0pc 15px 0px;
  z-index: 1000;

  .interactive-tooltip-content {
    font-family: Arimo;
    background-color: rgba(97, 97, 97, 0.9);
    color: #ffffff;
    font-size: 10px;
    padding: 6px 8px 6px 8px;
    white-space: nowrap;
  }
}
