<div class="fe-snackbar-wrapper snackbartext-wrapper">
    <ng-container *ngIf="developerMode == true">
        <span class="snackbar-content-text" *ngFor="let message of data.message">
            {{message}}
        </span>
        <button mat-icon-button class="snackbar-button mat-icon-button" (click)="dismiss()">
            <mat-icon svgIcon="drop"></mat-icon>
        </button>
    </ng-container>

    <ng-container *ngIf="developerMode == false">
        <span *ngIf="data.outputType == noneType">
            <span *ngFor="let message of data.message">
                <ng-container *ngIf="!(((message | translate) + '').startsWith('KEY NOT FOUND')); else rawMessage">
                    {{ message | translate }}
                </ng-container>
                <ng-template #rawMessage>{{ message }}</ng-template>
            </span>
        </span>

        <span *ngIf="data.outputType == spaceType">
            <span *ngFor="let message of data.message; let i = index" [attr.data-index]="i">
                <ng-container *ngIf="!(((message | translate) + '').startsWith('KEY NOT FOUND')); else rawMessage">
                    <ng-container *ngIf="i > 0; else singleMessage">
                        {{" " + (message | translate) }}
                    </ng-container>
                    <ng-template #singleMessage>{{ message | translate }} <br>
                    </ng-template>
                </ng-container>
                <ng-template #rawMessage>
                    <ng-container *ngIf="i > 0; else singleMessage">
                        {{" " + message }}
                    </ng-container>
                    <ng-template #singleMessage>{{ message }}</ng-template>
                </ng-template>
            </span>
        </span>
        <button mat-icon-button class="mat-icon-button" (click)="dismiss()">
            <mat-icon svgIcon="drop"></mat-icon>
        </button>
    </ng-container>
</div>