<div class="welcome-screen-body">

   <div class="welcome-text">
      <div *ngIf="!isSchedulix()" class="welcome-text-header">
        BICsuite
      </div>
      <div *ngIf="isSchedulix()" class="welcome-text-header" >schedul<span class="font-primary-500">ix</span></div>
      <div class="welcome-text-subheader font-grey-500">
        Enterprise Job Scheduling
      </div>
      <div class="welcome-text-body-wrapper">
        <div class="welcome-text-body">
          <div class="header">
            Operate
          </div>
          <!-- <div class="welcome-link">
            <mat-icon matTooltip="Dashboard" matTooltipPosition="above" svgIcon="runmajobs"></mat-icon>
            <a>Dashboard</a>
          </div> -->
          <div class="welcome-link" routerLink="/home" (click)="addTab('Monitor Master')">
            <mat-icon matTooltip="Monitor Master" matTooltipPosition="above" svgIcon="runmajobs"></mat-icon>
            <a>Monitor Master</a>
          </div>
          <div class="welcome-link" routerLink="/home" (click)="addTab('Monitor Jobs')">
            <mat-icon matTooltip="Monitor Jobs" matTooltipPosition="above" svgIcon="monitorjobs"></mat-icon>
            <a>Monitor Jobs</a>
          </div>
          <div class="welcome-link" routerLink="/home/SubmitBatchesAndJobs">
            <mat-icon matTooltip="Submit Batches and Jobs" matTooltipPosition="above" svgIcon="submitbaj"></mat-icon>
            <a>Submit Batches and Jobs</a>
          </div>
          <div class="welcome-link" (click)="addTab('Calendar')">
            <mat-icon matTooltip="Scheduling Calendar" matTooltipPosition="above" svgIcon="calendar"></mat-icon>
            <a>Scheduling Calendar</a>
          </div>
          <div class="welcome-link" routerLink="/home/Intervals">
            <mat-icon matTooltip="Intervals" matTooltipPosition="above" svgIcon="interval"></mat-icon>
            <a>Intervals</a>
          </div>
          <div *ngIf="editonRequirement(['PROFESSIONAL', 'ENTERPRISE'])" class="welcome-link" routerLink="/home/ObjectMonitoring">
            <mat-icon matTooltip="Object Monitoring" matTooltipPosition="above" svgIcon="objectmonitoring"></mat-icon>
            <a>Object Monitoring</a>
          </div>
          <div *ngIf="editonRequirement(['PROFESSIONAL', 'ENTERPRISE'])"  class="welcome-link"  routerLink="/home"  (click)="addTab('Approvals')">
            <mat-icon matTooltip="Approvals" matTooltipPosition="above" svgIcon="approval_list"></mat-icon>
            <a>Approvals</a>
          </div>
        </div>
        <div class="welcome-text-body">
          <div class="header">
            Design
          </div>
          <div class="welcome-link" routerLink="/home/BatchesAndJobs">
            <mat-icon matTooltip="Batches and Jobs" matTooltipPosition="above" svgIcon="folder_large"></mat-icon>
            <a>Batches and Jobs</a>
          </div>
          <div class="welcome-link" routerLink="/home/ExitStateDefinitions">
            <mat-icon matTooltip="Exit State Definitions" matTooltipPosition="above" svgIcon="esd"></mat-icon>
            <a>Exit State Definitions</a>
          </div>
          <div class="welcome-link" routerLink="/home/ExitStateMappings">
            <mat-icon matTooltip="Exit State Mappings" matTooltipPosition="above" svgIcon="esm"></mat-icon>
            <a>Exit State Mappings</a>
          </div>
          <div class="welcome-link" routerLink="/home/ExitStateTranslations">
            <mat-icon matTooltip="Exit State Translations" matTooltipPosition="above" svgIcon="est"></mat-icon>
            <a>Exit State Translations</a>
          </div>
          <div class="welcome-link" routerLink="/home/ExitStateProfiles">
            <mat-icon matTooltip="Exit State Profiles" matTooltipPosition="above" svgIcon="esp"></mat-icon>
            <a>Exit State Profiles</a>
          </div>
          <div class="welcome-link" routerLink="/home/NamedResources">
            <mat-icon matTooltip="Named Resources" matTooltipPosition="above" svgIcon="nr"></mat-icon>
            <a>Named Resources</a>
          </div>
          <div class="welcome-link" routerLink="/home/ResourceStateDefinitions">
            <mat-icon matTooltip="Resource State Definitions" matTooltipPosition="above" svgIcon="rsd"></mat-icon>
            <a>Resource State Definitions</a>
          </div>
          <div class="welcome-link" routerLink="/home/ResourceStateMappings">
            <mat-icon matTooltip="Resource State Mappings" matTooltipPosition="above" svgIcon="rsm"></mat-icon>
            <a>Resource State Mappings</a>
          </div>
          <div class="welcome-link" routerLink="/home/ResourceStateProfiles">
            <mat-icon matTooltip="Resource State Profiles" matTooltipPosition="above" svgIcon="rsp"></mat-icon>
            <a>Resource State Profiles</a>
          </div>
          <div class="welcome-link" routerLink="/home/Environments" >
            <mat-icon matTooltip="Environments" matTooltipPosition="above" svgIcon="env"></mat-icon>
            <a>Environments</a>
          </div>
          <div class="welcome-link" routerLink="/home/Footprints">
            <mat-icon matTooltip="Footprints" matTooltipPosition="above" svgIcon="footprint"></mat-icon>
            <a>Footprints</a>
          </div>
          <div *ngIf="editonRequirement(['PROFESSIONAL', 'ENTERPRISE'])" class="welcome-link" routerLink="/home/WatchTypes">
            <mat-icon matTooltip="Watch Types" matTooltipPosition="above" svgIcon="objectmonitoring"></mat-icon>
            <a>Watch Types</a>
          </div>
    </div>
        <div class="welcome-text-body">
          <div class="header">
            Admin
          </div>
          <div class="welcome-link" routerLink="/home/JobserverAndResources">
            <mat-icon matTooltip="Jobserver and Resources" matTooltipPosition="above" svgIcon="scope"></mat-icon>
            <a>Jobserver and Resources</a>
          </div>
          <div class="welcome-link" routerLink="/home" (click)="addTab('System Information')">
            <mat-icon matTooltip="System Information" matTooltipPosition="above" svgIcon="sysinfo"></mat-icon>
            <a>System Information</a>
          </div>
          <div class="welcome-link" routerLink="/home/User">
            <mat-icon matTooltip="User" matTooltipPosition="above" svgIcon="serveruser"></mat-icon>
            <a>User</a>
          </div>
          <div class="welcome-link" routerLink="/home/Groups">
            <mat-icon matTooltip="Group" matTooltipPosition="above" svgIcon="group"></mat-icon>
            <a>Group</a>
          </div>
          <div class="welcome-link" (click)="openImpExpDialog()" >
            <mat-icon matTooltip="Import Export" matTooltipPosition="above" svgIcon="impexp"></mat-icon>
            <a>Import Export</a>
          </div>
          <div class="welcome-link" routerLink="/home/NiceProfiles">
            <mat-icon matTooltip="Nice Profiles" matTooltipPosition="above" svgIcon="niceprofile"></mat-icon>
            <a>Nice Profiles</a>
          </div>

        </div>
        <div class="welcome-text-body">
          <div class="header">
            Utilities
          </div>
          <div class="welcome-link" routerLink="/home" (click)="addTab('Shell')">
            <mat-icon matTooltip="shell" matTooltipPosition="above" svgIcon="shell"></mat-icon>
            <a>Shell</a>
          </div>
          <div class="welcome-link" routerLink="/home" (click)="addTab('Bookmarking')">
            <mat-icon matTooltip="Bookmarks" matTooltipPosition="above" svgIcon="bookmark"></mat-icon>
            <a>Bookmarks</a>
          </div>

        </div>
      </div>
    </div>
    <!-- <img class="welcome-logo" alt="Logo" src="assets/Propeller.svg"> -->
  </div>
