



.welcome-screen-body {
    height: calc(100vh - 60px);
    // width: 100%;
    // background-image: url(../../../../../assets/Propeller_opactiy_015.svg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    // margin: auto;
    .welcome-logo {
        // width: 50%;


        // position: relative;
        display: block;
        width: 100%;
        height: 100%;

        // pos in mid
        // margin-left: calc((100% - 100vh) / 3) ;

        margin: auto;
        opacity: 0.15;
    }

    .welcome-text {

        // opacity: 1 !important;
        // position: sticky;
        z-index: 50;
        padding-top: calc((100vh - 60px) / 6);
        // margin-left: calc(((100vw) / 3) - 250px);


        height: 605px;
        width: 500px;
        margin: auto;


        .welcome-text-header {
            font-size: 30px;
            // color: mat.get-color-from-palette($fe-theme-grey, 500);
        }

        .welcome-text-subheader {
            padding-top: 5px;
            font-size: 20px;
            // color: mat.get-color-from-palette($fe-theme-grey, 300);
        }

        .welcome-text-body-wrapper {
            width: 500px;
            .welcome-text-body {
                width: 45%;
                padding-right: 20px;
                float: left;
                padding-top: 40px;

                .header {
                    font-size: 20px;
                    padding-bottom: 5px;
                }
                .welcome-link {
                    user-select: none; // kann nicht kopiert werden
                    text-decoration: none;
                    // padding: 4px 8px 4px 32px;
                    font-size: 16px;
                    line-height: 24px;
                    // color: mat.get-color-from-palette($fe-theme-grey, 700);
                    display: flex;

                    mat-icon {
                        height: 24px;
                        width: 24px;
                        padding-right: 4px;
                    }
                    :hover {
                        cursor: pointer;
                        // color: mat.get-color-from-palette($fe-theme-primary, 300);
                    }
                }
            }
        }
        // margin-left: calc((100vw - 100vh)/ 2);
    }
}
