.chooser-content {
    min-width: 300px;
    .radio-group {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
    }
    
    .radio-button {
        margin: 5px;
        // height: 28px !important;
        line-height: 28px !important;
        div {
            display: flex;
            align-items: center;
        }
    }
    
    .submit_buttons {
        float: right;
    }
    
}
