<div class="chooser-content">
    <h1>{{ dialogData.title | translate }}</h1>
    <p>{{ dialogData.translate | translate}}</p>

    <mat-radio-group aria-labelledby="example-radio-group-label" class="radio-group" [(ngModel)]="choosedItem">
        <mat-radio-button class="radio-button" *ngFor="let itemType of dialogData.itemTypes; let i = index" [value]="itemType">
            <div>
                <mat-icon *ngIf="!dialogData.iconsDisabled" class="mr-10 ml-10" svgIcon="{{toLowerCase(itemType)}}"></mat-icon> {{itemType}}
            </div>
        </mat-radio-button>
    </mat-radio-group>

    <div *ngIf="dialogData.inputEnabled">
        <mat-form-field  appearance="outline">
            <mat-label>
                {{'name' | translate}}:
            </mat-label>
            <input cdkFocusInitial matInput type="text" autocomplete="off" onfocus="this.select()" [(ngModel)]="input">
        </mat-form-field>
    </div>


    <div *ngIf="choosedItem && !dialogData.inputEnabled">{{"create_new_item_of_type" | translate}} {{choosedItem}}.</div>

    <div class="mr-10 mt-10 submit_buttons">
        <button mat-stroked-button color="primary" [mat-dialog-close]="false">{{'cancel' | translate}}</button>
        <button mat-flat-button color="primary" [disabled]="choosedItem == ''" (click)="create()">{{'create_new' |
            translate}}</button>
    </div>
    <div class="mt-10">
    </div>
</div>
