<div class="navigationTreeWrapper background-theme-secondary">
<div class="tree-toolbar">
    <div class="list-toolbar">
        <div class="button-container">
            <button class="navigation-tree-button" [disabled]="" mat-icon-button (click)="reloadTree()"
                matTooltip="{{'reload' | translate}}, last reload: {{lastReload}}" matTooltipPosition="above">
                <mat-icon svgIcon="refresh"></mat-icon>
            </button>
            <!-- <button mat-icon-button (click)="createItem()" matTooltip="{{'new' | translate}}" matTooltipPosition="above">
                <mat-icon svgIcon="new"></mat-icon>
            </button> -->
            <button mat-icon-button (click)="collapseAll()" matTooltip="{{'collapse_all' | translate}}"
                matTooltipPosition="above">
                <mat-icon svgIcon="colall"></mat-icon>
            </button>
            <button class="navigation-tree-button" *ngIf="TYPE == 'FOLDER'" mat-icon-button [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu"
                matTooltip="{{selectedBookmark ? selectedBookmark.bookmark: 'select Bookmark'}}" matTooltipPosition="above">
                <mat-icon svgIcon="bookmark_border"></mat-icon>
                <!-- {{selectedBookmark ? selectedBookmark.bookmark: 'undefined'}} -->
            </button>
            <mat-menu class="navigation-tree-button" #menu="matMenu">
                <button mat-menu-item (click)="newBookmark()">
                    <mat-icon svgIcon="library_add"></mat-icon>
                    <span>{{'save_as' | translate}}</span>
                </button>
                <button *ngIf="selectedBookmark && bookmarkService.isSelectedBookmarkEditable(selectedBookmark)" mat-menu-item (click)="saveBookmark()">
                    <mat-icon svgIcon="save_mat"></mat-icon>
                    <span>{{'save' | translate}}</span>
                </button>
                <button *ngIf="selectedBookmark && !bookmarkService.isSelectedBookmarkEditable(selectedBookmark)" mat-menu-item [ngStyle]="{'opacity': '0.5'}" disabled>
                <mat-icon svgIcon="save_mat"></mat-icon>
                <span>{{'save' | translate}}</span>
                </button>
                <button mat-menu-item *ngFor="let bookmark of bookmarks" (click)="selectBookmark(bookmark, true, true)"
                    [class.font-primary-500]="isSameBookmark(selectedBookmark, bookmark)">
                    <!-- (selectedBookmark.bookmark == bookmark.bookmark) && (selectedBookmark.scope == bookmark.scope) -->
                    <!-- selectedBookmark.bookmark == bookmark.bookmark) && (selectedBookmark.scope == bookmark.scope)  -->
                    <mat-icon svgIcon="bookmark"></mat-icon>
                    <span >{{(treeStateDiffersFromBookmark && isSameBookmark(selectedBookmark, bookmark)) ? "[" + bookmark.bookmark +"]": bookmark.bookmark}}</span>
                    <!-- {{'scope' | translate}}:  -->
                    <span class="menu-right">{{bookmark.scope}}</span>
                </button>

            </mat-menu>
            <div *ngIf="TYPE == 'FOLDER'"  class="navigation-tree-button-spacer-folder"></div>
            <div *ngIf="!(TYPE == 'FOLDER')" class="navigation-tree-button-spacer"></div>
            <button class="navigation-tree-button no-right-margin" mat-icon-button (click)="close()" matTooltip="{{'close' | translate}}" matTooltipPosition="above">
                <mat-icon svgIcon="drop"></mat-icon>
            </button>
        </div>
        <div class="search-container background-theme-secondary">
            <input #filterTreeInput (click)="filterTreeInput.select()" type="text" [formControl]="searchControl" 
             placeholder="{{'search' | translate}}" autocomplete="off" 
             class="navigation-tree-input fe-themed-border-bottom-100 font-grey-950 background-theme-secondary" >
            <button class="navigation-tree-button" [ngStyle]="{'opacity': searchControl.value.length < 3 ? '0.5': '1.0'}"
                [disabled]="searchControl.value.length < 3" mat-icon-button (click)="filterTree(searchControl.value)"
                matTooltip="{{'search' | translate}}" matTooltipPosition="above">
                <mat-icon svgIcon="find"></mat-icon>
            </button>
        </div>
    </div>
</div>
<div class="navigation-tree-content" id="navigation-tree-content" (scroll)="onScroll($event)">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading">

    </mat-progress-bar>

    <mat-progress-bar mode="determinate" [value]="expandProgress" *ngIf="loadCycle.length > 0">

    </mat-progress-bar>
    <div class="navigation-tree-padding">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree" cdkDropList id="navigationTree-ident"
            cdkDropListData="dataSource.data" cdkDropListSortingDisabled>
            <!-- This is the tree node template for leaf nodes -->
            <mat-tree-node *matTreeNodeDef="let node;" matTreeNodeToggle
                class="{{node.bicsuiteObject.fe_flagged_to_cut ? 'fe_flagged_to_cut' : ''}}"
                [class.is-invisible]="node.isInvisible || ((node.isNotSubmitable && !(node.hasMasterSubmittableChildren)) && submitOnly)">
                <!-- cdkDrag [cdkDragData]="node" (mouseenter)="dragHover(node)" (mouseleave)="dragHoverEnd(node)" (cdkDragStarted)="dragStart(node)" (cdkDragReleased)="dragEnd(node, $event)" -->
                <li class="mat-tree-node" >
                <!-- [class.is-drag-target]="node.isDragTarget && dragging"  -->
                    <div  class="tree-node-body" (click)="openTab(node)" matRipple (contextmenu)="displayContextMenu($event, node); false"
                    class="{{node.bicsuiteObject.fe_flagged_to_cut ? 'fe_flagged_to_cut' : ''}}">
                        <hr> 
                        <div class="navigation-tree-leaf-spacer"></div>
                        <mat-icon svgIcon="{{node.iconType}}"></mat-icon>
                        <div *ngIf="node.bicsuiteObject.IS_SUSPENDED == 'true'">
                            <mat-icon matTooltip="{{'suspended' | translate}}" matTooltipPosition="above"
                                class="job-group-icon ICON_BLACK" svgIcon="suspend_entity">
                            </mat-icon>
                        </div>

                        <div innerHTML="{{ node.name | highlight : searchControl.value}}" class="{{ node.textColor }}">
                        </div>

                    </div>
                    <div *ngIf="pinnable" class="tree-pin">
                        <button *ngIf="!node.isPinned" mat-icon-button (click)="pinNode(node); node.isPinned = true">
                            <mat-icon svgIcon="pin">
                            </mat-icon>
                        </button>
                        <button *ngIf="node.isPinned" mat-icon-button (click)="unpinNode(node); node.isPinned = false">
                            <mat-icon svgIcon="pinned">
                            </mat-icon>
                        </button>
                    </div>

                    <!-- <div *cdkDragPreview class="mat-tree-node">
                    <mat-icon svgIcon="{{node.iconType}}"></mat-icon>
                    <span>
                        {{node.name}}
                    </span>
                </div> -->
                </li>
            </mat-tree-node>
            <!-- This is the tree node template for expandable nodes -->
            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChildren"
                [class.is-invisible]="node.isInvisible || (!(node.hasMasterSubmittableChildren) && submitOnly)"
                class="{{node.bicsuiteObject.fe_flagged_to_cut ? 'fe_flagged_to_cut' : ''}}">
                <!-- cdkDrag [cdkDragData]="node" (cdkDragStarted)="dragStart(node)" (cdkDragReleased)="dragEnd(node, $event)" -->
                <!-- {{context}} -->
                <li [class]="node.parentNode ? '':'rootLi'">
                <!-- (mouseenter)="dragHover(node)" (mouseleave)="dragHoverEnd(node)"  -->
                    <div class="mat-tree-node" (contextmenu)="displayContextMenu($event, node); false">
                        <hr *ngIf="node.parentNode">
                        <div *ngIf="!node.parentNode" class="navigation-tree-root-spacer"></div>
                        <button mat-icon-button [attr.aria-label]="'Toggle ' + node.name" (click)="toggleNode(node)">
                            <mat-icon class="mat-icon-rtl-mirror" [class.is-pinParent]="node.isPinnedParent" svgIcon="{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}">

                            </mat-icon>
                        </button>
                        <!-- [class.is-drag-target]="node.isDragTarget && dragging" -->
                        <div class="tree-node-body" (click)="openTab(node)" matRipple>
                            <mat-icon svgIcon="{{node.iconType}}"></mat-icon>
                            <div innerHTML="{{ node.name | highlight : searchControl.value}}">

                            </div>
                        </div>
                        <div *ngIf="pinnable" class="tree-pin">
                            <button *ngIf="!node.isPinned" mat-icon-button (click)="pinNode(node)">
                                <mat-icon svgIcon="pin">
                                </mat-icon>
                            </button>
                            <button *ngIf="node.isPinned" mat-icon-button (click)="unpinNode(node)">
                                <mat-icon svgIcon="pinned">
                                </mat-icon>
                            </button>


                        </div>

                    </div>
                    <!-- <div *cdkDragPreview class="mat-tree-node">
                        <mat-icon svgIcon="{{node.iconType}}"></mat-icon>
                        <span>
                            {{node.name}}
                        </span>
                    </div> -->
                    <ul *ngIf="treeControl.isExpanded(node) || node.isPinnedParent">
                        <ng-container matTreeNodeOutlet></ng-container>
                    </ul>
                    <!-- <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                        <ng-container matTreeNodeOutlet></ng-container>
                    </ul> -->
                </li>
            </mat-nested-tree-node>
        </mat-tree>
    </div>
</div>
</div>

<app-context-menu *ngIf="rightClickMenuItems && isDisplayContextMenu" [ngStyle]="getRightClickMenuStyle()"
    [contextData]="rightClickMenuItems">
 </app-context-menu>
