// @use "@angular/material" as mat;
.navigation-tree-content {
  border-radius: 4px;
  
  overflow: auto;
  // background-color: transparent !important;
  // height: calc(100vh - 117px);
  height: calc(100vh - 184px); // Subtract margins of class navigationTreeWrapper (styles.scss) and paddings
  white-space: nowrap;
  min-width: 150px;

  .example-tree-invisible {
    display: none;
  }

  .example-tree ul {
    padding-left: 0px;
  }

  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  .example-tree {
    // background-color: transparent !important;
  }

  li {
    margin-left: 17px;
    // border-left: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
  }

  mat-tree-node:last-child {
    li {
      border: none !important;
    }
    hr {
      align-self: flex-start;
      height: 14px;
      background: none;
    }
  }

  li.rootLi {
    margin-left: 0px;
    border: none !important;
  }

  hr {
    border: 0;
    height: 1px;
    // background: mat.get-color-from-palette($fe-theme-grey, 50);
    width: 6px;
    margin: 0px;
    margin-right: 3px;
  }



  .mat-tree-node {
    font-size: 13px !important;
    // color: mat.get-color-from-palette($fe-theme-grey, 500);
    // background: transparent !important;
    height: 28px !important;
    line-height: 28px !important;
    min-height: 26px;

    button[mat-icon-button].mat-icon-button {
      zoom: 0.8; // NOTE: You may need to adjust this value to achieve exactly 48px.
      width: 26px;
      margin-left: 0px;
    }

    .mat-icon {
      min-width: 24px !important;
    }

    .tree-pin {
      height: 28px !important;
      line-height: 28px !important;
      min-height: 26px;
    }

    div {
      display: flex;
      align-items: center;
    }

    .tree-node-body {
      cursor: pointer;
      height: 28px !important;
      line-height: 28px !important;
      min-height: 26px;
      width: 100%;
    }

    // &.cdk-drag-preview {
      // while dragging
      // @include mat.elevation(12);
    // }

    &.cdk-drag-placeholder {
      // potential drop area
      opacity: 0;
    }
  }

  .is-invisible {
    display: none;
  }

  .is-drag-target {
    // background-color: green;
    border: dashed 1px black;
  }

  .fe_flagged_to_cut {
    opacity: 0.5 !important;
  }
}

.list-toolbar {
  overflow: hidden;
  z-index: 20;

  display: block;

  mat-icon {
    height: 30px;
    width: 30px;
  }

  input:focus {
    outline: none;
    // border-bottom: 2px solid mat.get-color-from-palette($fe-theme-primary, 300);
  }
  input {
    margin: 4px 0px 4px 4px;

    padding: 0px 0px 0px 4px;

    // border: none;
    // border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 100);
    border-top: none;
    border-left: none;
    border-right: none;
    height: 25px;
    // width: 120px;
    width: calc(100% - 42px);

    font-size: 16px;
  }

}

.search-container {
  // display: block; 
  border-radius: 4px;
  .mat-icon-button {
    line-height: 0px;
    height: 20px;
    width: 20px;
  }
  margin: 0px 0px 4px 0px;
}

.button-container {
  .mat-icon-button {
    line-height: 0px;
    height: 35px;
    width: 35px;
    border-radius: 4px !important;
    margin: 0px 4px 0px 0px;
  }  
}

.no-right-margin {
  margin-right:0px !important;
}

.navigation-tree-button-spacer-folder {
  min-width: calc(100% - 152px);
  max-width: calc(100% - 152px);
  min-height:1px;
  display:inline-block;
}

.navigation-tree-button-spacer {
  min-width: calc(100% - 114px);
  max-width: calc(100% - 114px);
  min-height:1px;
  display:inline-block;
}
