
#master-list-componend-selector {
  virtual-scroller {
    width: calc(100%);
    height: calc(100vh - 206px);
    // background: #ebf1f5;
  }

  hr {
    border: 0;
    height: 1px;
    // background: mat.get-color-from-palette($fe-theme-grey, 50);
    width: 14px;
    margin: 0px;
    margin-right: 5px;
  }
  .tree-content {
    // padding-right: 10px;
    // padding-top: 8px;
    // margin-top: 8px;
    // overflow: scroll;
    background-color: transparent !important;
    height: calc(100vh - 190px);
    width: calc(100% - 10px);
    white-space: nowrap;

    overflow: auto;
    min-width: 150px;
    margin-left: 10px;
    margin-right: 0px;
  }
  .master-table-row {
    font-size: 12px !important;
    // color: mat.get-color-from-palette($fe-theme-grey, 500);
    // background: mat.get-color-from-palette($fe-theme-primary, white);
    height: 26px !important;
    line-height: 26px !important;
    min-height: 26px;
    //  button[mat-icon-button].mat-icon-button {
    //     zoom: 0.8; // NOTE: You may need to adjust this value to achieve exactly 48px.
    // }

    div {
      // padding-left: 10px;
      display: flex;
      float: left;
      align-items: center;
      height: 26px !important;
    }

    .master-item-body {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      height: 26px !important;
      line-height: 26px !important;
      min-height: 26px;
      // width: 100%;
      // .job-group-icon {
      //     height: 24px;
      // }
    }

    td {
      height: 26px !important;
      max-height: 26px !important;
      white-space: nowrap;
    }
    td.operations {
      width: 130px !important;
    }
    th.operations {
      width: 130px !important;
    }

    th.checkbox-cell {
      width: 36px !important;
    }
    td.checkbox-cell {
      width: 36px !important;
    }
  }

  .list-toolbar {
    overflow: hidden;
    // position: sticky; __<<ngThemingMigrationEscapedComment0>>__
    // top: 50; __<<ngThemingMigrationEscapedComment1>>__

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    background-color: transparent !important;
    z-index: 20;

    display: flex;

    mat-icon {
      height: 30px;
      width: 30px;
    }
    // border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
  }

  table {
    width: 100%;
    padding-left: 5px;
  }

  .mat-checkbox {
    padding-left: 10px;
    padding-right: 5px;
  }

  .progressbar-spacer {
    height: 4px;
  }

  thead {
    opacity: 1 !important;
    z-index: 200;
  }

  th.header-cell {
    z-index: 200;
    opacity: 1 !important;
    font-weight: 200 !important;
    border: 0;
    text-align: left;
  }
  .header-row {
    opacity: 1 !important;
    // background: transparent !important;
    // color: mat.get-color-from-palette($fe-theme-grey, 300);

    // font-weight: lighter;
    z-index: 50;
    height: 2.5em;
    margin-right: 10px;
    margin-left: 8px;
  }

  .header-cell, .table-cell, .checkbox-cell {
    padding: 0px 2px 0px 2px;
    text-wrap: nowrap;
  }

  .list-background-DARKGREY {
    // background-color: mat-color($fe-theme-grey, 50);
    mix-blend-mode: multiply;
  }
  .list-background-GREEN {
    // background-color: mat.get-color-from-palette($fe-theme-green, 50);
    mix-blend-mode: multiply;
  }
  .list-background-BLUE {
    // background-color: mat.get-color-from-palette($fe-theme-primary, 50);
    mix-blend-mode: multiply;
  }
  .list-background-RED {
    // background-color: mat.get-color-from-palette($fe-theme-warn, 50);
    mix-blend-mode: multiply;
  }
  .list-background-YELLOW {
    // background-color: mat.get-color-from-palette($fe-theme-accent, 50);
    mix-blend-mode: multiply;
  }
  .CENTER {
    text-align: center;
    span {
      margin: auto;
    }
  }
  .LEFT {
    // text-align: left;
  }
  .RIGHT {
    text-align: right;
    span {
      margin-left: auto;
    }
  }

  // .even {
  // }
  // .odd {
  //   // background-color: mat.get-color-from-palette($fe-theme-primary, 25);

  //   background-color: rgba(mat.get-color-from-palette($fe-theme-primary, 500), 0.1);
  // }


  .monitor-list-toolbar-button-wrapper {
    padding-right: 10px !important;
    padding-left: 5px !important;
    .button-text {
      padding-left: 5px !important;
    }
  }

}
