@use '@angular/material' as mat;
@import '../node_modules/@angular/material/theming';

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

// get palette from color http://mcg.mbitson.com/#!?mcgpalette0=%23001a72

//waring red
mat.$red-palette: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  White: white,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

//independIT blue calculated palette
mat.$blue-palette: (
    25 : #F8FAFC,
    50 : #e0e4ee,
    100 : #b3bad5,
    200 : #808db9,
    300 : #4d5f9c,
    400 : #263c87,
    500 : #001a72,
    600 : #00176a,
    700 : #00135f,
    800 : #000f55,
    900 : #000842,
    A100 : #777cff,
    A200 : #444bff,
    A400 : #111bff,
    A700 : #000af6,
    White: white,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$util-palette: (
  // brown
  50 : rgb(71, 40, 0),
  // orange
  100 : rgb(175, 124, 13),
  200 : rgb(66, 3, 40),
  300 : #d2ae4d,
  400 : #c99c26,
  500 : #bf8b00,
  600 : #b98300,
  700 : #b17800,
  800 : #a96e00,
  900 : #9b5b00,
  A100 : #ffe4c6,
  A200 : #ffcc93,
  A400 : #ffb360,
  A700 : #ffa747,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

//yellow (from IndependITblue calculated) calculated palette https://color.adobe.com/de/create/color-wheel
mat.$yellow-palette: (
    50 : #f7f1e0,
    100 : #ecdcb3,
    200 : #dfc580,
    300 : #d2ae4d,
    400 : #c99c26,
    500 : #bf8b00,
    600 : #b98300,
    700 : #b17800,
    800 : #a96e00,
    900 : #9b5b00,
    A100 : #ffe4c6,
    A200 : #ffcc93,
    A400 : #ffb360,
    A700 : #ffa747,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//independIt/schedulix green calculated palette
mat.$green-palette:(
  50 : #e0efe0,
  100 : #b3d7b3,
  200 : #80bc80,
  300 : #4da14d,
  400 : #268d26,
  500 : #007900,
  600 : #007100,
  700 : #006600,
  800 : #005c00,
  900 : #004900,
  A100 : #7dff7d,
  A200 : #4aff4a,
  A400 : #17ff17,
  A700 : #00fc00,
  White: white,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);


mat.$grey-palette: (
  // 950 is font color
  950: #262626,
  10: #ffffff,
  11: #ffffff,
  25 : #f3f3f3,
  50 : #e5e5e5,
  100 : #bebebe,
  200 : #939393,
  300 : #676767,
  400 : #474747,
  500 : #262626,
  600 : #222222,
  700 : #1c1c1c,
  800 : #171717,
  900 : #0d0d0d,
  A100 : #eb6969,
  A200 : #e53c3c,
  A400 : #ee0000,
  A700 : #d40000,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);



$dark-theme-red-palette: (
  50: #b71c1c,
  100: #c62828,
  200: #d32f2f,
  300: #e53935,
  400: #f44336,
  500: #f04542,
  600: #d45b5b,
  700: #db7171,
  800: #ff95a0,
  900: #ff5770,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  White: white,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$util-dark-palette: (
  // brown
  50 : #c4a484,
  // orange
  100 : rgb(216, 170, 72),
  //purple
  200 : rgb(168, 44, 158),
  300 : #d2ae4d,
  400 : #c99c26,
  500 : #bf8b00,
  600 : #b98300,
  700 : #b17800,
  800 : #a96e00,
  900 : #be6f00,
  A100 : #ffe4c6,
  A200 : #ffcc93,
  A400 : #ffb360,
  A700 : #ffa747,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

//independIT blue calculated palette
$dark-theme-blue-palette: (
    25 : #000a35,
    50 : #000d41,
    100 : #011353,
    200 : #001558,
    300 : #1f316d,
    400 : #435386,
    500 : #808db9,
    600 : #b3bad5,
    700 : #e0e4ee,
    800 : #F8FAFC,
    900 : #7a8eff,
    A100 : #777cff,
    A200 : #444bff,
    A400 : #111bff,
    A700: #1f1f1f,
    black: #1f1f1f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : rgba(white, 0.7),
        400 : rgba(white, 0.7),
        500 : rgba(white, 0.7),
        600 : rgba(white, 0.7),
        700 : rgba(white, 0.7),
        800 : rgba(white, 0.7),
        900 : rgba(white, 0.7),
        A100 : #222222,
        A200 : rgba(white, 0.7),
        A400 : rgba(white, 0.7),
        A700 : rgba(white, 0.7),
    )
);

//yellow (from IndependITblue calculated) calculated palette https://color.adobe.com/de/create/color-wheel
$dark-theme-yellow-palette: (
    50 : #9b5b00,
    100 : #a96e00,
    200 : #b17800,
    300 : #b98300,
    400 : #bf8b00,
    500 : #c99c26,
    600 : #d2ae4d,
    700 : #dfc580,
    800 : #dfc580,
    900 : #f0cf7b,
    A100 : #ffe4c6,
    A200 : #ffcc93,
    A400 : #ffb360,
    A700 : #ffa747,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//independIt/schedulix green calculated palette
$dark-theme-green-palette:(
  // 50 : #004900,
  50 : #002c00,
  100 : #003d00,
  200 : #004e00,
  300 : #006300,
  400 : #268d26,
  500 : #4da14d,
  600 : #80bc80,
  700 : #b3d7b3,
  800 : #e0efe0,
  900 : #a5eba5,
  A100 : #7dff7d,
  A200 : #4aff4a,
  A400 : #17ff17,
  A700 : #00fc00,
  White: white,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);


$dark-theme-grey-palette: (
  10: #27252b,
  11: #302e35,
  25 : #1F1E24,
  50 : #363636,
  100 : #474747,
  200 : #5e5e5e,
  300 : #6e6e6e,
  400 : #979797,
  500 : #b4b4b4,
  600 : #dfdfdf,
  700 : #ebebeb,
  800 : #f3f3f3,
  900 : #c7c7c7,
  A100 : #eb6969,
  A200 : #e53c3c,
  A400 : #ee0000,
  A700 : #d40000,
  // 950 is font color
  950: #ECECEF,

  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);
