// @import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@use "@angular/material" as mat;
@use "sass:map";

@import "./fe-theme.scss";
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  // scrollbar-width: none;
  // scrollbar-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.185);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

//scrollbarF

::-webkit-scrollbar {
  width: 7px;
  // height: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}



// Define a custom mixin that takes in the current theme

// colors from fr-theme.scss
// default theme
$fe-theme-primary: mat.define-palette(mat.$blue-palette);
$fe-theme-blue: mat.define-palette(mat.$blue-palette);
$fe-theme-grey: mat.define-palette(mat.$grey-palette);
$fe-theme-green: mat.define-palette(mat.$green-palette);
$fe-theme-accent: mat.define-palette(mat.$yellow-palette);
$fe-theme-warn: mat.define-palette(mat.$red-palette);
$fe-theme-error: mat.define-palette(mat.$red-palette);
$fe-theme-util: mat.define-palette($util-palette);

$fe-theme: mat.define-light-theme($fe-theme-primary, $fe-theme-grey, $fe-theme-warn);

$fe-theme-color-primary: mat.get-color-from-palette($fe-theme-primary);

$white-foreground: my-mat-light-theme-foreground(white);

// @include mat.core-theme($fe-theme);
// @include mat.button-theme($fe-theme);
$fe-light-typography: mat.define-legacy-typography-config($font-family: "Arimo"
  );

$fe-dark-theme-primary: mat.define-palette($dark-theme-blue-palette);
$fe-dark-theme-blue: mat.define-palette($dark-theme-blue-palette);
$fe-dark-theme-grey: mat.define-palette($dark-theme-grey-palette);
$fe-dark-theme-green: mat.define-palette($dark-theme-green-palette);
$fe-dark-theme-accent: mat.define-palette($dark-theme-yellow-palette);
$fe-dark-theme-warn: mat.define-palette($dark-theme-red-palette);
$fe-dark-theme-error: mat.define-palette($dark-theme-red-palette);
$fe-dark-theme-util: mat.define-palette($util-dark-palette);

$fe-dark-typography: mat.define-legacy-typography-config($font-family: "Arimo"
  );

// Foreground palette for dark themes.
$fe-dark-theme-foreground: (
  base: rgba(white, 0.9),
  divider: $white-12-opacity,
  dividers: $white-12-opacity,
  disabled: rgba(white, 0.3),
  disabled-button: rgba(white, 0.3),
  disabled-text: rgba(white, 0.3),
  hint-text: rgba(white, 0.3),
  secondary-text: rgba(white, 0.5),
  icon: rgba(white, 0.7),
  icons: rgba(white, 0.7),
  text: rgba(white, 0.7),
  slider-off: rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3)
);

$fe-dark-theme-background: (
  status-bar: black,
  app-bar: map_get($mat-grey, 900),
  background: #303030,
  hover: rgba(white, 0.04),
  card: map_get($mat-grey, 800),
  dialog: map_get($mat-grey, 800),
  disabled-button: $white-12-opacity,
  raised-button: map-get($mat-grey, 800),
  focused-button: $white-6-opacity,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: map_get($mat-grey, 1000)
);

// background: theming.get-color-from-palette($background, dialog);

@function define-theme($config) {
  $theme: mat.define-light-theme($config);
  $color: map.get($theme, color);
  $color: map.merge($color,
      (background: $fe-dark-theme-background,
        foreground: $fe-dark-theme-foreground ));
  @return map.merge($theme,
    (color: $color ));
}

@function define-theme-light($config) {
  $theme: mat.define-light-theme($config);
  $color: map.get($theme, color);
  $color: map.merge($color, ());
  @return map.merge($theme,
    (color: $color ));
}

$fe-dark-theme: define-theme((color: (primary: $fe-dark-theme-primary,
        accent: $fe-dark-theme-grey,
        warn: $fe-dark-theme-warn )));

// $fe-dark-theme: mat.define-light-theme($fe-dark-theme-primary, $fe-dark-theme-grey, $fe-dark-theme-warn);
$fe-dark-theme-color-primary: mat.get-color-from-palette($fe-dark-theme-primary);

//speed of all transitions
$transition-speed: 0.1s;

// global font

// form-generator-settings
$fe-form-font-size: 13px;

//global styles...
.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mat-tree-node {
  height: 26px;
}

.mat-tooltip-hide {
  display: none !important;
}

//global material styling
//colors of snackbar via theming
.default-snackbar {
  font-size: 14px;
  line-height: 24px;

  border-radius: 0 !important;
}

// .mat-snack-bar-container {
//   border-radius: 0px !important;
// }

//add Global styles onyl with ID´s or nested Classes!
.select-content-wrapper .mat-form-field {
  width: 150px;

  .mat-form-field-label {
    color: rgb(0, 0, 0);
  }

  .mat-form-field-underline {
    display: none;
  }
}

//toolbar connection or USER mat select field
.connection-content-wrapper .mat-form-field {
  width: 150px; 

  .mat-form-field-label {
    color: rgb(0, 0, 0);
  }

  .mat-form-field-underline {
    display: none;
  }
}

// global shape styling...

// make form fields with no round edges
.mat-form-field-outline {
  background-color: #ffffff;

  .mat-form-field-outline-end {
    border-radius: 0px !important;
  }

  .mat-form-field-outline-start {
    border-radius: 0px !important;
  }
}

//change default dialogs
.default-dialog {
  .mat-dialog-container {
    border-radius: 0px !important;
  }
}

.fe-no-border-dialog .mat-dialog-container {
  padding: 0 !important;
}

// change button styles for all material button types
.mat-button,
.mat-icon-button,
.mat-stroked-button {
  border-radius: 0px !important;
  // theme
  background-color: transparent !important;
}

.mat-flat-button {
  border-radius: 0px !important;
}

.mat-dialog-container .mat-flat-button {
  border-radius: 4px !important;
  border: none !important;
}
// primary has same font color as background and a colored background color
// .mat-flat-button:not(.mat-primary) {
//   background-color: transparent !important;
// }

.mat-drawer-container {
  background-color: transparent !important;
}

// tab header ink bar animation speed
.mat-ink-bar {
  // background-color: white !important;
  // transition: none !important;
  display: none;
}

//change panel style, mat-select add panelClass="default-panel" property
.default-panel {
  border-radius: 0px !important;

  .mat-option {
    height: 40px !important;
    font-size: 14px !important;
  }

  // border: 1px solid gray !important;
}

// delete drop down arrow in mat select boxes
.mat-form-field-wrapper {
  .mat-select-arrow {
    visibility: hidden !important;
  }

  .mat-select-trigger {
    width: 180px;
  }
}

#left-navigation-component .mat-drawer-inner-container {
   // background-color: blue;
   margin-right: 4px;
}


body {
  // background-color: blue;
  background: linear-gradient(to bottom, mat.get-color-from-palette($fe-theme-grey, 25) 0%, mat.get-color-from-palette($fe-theme-blue, 200) 100%);
}

// change mat expansion panel in left nav
#left-navigation-component .mat-expansion-panel {
  // margin: 4px 12px 4px 12px;
  margin: 4px 4px 4px 12px;
  border: 0px;
  border-radius: 8px;
  box-shadow: none !important;
  // background-color: mat.get-color-from-palette($fe-theme-grey, 11) !important;
  .mat-expansion-panel-body {
    padding: 0 0px 0 0px;
    overflow: hidden !important;
  }
}

.firstItem {
  margin-top: 0px !important;
}
.lastItem {
  margin-bottom: 12px !important;
}

.navigation-tree-leaf-spacer {
  min-width: 19px;
  max-width: 19px;
}

.navigation-tree-root-spacer {
  min-width: 8px;
  max-width: 8px;
}

.tree-list-leaf-spacer {
  min-width: 24px;
  max-width: 24px;
}

.tree-list-root-spacer {
  min-width: 8px;
  max-width: 8px;
}

.dialog-tree-leaf-spacer {
  min-width: 19px;
  max-width: 19px;
}

.dialog-tree-root-spacer {
  min-width: 8px;
  max-width: 8px;
}

.file-input-form {
  .formField-invalid {
    color: mat.get-color-from-palette($fe-theme-warn, 500);
  }

  .formField-invalid:focus {
    border-color: mat.get-color-from-palette($fe-theme-warn, 700);
  }

  .formField-invalid:hover {
    border-color: mat.get-color-from-palette($fe-theme-warn, 800);
  }
}

#chooser-component-div-wrapper .mat-icon-button {
  width: 24px;
}

#chooser-component-div-wrapper {
  .fe_link_button:hover {
    color: mat.get-color-from-palette($fe-theme-grey, 900);
  }
}

#chooser-component-div-wrapper .mat-button {
  font-size: $fe-form-font-size !important;
  padding: 0px;
}

#chooser-component-div-wrapper mat-icon {
  display: inline-flex;
  vertical-align: middle;
}

#accordion-body .mat-expansion-panel-header {
  line-height: 50px;
}

#vertical-tree-options .mat-expansion-panel {
  border-radius: 0px;
  box-shadow: none !important;

  .mat-expansion-panel-body {
    padding: 0 0px 0 0px;
    overflow: hidden !important;
  }
}

#vertical-tree-options .mat-expansion-panel-header {
  padding-left: 5px !important;
  padding-right: 10px !important;
}

//undo the default padding of mat drawer elements
.mat-drawer {
  background-color: transparent !important;
  padding: 0px !important;
}

// list content in list component in main/components
.list-content {
  .mat-list-item-content {
    padding-left: 10px !important;
  }

  input:focus {
    border-bottom: 2px solid mat.get-color-from-palette($fe-theme-primary, 300);
  }

  input {
    border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 100);
  }
  .navigation-tree-input {
    background-color: unset;
  }
  
  border: 1px solid mat.get-color-from-palette($fe-theme-grey, 100);
}


// .panel-open {
//   background-color: mat.get-color-from-palette($fe-theme-grey, 0) !important;
// }
// .panel-closed {
//   background-color: mat.get-color-from-palette($fe-theme-grey, 25) !important;
// }

.mat-expansion-panel {
    // background-color: transparent !important;
  border: solid 1px mat.get-color-from-palette($fe-theme-grey, 100);
  border-radius: 6px !important;
  box-shadow: none !important;
}

.mat-expansion-panel-header {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.small-icon-button {
  width: 24px !important;
  height: 24px !important;
  line-height: 24px !important;

  .mat-icon {
    width: 20px !important;
    height: 20px !important;
    line-height: 20px !important;
    font-size: 20px;
  }

  .material-icons {
    font-size: 20px !important;
  }
}

#shell-wrapper-identifier {
  .mat-expansion-panel-content {
    overflow: auto;
  }
}

.mat-tab-list {
  // themed background here
  background-color: transparent !important;
}

.mat-tab-labels {
  // background-color: mat.get-color-from-palette($fe-theme-grey, 10) !important; 
  // background-color: mat.get-color-from-palette($fe-theme-primary, white);
  background-color: transparent !important;

  .mat-tab-label {
    opacity: 1 !important;
  }
}

.input-form {
  .mat-form-field-infix {
    padding: 0px 0px 7px 0px !important;
  }

  .mat-form-field-wrapper {
    padding-bottom: 5px !important;
  }
}

// all menu panels
.mat-menu-panel {
  border-radius: 0px !important;
  max-width: 500px !important;
  // width: 300px;

  .menu-right {
    padding-left: 40px;
    float: right;
  }
}

// all tooltips
.mat-tooltip {
  border-radius: 0px !important;
  max-width: 1500px !important;
}

// set charp border for all dialogs
.mat-dialog-container {
  border-radius: 20px !important;
}

.mat-expansion-panel {
  border-radius: 0px;
}

.mat-card {
  border-radius: 0px !important;
}

.navItem {
  .mat-content.mat-content-hide-toggle {
    margin-right: 0px !important;
  }
}

// for autoreload badge to show icons instead of text
// .mat-badge-content {
//   font-family: 'Material Icons';
//   font-size: 20px;
// }
// }
//svg-rules  png to svg -> https://www.pngtosvg.com/

// $fe-dark-theme-primary: mat.define-palette($dark-theme-blue-palette);
// $fe-dark-theme-grey: mat.define-palette($dark-theme-grey-palette);
// $fe-dark-theme-green: mat.define-palette($dark-theme-green-palette);
// $fe-dark-theme-accent: mat.define-palette($dark-theme-yellow-palette);
// $fe-dark-theme-warn: mat.define-palette($dark-theme-red-palette);
// $fe-dark-theme-error: mat.define-palette($dark-theme-red-palette);

@mixin setSvgColors($palette, $amount) {
  .svg-neutrals {
    fill: mat.get-color-from-palette($palette, $amount);
  }

  .svg-blue {
    fill: mat.get-color-from-palette($palette, $amount);
  }

  .svg-fill-blue {
    fill: mat.get-color-from-palette($palette, $amount);
  }

  .svg-red {
    fill: mat.get-color-from-palette($palette, $amount);
  }

  .svg-yellow {
    fill: mat.get-color-from-palette($palette, $amount);
  }

  .svg-green {
    fill: mat.get-color-from-palette($palette, $amount);
  }
}

@mixin setSvgTabColors($palette, $amount) {
  .svg-neutrals {
    fill: mat.get-color-from-palette($palette, $amount);
  }

  .svg-stroke-neutrals {
    stroke: mat.get-color-from-palette($palette, $amount);
  }
}

@mixin setTextColor($fe-theme,
  $fe-theme-primary,
  $fe-theme-grey,
  $fe-theme-green,
  $fe-theme-accent,
  $fe-theme-warn,
  $fe-theme-blue,
  $fe-theme-util,
  $fe-theme-error) {
  .TEXT_GREEN {
    color: mat.get-color-from-palette($fe-theme-green, 600);
  }

  .TEXT_BLUE {
    color: mat.get-color-from-palette($fe-theme-blue, 500);
  }

  .TEXT_RED {
    color: mat.get-color-from-palette($fe-theme-warn, 900);
  }

  .TEXT_ORANGE {
    color: mat.get-color-from-palette($fe-theme-accent, 900);
  }

  .TEXT_GREY {
    color: mat.get-color-from-palette($fe-theme-grey, 300);
  }

  .TEXT_PURPLE {
    color: mat.get-color-from-palette($fe-theme-util, 200);
  }

  .TEXT_BROWN {
    color: mat.get-color-from-palette($fe-theme-util, 50);
  }
}

@mixin globalColors($fe-theme,
  $fe-theme-primary,
  $fe-theme-grey,
  $fe-theme-green,
  $fe-theme-accent,
  $fe-theme-warn,
  $fe-theme-blue,
  $fe-theme-util,
  $fe-theme-error) {
  .svg-green {
    fill: mat.get-color-from-palette($fe-theme-green, 700);
  }

  .svg-stroke-light-green {
    stroke: mat.get-color-from-palette($fe-theme-green, 700);
    color: mat.get-color-from-palette($fe-theme-green, 700);
  }

  .svg-light-green {
    fill: mat.get-color-from-palette($fe-theme-green, 400);
  }

  .svg-stroke-light-green {
    stroke: mat.get-color-from-palette($fe-theme-green, 400);
    color: mat.get-color-from-palette($fe-theme-green, 400);
  }

  .svg-red {
    fill: mat.get-color-from-palette($fe-theme-warn, 900);
  }

  .svg-stroke-red {
    stroke: mat.get-color-from-palette($fe-theme-warn, 900);
    color: mat.get-color-from-palette($fe-theme-warn, 900);
  }

  .svg-light-red {
    fill: mat.get-color-from-palette($fe-theme-warn, 400);
  }

  .svg-stroke-light-red {
    stroke: mat.get-color-from-palette($fe-theme-warn, 400);
    color: mat.get-color-from-palette($fe-theme-warn, 400);
  }

  .svg-yellow {
    fill: mat.get-color-from-palette($fe-theme-accent, 400);
  }

  .svg-stroke-yellow {
    stroke: mat.get-color-from-palette($fe-theme-accent, 400);
    color: mat.get-color-from-palette($fe-theme-accent, 400);
  }

  .svg-light-yellow {
    fill: mat.get-color-from-palette($fe-theme-accent, 200);
  }

  .svg-stroke-light-yellow {
    stroke: mat.get-color-from-palette($fe-theme-accent, 200);
    color: mat.get-color-from-palette($fe-theme-accent, 200);
  }

  .svg-blue {
    fill: mat.get-color-from-palette($fe-theme-blue, 500);
  }

  .svg-stroke-blue {
    stroke: mat.get-color-from-palette($fe-theme-blue, 500);
    color: mat.get-color-from-palette($fe-theme-blue, 500);
  }

  .svg-light-blue {
    fill: mat.get-color-from-palette($fe-theme-blue, 200);
  }

  .svg-stroke-light-blue {
    stroke: mat.get-color-from-palette($fe-theme-blue, 200);
    color: mat.get-color-from-palette($fe-theme-blue, 200);
  }

  .svg-neutrals {
    fill: rgba(mat.get-color-from-palette($fe-theme-grey, 900), 0.7);
  }

  .svg-stroke-neutrals {
    stroke: rgba(mat.get-color-from-palette($fe-theme-grey, 900), 0.7);
    color: rgba(mat.get-color-from-palette($fe-theme-grey, 900), 0.7);
  }

  .svg-fill-blue {
    fill: mat.get-color-from-palette($fe-theme-blue, 500);
  }

  .svg-light-grey {
    fill: mat.get-color-from-palette($fe-theme-grey, 300);
    // stroke: mat.get-color-from-palette($fe-theme-grey, 800);
  }

  .svg-stroke-light-grey {
    stroke: mat.get-color-from-palette($fe-theme-grey, 300);
    color: mat.get-color-from-palette($fe-theme-grey, 300);
  }

  .tab-icon.GREEN {
    @include setSvgTabColors($fe-theme-green, 900);
  }

  .tab-icon.RED {
    @include setSvgTabColors($fe-theme-warn, 900);
  }

  .tab-icon.PURPLE {
    @include setSvgTabColors($fe-theme-util, 200);
  }

  .tab-icon.BLUE {
    @include setSvgTabColors($fe-theme-blue, 900);
  }

  .tab-icon.BROWN {
    @include setSvgTabColors($fe-theme-util, 50);
  }

  .job-group-icon.ICON_GREEN {
    @include setSvgColors($fe-theme-green, 900);
  }

  .job-group-icon.ICON_YELLOW {
    @include setSvgColors($fe-theme-warn, 500);
  }

  .job-group-icon.ICON_RED {
    @include setSvgColors($fe-theme-warn, 900);
  }

  .job-group-icon.ICON_PURPLE {
    @include setSvgColors($fe-theme-util, 200);
  }

  .job-group-icon.ICON_BLUE {
    @include setSvgColors($fe-theme-blue, 900);
  }

  .job-group-icon.ICON_BROWN {
    @include setSvgColors($fe-theme-util, 50);
  }

  .job-group-icon.ICON_BLACK {
    @include setSvgColors($fe-theme-grey, 500);
  }

  .job-group-icon.ICON_GREY {
    @include setSvgColors($fe-theme-grey, 200);
  }

  .icon-wrapper.GREEN {
    @include setSvgColors($fe-theme-green, 900);
  }

  .icon-wrapper.RED {
    @include setSvgColors($fe-theme-warn, 900);
  }

  .icon-wrapper.PURPLE {
    @include setSvgColors($fe-theme-util, 200);
  }

  .icon-wrapper.BLUE {
    @include setSvgColors($fe-theme-primary, 900);
  }

  .icon-wrapper.BROWN {
    @include setSvgColors($fe-theme-util, 50);
  }

  .interval-setup-div-wrapper {
    mat-select {
      border: 1px solid mat.get-color-from-palette($fe-theme-grey, 100);
    }

    .simple-input {
      border: 1px solid mat.get-color-from-palette($fe-theme-grey, 100);
    }

    .form-input {
      color: mat.get-color-from-palette($fe-theme-grey, 500);
    }

    .simple-input:focus {
      border: 1px solid mat.get-color-from-palette($fe-theme-primary, 600);
    }

    .fe_link_button {
      color: mat.get-color-from-palette($fe-theme-primary, 500);
    }

    .fe_link_button:hover {
      color: mat.get-color-from-palette($fe-theme-grey, 900);
    }

    .formField-invalid {
      color: mat.get-color-from-palette($fe-theme-warn, 500);
    }

    .formField-invalid:focus {
      border-color: mat.get-color-from-palette($fe-theme-warn, 700);
    }

    .formField-invalid:hover {
      border-color: mat.get-color-from-palette($fe-theme-warn, 800);
    }
  }

  .error-container {
    .errorHeader {
      a {
        color: mat.get-color-from-palette($fe-theme-warn, 600);
      }

      .errorHeader_sdms {
        a {
          color: mat.get-color-from-palette($fe-theme-primary, 400);
        }
      }
    }

    .sdms-exception {
      a {
        color: mat.get-color-from-palette($fe-theme-primary, 600);
      }
    }
  }

  .divider {
    border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 100);
  }

  #hierarchy-tree-selector {
    .tree-node-focused {
      background-color: mat.get-color-from-palette($fe-theme-grey, 100);
    }

    .cyclic-node {
      color: mat.get-color-from-palette($fe-theme-warn, 600);
    }

    .name-hover:hover {
      color: mat.get-color-from-palette($fe-theme-primary, 500);
    }


    .node {
      fill: mat.get-color-from-palette($fe-theme-grey, 500);
    }

    .from-highlight {
      color: mat.get-color-from-palette($fe-theme-primary, 500);
    }
  }

  #hierachy-tooltip {
    .tooltip {
      background-color: mat.get-color-from-palette($fe-theme-grey, 500);

      &::before {
        border-bottom: 5px solid mat.get-color-from-palette($fe-theme-grey, 500);
      }
    }
  }

  .vertical-tree-main-content {
    .cycle-warn {
      color: mat.get-color-from-palette($fe-theme-warn, 600);
    }
  }

  #vertical-tree-options {
    .tree-node-focused {
      background-color: mat.get-color-from-palette($fe-theme-grey, 100);
      transition: 0.5s ease;
    }

    .name-hover:hover {
      color: mat.get-color-from-palette($fe-theme-primary, 500);
    }


    .vertical-tree-options-buttons {
      .button-active {
        background-color: mat.get-color-from-palette($fe-theme-grey, 50) !important;
        color: mat.get-color-from-palette($fe-theme-grey, 500) !important;
      }
    }

    .focus-container {
      border-top: 1px solid mat.get-color-from-palette($fe-theme-grey, 50) !important;
    }

    .node:hover {
      .node-text {
        fill: mat.get-color-from-palette($fe-theme-grey, 50);
      }
    }
  }

  #hierachy-drawer-main-content-describer {
    .tree-node-focused {
      background-color: mat.get-color-from-palette($fe-theme-grey, 100);
    }

    .name-hover:hover {
      color: mat.get-color-from-palette($fe-theme-primary, 500);
    }

    .d-flex {
      .paginator-wrapper {
        .go-to-container {
          .go-to-label {
            color: rgba(0, 0, 0, 0.54);
          }
        }
      }
    }

    .junction-node {
      stroke: mat.get-color-from-palette($fe-theme-grey, 400);
      fill: mat.get-color-from-palette($fe-theme-grey, 400);
    }

    .junction-return-node {
      stroke: mat.get-color-from-palette($fe-theme-grey, 100);
      fill: mat.get-color-from-palette($fe-theme-grey, 100);
    }

    .arrow-head {
      fill: mat.get-color-from-palette($fe-theme-primary, 300);
    }

    .arrow-head-green {
      fill: mat.get-color-from-palette($fe-theme-green, 700);
    }

    .arrow-head-black {
      fill: mat.get-color-from-palette($fe-theme-grey, 200);
    }

    .arrow-stacked {
      fill: mat.get-color-from-palette($fe-theme-primary, 400);
    }

    .return-connection {
      stroke: mat.get-color-from-palette($fe-theme-grey, 100);
    }

    .dependency-return {
      stroke: mat.get-color-from-palette($fe-theme-grey, 300);
    }

    .edge-focused {
      .neutrals-line {
        stroke: mat.get-color-from-palette($fe-theme-grey, 700);
      }

      .blue-line {
        stroke: mat.get-color-from-palette($fe-theme-primary, 700);
      }
    }

    .action-handler {
      .button-active {
        background-color: mat.get-color-from-palette($fe-theme-grey, 50) !important;
        color: mat.get-color-from-palette($fe-theme-grey, 500) !important;
      }

      .create-dependency-contend {
        border-top: 1px solid mat.get-color-from-palette($fe-theme-grey, 50) !important;
        border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 50) !important;
      }
    }

    .focus-container {
      background-color: mat.get-color-from-palette($fe-theme-primary, white);
      border-top: 1px solid mat.get-color-from-palette($fe-theme-grey, 50) !important;
    }

    .mid-left-container {
      .button-active {
        background-color: mat.get-color-from-palette($fe-theme-grey, 50) !important;
      }
    }

    .card {
      font-size: 12px !important;
      padding: 10px;
      box-shadow: rgba(5, 0, 56, 0.08) 0px 2px 10px 0px;
    }

    .node {
      fill: mat.get-color-from-palette($fe-theme-grey, 500);
    }

    .node-rect {
      stroke: mat.get-color-from-palette($fe-theme-grey, 500);
    }

    .node:hover {
      .node-text {
        // filter: brightness(100%);
        fill: mat.get-color-from-palette($fe-theme-grey, 700);
      }
    }

    .node:active {
      .node-text {
        fill: rgb(255, 255, 255);
      }
    }

    .node-focused {
      filter: drop-shadow(0px 1px 7px rgba(2, 0, 22, 0.438));
    }

    .node-creator-focus {
      filter: drop-shadow(0px 2px 14px rgba(2, 0, 22, 0.438));
    }

    .node-rect-job {
      fill: mat.get-color-from-palette($fe-theme-primary, 100);
    }

    .dynamic-node {
      opacity: 0.5;
      stroke: mat.get-color-from-palette($fe-theme-grey, 900);
      stroke-width: 2.5 !important;
      stroke-dasharray: 8 !important;
    }

    .cyclic-node {
      stroke: mat.get-color-from-palette($fe-theme-warn, 900);
      fill: mat.get-color-from-palette($fe-theme-warn, 500) !important;
      stroke-width: 2.5 !important;
    }

    .node-rect-batch {
      fill: mat.get-color-from-palette($fe-theme-accent, 100);
    }

    .node-rect-milestone {
      fill: mat.get-color-from-palette($fe-theme-grey, 100);
    }

    .node-rect-external {
      fill: mat.get-color-from-palette($fe-theme-warn, 100);
    }

    .node-rect-restricted {
      fill: mat.get-color-from-palette($fe-theme-grey, 50);
    }

    .node-rect-internal {
      fill: mat.get-color-from-palette($fe-theme-warn, 100);
    }

    .list-toolbar {
      background-color: mat.get-color-from-palette($fe-theme-primary, white);

      input:focus {
        border-bottom: 2px solid mat.get-color-from-palette($fe-theme-primary, 300);
      }

      input {
        border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 100);
      }

      border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
    }

    .cycle-warn {
      color: mat.get-color-from-palette($fe-theme-warn, 600);
    }

    .node-disabled {
      .node-rect {
        fill: mat.get-color-from-palette($fe-theme-grey, 50) !important;
        stroke: mat.get-color-from-palette($fe-theme-grey, 100) !important;
      }

      .node-text {
        fill: mat.get-color-from-palette($fe-theme-grey, 100) !important;
      }
    }
  }

  #tree-list-componend-selector {
    .is-pinParent {
      color: mat.get-color-from-palette($fe-theme-accent, 600);
    }

    @include setTextColor($fe-theme,
      $fe-theme-primary,
      $fe-theme-grey,
      $fe-theme-green,
      $fe-theme-accent,
      $fe-theme-warn,
      $fe-theme-blue,
      $fe-theme-util,
      $fe-theme-error );

    .master-item-body:hover {
      background: mat.get-color-from-palette($fe-theme-primary, 50);
    }

    .tree-node-body:hover {
      background: mat.get-color-from-palette($fe-theme-primary, 50);
    }

    hr {
      background: mat.get-color-from-palette($fe-theme-grey, 50);
    }

    .hrLast {
      border-left: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
      border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
    }

    .indent {
      border-left: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
    }

    .indent-last {
      border-left: 0px solid mat.get-color-from-palette($fe-theme-grey, 50);
    }

    .partCollapsed {
      color: mat.get-color-from-palette($fe-theme-accent, 500);
    }

    .list-background-GREEN {
      background-color: mat.get-color-from-palette($fe-theme-green, 50);
    }

    .list-background-BLUE {
      background-color: mat.get-color-from-palette($fe-theme-primary, 50);
    }

    .list-background-RED {
      background-color: mat.get-color-from-palette($fe-theme-warn, 50);
    }

    .list-background-YELLOW {
      background-color: mat.get-color-from-palette($fe-theme-accent, 50);
    }

    .mat-tree-node {
      .indent:last-of-type {
        // border-left: 1 thick  !important;
        border-right: solid 1px mat.get-color-from-palette($fe-theme-grey, 50);
      }
    }
  }

  #master-list-componend-selector {
    hr {
      background: mat.get-color-from-palette($fe-theme-grey, 50);
    }

    @include setTextColor($fe-theme,
      $fe-theme-primary,
      $fe-theme-grey,
      $fe-theme-green,
      $fe-theme-accent,
      $fe-theme-warn,
      $fe-theme-blue,
      $fe-theme-util,
      $fe-theme-error );

    .master-item-body:hover {
      background: mat.get-color-from-palette($fe-theme-primary, 50);
    }

    .FINAL {
      color: mat.get-color-from-palette($fe-theme-green, 500);
    }

    .DEPENDENCY_WAIT {
      color: mat.get-color-from-palette($fe-theme-accent, 500);
    }

    .FINISHED {
      color: mat.get-color-from-palette($fe-theme-warn, 500);
    }

    .RUNNING {
      color: mat.get-color-from-palette($fe-theme-util, 200);
      // color: rgb(66, 3, 40);
    }

    .list-background-DARKGREY {}

    .list-background-GREEN {
      background-color: mat.get-color-from-palette($fe-theme-green, 50);
    }

    .list-background-BLUE {
      background-color: mat.get-color-from-palette($fe-theme-primary, 50);
    }

    .list-background-RED {
      background-color: mat.get-color-from-palette($fe-theme-warn, 50);
    }

    .list-background-YELLOW {
      background-color: mat.get-color-from-palette($fe-theme-accent, 50);
    }
  }

  #efc-text-component-selector {
    .form-invalid {
      color: mat.get-color-from-palette($fe-theme-warn, 500);
    }

    .click-text:hover {
      color: mat.get-color-from-palette($fe-theme-primary, 500);
    }

    .fe-theme-DARK {
      .fe-clickable {
        color: mat.get-color-from-palette($fe-theme-primary, 200);
      }
    }
  }

  #efc-select-component-selector {
    mat-select {
      border: 1px solid mat.get-color-from-palette($fe-theme-grey, 100);

      :hover {
        color: mat.get-color-from-palette($fe-theme-grey, 800);
      }
    }
  }

  .shell-wrapper {
    .shell-output-table-row:nth-child(odd) {
      background-color: mat.get-color-from-palette($fe-theme-primary, 50);
    }
  }

  .toolbar-component-selector {
    border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 200);
  }

  #form-tree-table-identifier {
    .name-hover:hover {
      color: mat.get-color-from-palette($fe-theme-primary, 500);
    }

  }

  .welcome-text-body-wrapper {
    .welcome-text-body {
      .welcome-link {
        :hover {
          color: mat.get-color-from-palette($fe-theme-primary, 300);
        }
      }
    }
  }

  // margin-left: calc((100vw - 100vh)/ 2);

  .editorform-themed-input {
    border: 1px solid mat.get-color-from-palette($fe-theme-grey, 100);
    // border: 1px solid blue;
  }

  .editorform-themed-input:hover {
    border: 1px solid mat.get-color-from-palette($fe-theme-grey, 800);
    // border: 1px solid red;
  }

  .editorform-themed-input:focus {
    outline: none;
    border: 1px solid mat.get-color-from-palette($fe-theme-primary, 600);
    // border: 1px solid red;
  }

  .navigation-list-toolbar {
    input:focus {
      outline: none !important;
      border-bottom: 2px solid mat.get-color-from-palette($fe-theme-primary, 300);
    }

    input {
      border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 100);
    }
  }

  // .navigation-toolbar {
  //   input:focus {
  //     outline: none;
  //     border-bottom: 2px solid mat.get-color-from-palette($fe-theme-primary, 300);
  //   }

  //   input {
  //     border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 100);
  //   }
  // }

  .list-body {
    .list-content {
      mat-list {
        mat-list-item:hover {
          background: mat.get-color-from-palette($fe-theme-primary, 50);
          color: mat.get-color-from-palette($fe-theme-grey, 900);
        }

        .selectedInTabView {
          background: mat.get-color-from-palette($fe-theme-primary, 50);
        }
      }
    }

    .TEXT_GREEN {
      color: mat.get-color-from-palette($fe-theme-green, 600);
    }
  }

  .context-menu {
    .field:hover {
      background-color: mat.get-color-from-palette($fe-theme-primary, 50);
    }

    .seperator {
      border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 100);
    }
  }

  .main-sidenav {
    .first-level-navigation {
      .active {
        background-color: mat.get-color-from-palette($fe-theme-primary, 100);
      }

      .navItem {
      //   border-left: mat.get-color-from-palette($fe-theme-primary, 100) solid 4px;

        a:hover {
          background-color: mat.get-color-from-palette($fe-theme-primary, 50);
        }
      }

      // .navItem:hover {
      //   border-left: mat.get-color-from-palette($fe-theme-primary, 300) solid 4px;
      // }
    }
  }

  .border-left-primary-100 {
    border-left: mat.get-color-from-palette($fe-theme-primary, 100) solid 4px;
  }

  .editorform-themed-input:read-only {
    background-color: mat.get-color-from-palette($fe-theme-grey, 50);
    border: 1px solid mat.get-color-from-palette($fe-theme-grey, 100);
  }

  .editorform-themed-input-table-field-invalid {
    border-color: mat.get-color-from-palette($fe-theme-warn, 200);
  }

  .editorform-themed-input-table-field-invalid:focus {
    border-color: mat.get-color-from-palette($fe-theme-warn, 700);
  }

  .editorform-themed-input-table-field-invalid:hover {
    border-color: mat.get-color-from-palette($fe-theme-warn, 800);
  }

  .editorform-themed-input-invalid {
    color: mat.get-color-from-palette($fe-theme-warn, 500);
  }

  #hierachy-drawer-main-content-describer {
    .blue-line {
      stroke: mat.get-color-from-palette($fe-theme-blue, 300);
      stroke-width: 3px;
    }

    .red-line {
      stroke: mat.get-color-from-palette($fe-theme-warn, 300);
      stroke-width: 2px;
    }

    .neutrals-line {
      stroke: mat.get-color-from-palette($fe-theme-grey, 400);
      stroke-dasharray: 10;
    }

    .JOB_FINAL {
      stroke: mat.get-color-from-palette($fe-theme-green, 700);
      stroke-width: 3px;
    }
  }

  #efd-container {
    .title {
      // color: white;
      // background-color: mat.get-color-from-palette($fe-theme-primary, 300);
      // border-bottom: mat.get-color-from-palette($fe-theme-grey, 50);;
      border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
      background-color: mat.get-color-from-palette($fe-theme-grey, 25) !important;
    }
  }

  // calendar styles

  .fc-button-primary {
    // border-radius: 0px !important;
    background-color: mat.get-color-from-palette($fe-theme-grey, 500) !important;
  }

  .fc-button-active {
    background-color: mat.get-color-from-palette($fe-theme-grey, 300) !important;
  }

  .fc-scrollgrid-sync-table {
    tr:nth-child(even) {
      .fc-timeline-lane:last-of-type {
        background-color: mat.get-color-from-palette($fe-theme-primary, 25);
      }
    }
  }

  .fc-datagrid-body {
    tr:nth-child(even) {
      background-color: mat.get-color-from-palette($fe-theme-primary, 25);
    }
  }

  .fc-datagrid-cell-main {
    span:hover {
      color: mat.get-color-from-palette($fe-theme-primary, 500) !important;
    }
  }

  .fc-timeline-now-indicator-line {
    border-color: mat.get-color-from-palette($fe-theme-primary, 500) !important;
  }

  .fc-timeline-now-indicator-arrow {
    border-bottom-color: mat.get-color-from-palette($fe-theme-primary, 500) !important;
    border-top-color: mat.get-color-from-palette($fe-theme-primary, 500) !important;
  }

  .form-table-content {

    tbody>tr:nth-child(odd) {
      // background-color: mat-color($fe-theme-primary, 50);
    }

    tbody>tr:nth-child(even) {
      background-color: rgba(mat.get-color-from-palette($fe-theme-primary, 500), 0.05);
    }

    .cdk-drag-placeholder {
      background-color: mat.get-color-from-palette($fe-theme-primary, 200) !important;
    }
  }

  .dialog-tree-content {
    mat-tree-node {
      li {
        // background-color: green !important;
        border-left: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
      }
    }
    mat-tree-node:last-child {
      li {
        border-left: 0px solid mat.get-color-from-palette($fe-theme-grey, 50);
      }
      hr {
        border-left: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
        border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
      }
    }

    hr {
      background-color: mat.get-color-from-palette($fe-theme-grey, 50);
    }
    
    mat-nested-tree-node > li > ul {
      border-left: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
    }
    
    mat-nested-tree-node > li > div {
      border-left: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
    }

    mat-nested-tree-node:last-child > li > div {
      border-left: 0px solid mat.get-color-from-palette($fe-theme-grey, 50);
    }

    mat-nested-tree-node:last-child > li > ul {
      border-left: 0px solid mat.get-color-from-palette($fe-theme-grey, 50);
    }

    mat-nested-tree-node:last-child > li > div > div > hr {
      align-self: flex-start;
      height: 14px;
      background: none;
      border-left: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
      border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
    }

    .tree-node-body:hover {
      background: mat.get-color-from-palette($fe-theme-primary, 50);
    }

    mat-tree-node:last-child {
      hr {
        border-left: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
        border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
      }
    }

    hr {
      background: mat.get-color-from-palette($fe-theme-grey, 50);
    }

    input:focus {
      border-bottom: 2px solid mat.get-color-from-palette($fe-theme-primary, 300);
    }

    input {
      border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 100);
    }
  }

  .navigation-tree-content {
    .is-pinParent {
      .svg-neutrals {
        fill: mat.get-color-from-palette($fe-theme-accent, 600);
      }
    }

    .highlightText {
      background: yellow;
    }

    .BLUE {
      color: mat.get-color-from-palette($fe-theme-primary, 500);
    }

    .RED {
      color: mat.get-color-from-palette($fe-theme-warn, 500);
    }

    .GREEN {
      color: mat.get-color-from-palette($fe-theme-green, 500);
    }

    .GREY {
      color: mat.get-color-from-palette($fe-theme-grey, 100);
    }

    .tree-node-body:hover {
      background: mat.get-color-from-palette($fe-theme-primary, 50);
    }

    mat-tree-node {
      li {
        // background-color: green !important;
        border-left: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
      }
    }

    mat-tree-node:last-child {
      li {
        border-left: 0px solid mat.get-color-from-palette($fe-theme-grey, 50);
      }
      hr {
        border-left: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
        border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
      }
    }

    hr {
      background-color: mat.get-color-from-palette($fe-theme-grey, 50);
    }
    
    mat-nested-tree-node > li > ul {
      border-left: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
    }
    
    mat-nested-tree-node > li > div {
      border-left: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
    }

    mat-nested-tree-node:last-child > li > div {
      border-left: 0px solid mat.get-color-from-palette($fe-theme-grey, 50);
    }

    mat-nested-tree-node:last-child > li > ul {
      border-left: 0px solid mat.get-color-from-palette($fe-theme-grey, 50);
    }

    mat-nested-tree-node:last-child > li > div > hr {
      align-self: flex-start;
      height: 14px;
      background: none;
      border-left: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
      border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
    }

    input:focus {
      border-bottom: 2px solid mat.get-color-from-palette($fe-theme-primary, 300);
    }

    input {
      border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 100);
    }
    border: 1px solid mat.get-color-from-palette($fe-theme-grey, 100);
  }

  .mat-toolbar {
    padding: 0px !important;
  }

  .fe-snackbar-wrapper {
    color: mat.get-color-from-palette($fe-theme-grey, 950) !important;
    background-color: mat.get-color-from-palette($fe-theme-primary, 100) !important;
    font-size: 16px !important;
    
    .snackbar-button {
      padding-right: 0px;
      margin-right: 0px;

    }
  }
  .mat-snack-bar-container {
    min-width: 10px !important;
 }

  // .even {}

  .odd {
    // background-color: mat.get-color-from-palette($fe-theme-primary, 25);

    background-color: rgba(mat.get-color-from-palette($fe-theme-primary, 500), 0.05);
    // mix-blend-mode: multiply;
  }

  .crud-color-green {
    color: mat.get-color-from-palette($fe-theme-green, 600);
  }

  .crud-color-red {
    color: mat.get-color-from-palette($fe-theme-warn, 600);
  }

  .crud-color-yellow {
    color: mat.get-color-from-palette($fe-theme-accent, 600);
  }

  .crud-color-blue {
    color: mat.get-color-from-palette($fe-theme-blue, 600);
  }

  .crud-color-purple {
    color: mat.get-color-from-palette($fe-theme-util, 200);
  }

  .crud-color-grey {
    color: mat.get-color-from-palette($fe-theme-grey, 200);
  }

  .crud-color-brown {
    color: mat.get-color-from-palette($fe-theme-util, 50);
  }

  .crud-color-ORANGE {
    color: mat.get-color-from-palette($fe-theme-util, 100);
  }

  .crud-list-any {
    color: mat.get-color-from-palette($fe-theme-grey, 400) !important;
  }

  .crud-border-color-blue {
    // color:
    border: 1px solid mat.get-color-from-palette($fe-theme-primary, 600);
    border-radius: 2px;
  }

  .crud-border-color-grey {
    // color:
    border: 1px solid mat.get-color-from-palette($fe-theme-grey, 500);
    border-radius: 2px;
  }

  .crud-checkbox-color-gey {
    .mat-checkbox-layout {
      // background-color: mat.get-color-from-palette($fe-theme-grey, 200) !important;
      background-color: mat.get-color-from-palette($fe-theme-grey, 200) !important;
    }
  }

  .main-component-body-background {
    background-color: mat.get-color-from-palette($fe-theme-blue, 10) !important;
  }

  .font-primary-500 {
    color: mat.get-color-from-palette($fe-theme-primary, 500) !important;
  }

  .font-blue-500 {
    color: mat.get-color-from-palette($fe-theme-blue, 500) !important;
  }

  .font-warn-500 {
    color: mat.get-color-from-palette($fe-theme-warn, 500) !important;
  }

  .font-grey-500 {
    color: mat.get-color-from-palette($fe-theme-grey, 500) !important;
  }

  .font-grey-600 {
    color: mat.get-color-from-palette($fe-theme-grey, 700) !important;
  }

  .font-grey-700 {
    color: mat.get-color-from-palette($fe-theme-grey, 600) !important;
  }

  .font-grey-950 {
    color: mat.get-color-from-palette($fe-theme-grey, 950) !important;
  }

  // .background-theme-primary {
  //   background-color: mat.get-color-from-palette($fe-theme-grey, 10) !important;
  // }

  .svg-background-theme-primary {
    fill: mat.get-color-from-palette($fe-theme-grey, 10) !important;
  }

  .background-theme-secondary {
    background-color: mat.get-color-from-palette($fe-theme-grey, 10) !important;
    // mat.get-color-from-palette($fe-theme-grey, 25) !important;
  }

  .panel-open {
    background-color: mat.get-color-from-palette($fe-theme-grey, 10) !important;
  }

  .panel-closed {
    background-color: mat.get-color-from-palette($fe-theme-grey, 50) !important;
  }

  .fe-themed-border-bottom-100 {
    // border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 200);
    border-bottom: none;
  }

  .fe-themed-border-bottom-200 {
    // border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 200);
    border: 0px;
  }

  a:-webkit-any-link {
    color: unset !important;
    // cursor: pointer;
  }
}

@include mat.all-legacy-component-colors($fe-theme);
@include mat.all-legacy-component-typographies($fe-light-typography);
@include globalColors($fe-theme,
  $fe-theme-primary,
  $fe-theme-grey,
  $fe-theme-green,
  $fe-theme-accent,
  $fe-theme-warn,
  $fe-theme-blue,
  $fe-theme-util,
  $fe-theme-error);

.fe-theme-LIGHT-SCHEDULIX {
  $fe-theme-primary: $fe-theme-green;
  $fe-theme: define-theme-light((color: (primary: $fe-theme-green,
          accent: $fe-theme-grey,
          warn: $fe-theme-warn )));

  @include mat.all-legacy-component-colors($fe-theme);
  @include globalColors($fe-theme,
    $fe-theme-primary,
    $fe-theme-grey,
    $fe-theme-green,
    $fe-theme-accent,
    $fe-theme-warn,
    $fe-theme-blue,
    $fe-theme-util,
    $fe-theme-error );
}

.fe-theme-DARK-SCHEDULIX {
  $fe-dark-theme-primary: $fe-dark-theme-green;
  $fe-dark-theme: define-theme((color: (primary: $fe-dark-theme-green,
          accent: $fe-dark-theme-grey,
          warn: $fe-dark-theme-warn )));
  @include mat.all-legacy-component-colors($fe-dark-theme);
  // @include mat.all-component-typographies($fe-dark-typography);
  @include globalColors($fe-dark-theme,
    $fe-dark-theme-primary,
    $fe-dark-theme-grey,
    $fe-dark-theme-green,
    $fe-dark-theme-accent,
    $fe-dark-theme-warn,
    $fe-dark-theme-blue,
    $fe-dark-theme-util,
    $fe-dark-theme-error );
}

.fe-theme-DARK {
  $fe-dark-theme: define-theme((color: (primary: $fe-dark-theme-primary,
          accent: $fe-dark-theme-grey,
          warn: $fe-dark-theme-warn )));

  @include mat.all-legacy-component-colors($fe-dark-theme);
  // @include mat.all-component-typographies($fe-dark-typography);
  @include globalColors($fe-dark-theme,
    $fe-dark-theme-primary,
    $fe-dark-theme-grey,
    $fe-dark-theme-green,
    $fe-dark-theme-accent,
    $fe-dark-theme-warn,
    $fe-dark-theme-blue,
    $fe-dark-theme-util,
    $fe-dark-theme-error );
  // background-color: mat.get-color-from-palette($fe-theme-grey, 900);
}

.svg-border {
  fill: none;
}

// Disabled Buttons
// .mat-flat-button.mat-button-disabled.mat-button-disabled {
//   // background-color: #ffffff;
// }

.mat-button {
  text-align: left;
}

label.fe-generated-label {
  padding-left: 8px;
  min-width: 250px;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
}

.editorform_nowrap {
  white-space: nowrap;
}

.fe-clickable {
  cursor: pointer !important;
}

.fe-theme-LIGHT-SCHEDULIX {
  .welcome-screen-body {
    background-image: url(./assets/Propeller_schedulix_opactiy_015.svg);
  }
}

.fe-theme-DARK-SCHEDULIX {
  .welcome-screen-body {
    background-image: url(./assets/Propeller_schedulix_opactiy_015.svg);
  }
}

.fe-theme-LIGHT {
  .welcome-screen-body {
    background-image: url(./assets/Propeller_opactiy_015.svg);
  }
}

.fe-theme-DARK {
  .welcome-screen-body {
    background-image: url(./assets/Propeller_opactiy_015.svg);
  }
}

.toolbar-button {
  border: 1px solid mat.get-color-from-palette($fe-theme-grey, 200);
  border-radius: 6px;
  margin: 4px;
  padding: 2px;
}

.navigationTreeWrapper {
  margin: 0px 4px 8px 8px;
  border: none;
  border-radius: 8px;
  box-shadow: none !important;
  padding: 16px;
  height: 100%;
  background-color: mat.get-color-from-palette($fe-theme-grey, 11) !important;
}

.mat-dialog-container .navigationTreeWrapper {
  margin: 0px 0px 0px 0px !important;
  margin-bottom: 16px !important;
  padding: 0px !important;
}

.navigationListWrapper {
  margin: 0px 4px 8px 8px;
  border: none;
  border-radius: 8px;
  box-shadow: none !important;
  padding: 16px;
  height: 100%;
  background-color: mat.get-color-from-palette($fe-theme-grey, 11) !important;
}

.mat-dialog-container .navigationListWrapper {
  margin: 0px 0px 0px 0px !important;
  margin-bottom: 16px !important;
  padding: 0px !important;
}

.tree-toolbar {
  // background-color: mat.get-color-from-palette($fe-theme-grey, 11) !important;
}

mat-sidenav {
  border: none !important;
}

// mat-sidenav > .mat-drawer-inner-container {
//   background-attachment: scroll !important;
//   // overflow-y: scroll !important;
// }

.main-content-tab {
  background-color: mat.get-color-from-palette($fe-theme-grey, 10) !important; 
}

.mat-drawer-side {
  border: none;
}
 

app-navigation-tree {
  .button-container {
    margin-bottom: 4px;
    .mat-icon-button {  
      border: 1px solid mat.get-color-from-palette($fe-theme-grey, 100) !important;
    }
  }
  .search-container {
    background-color: mat.get-color-from-palette($fe-theme-grey,  25);
    input {
      background-color: mat.get-color-from-palette($fe-theme-grey,  25);
      }
    border: 1px solid mat.get-color-from-palette($fe-theme-grey, 100);
  }
}

.navigation-tree-padding {
  margin: 4px 4px 4px 0px; 
}

app-navigation-list {
  .button-container {
    margin-bottom: 4px;
    .mat-icon-button {  
      border: 1px solid mat.get-color-from-palette($fe-theme-grey, 100) !important;
    }
  }
  .search-container {
    background-color: mat.get-color-from-palette($fe-theme-grey,  25);
    input {
      background-color: mat.get-color-from-palette($fe-theme-grey,  25);
      }
    border: 1px solid mat.get-color-from-palette($fe-theme-grey, 100);
  }
}

.mat-tab-body-wrapper {
  border: solid 1px mat.get-color-from-palette($fe-theme-grey, 100);
  border-top: 0px;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
};

.mat-tab-header  {
  // border-radius: 4px;
  // border-bottom-left-radius: 0px;
  // border-bottom-right-radius: 0px;
  // margin: 8px 8px 0px 8px;
  // border: none;
  height: 40px;
  border: none;
}


.label-wrapper {
  background-color: mat.get-color-from-palette($fe-theme-grey, 25) !important;
}

.mat-tab-label-active .label-wrapper {
  background-color: mat.get-color-from-palette($fe-theme-grey, 10) !important;
}

.mat-tab-label {
  border: solid 1px mat.get-color-from-palette($fe-theme-grey, 100);

  border-bottom-width: 1px;
  border-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 4px;
  height: 40px !important;
  background-color: mat.get-color-from-palette($fe-theme-grey, 25);
}

.mat-tab-label-active {
  border-bottom-width: 0px !important;
  border-bottom-style: none !important;
  background-color: mat.get-color-from-palette($fe-theme-grey, 10);
  // color: mat.get-color-from-palette($fe-theme-blue, 400) !important;
 }


.mat-tab-list {
    border: solid 1px mat.get-color-from-palette($fe-theme-grey, 100);
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;  
    // height:39px;
    height:39px;
  }

.mat-tab-header-pagination {
  border: solid 10px mat.get-color-from-palette($fe-theme-grey, 100) !important;
  border-top: 0px !important;
  border-right: 0px !important;
  border-left: 0px !important;  
  height:39px;
}

#tab-header {
  button {
    border: solid 1px mat.get-color-from-palette($fe-theme-grey, 100);
    border-radius: 6px !important;
    // background-color: mat.get-color-from-palette($fe-theme-grey, 25) !important;
    min-width:64px !important;
    line-height: 36px !important;
    margin: 16px 0px 0px 16px;
    padding: 0px 0px 0px 4px;
  }
  border: solid 1px mat.get-color-from-palette($fe-theme-grey, 100);
  border-top: 0px !important;
  border-right: 0px !important;
  border-left: 0px !important;
}

.form-table-content th div {
  height:100%;
  background-color: mat.get-color-from-palette($fe-theme-grey, 50) !important;
}

app-master-list th > div {
  // height:100%; // flex???
  background-color: mat.get-color-from-palette($fe-theme-grey, 50) !important;
  padding: 0px 4px 0px 4px;
}

app-list-tree th > div {
  // height:100%; // flex???
  background-color: mat.get-color-from-palette($fe-theme-grey, 50) !important;
  padding: 0px 4px 0px 4px;
}

.table-buttons {
  button {
    border: solid 1px mat.get-color-from-palette($fe-theme-grey, 100);
    border-radius: 6px !important;
    // background-color: mat.get-color-from-palette($fe-theme-grey, 25) !important;
    min-width:64px !important;
    line-height: 36px !important;
    margin: 16px 16px 0px 0px;
    padding: 0px 0px 0px 4px;
  }
}

#master-list-componend-selector,
#tree-list-componend-selector {
  .list-toolbar,
  .tree-toolbar {
    button {
      border: solid 1px mat.get-color-from-palette($fe-theme-grey, 100);
      border-radius: 6px !important;
      background-color: mat.get-color-from-palette($fe-theme-grey, 25) !important;
      min-width:64px !important;
      line-height: 36px !important;
      margin: 16px 0px 0px 16px;
      padding: 0px 0px 0px 0px;
    }
    button:last-child {
      margin-right: 16px;
    }
  }
    .background-theme-primary {
    background-color: mat.get-color-from-palette($fe-theme-grey, 10) !important;
  }
}

.mat-expansion-panel-body {
  padding: 0px 16px 16px 16px !important;
}

#efd-container app-form-button {
  // border: solid 1px mat.get-color-from-palette($fe-theme-grey, 100);
  background-color: mat.get-color-from-palette($fe-theme-grey, 25) !important;
  margin: 0px 0px 0px 16px !important;
  border-radius: 4px !important;
}

#efd-container app-form-button:empty {
  border: none;
  margin: 0px 0px 0px 0px !important;
}

.mat-dialog-container .dialog-tree-content {
  border: solid 1px mat.get-color-from-palette($fe-theme-grey, 100);
  margin-bottom: 16px !important;
}

// .tab-label-spacer {
//   border: solid 1px mat.get-color-from-palette($fe-theme-grey, 100);
//   border-top: 0px;
//   border-right: 0px;
//   border-left: 0px;
//   min-width:20px !important;
//   max-width:20px !important;
// }

mat-tree {
  background: transparent !important;
}
