#efc-checkbox {
  .checkbox-container {

    margin-bottom: 2px;

    mat-checkbox {
        margin-top: 2px;
    }
    label {
      min-width: 250px;
      font-weight: bold;
      display: inline-block;
  }

}
}


