<div class="checkbox-container" id="efc-checkbox">
    <label class="fe-generated-label" *ngIf="field.USE_LABEL == 'true' || field.USE_LABEL == true">{{ field.TRANSLATE |
        translate }}:</label>
    <mat-checkbox (click)="check()" [checked]="boolFieldValue" [disabled]="editorformOptions.render.disabled" [ngStyle]="{'opacity': this.editorformOptions.render.disabled ? '0.5': '1.0'}"></mat-checkbox>
</div>
