<div
  class="tab-content background-theme-primary"
  *ngIf="
    data.editorform !== null &&
    data.editorform !== undefined &&
    (tab.MODE == tabTypes.EDIT || tab.MODE == tabTypes.NEW) &&
    isActive
  "
>
  <div id="tab-header" class="tab-header fe-themed-border-bottom">
    <ng-container *ngFor="let btn of data.editorform.BUTTONS">
      <app-form-button
        [form]="form"
        [btnInfo]="btn"
        [tabInfo]="tab"
        [bicsuiteObject]="data.response.DATA.RECORD"
        [parentHasLoaded]="hasloaded"
        [buttonHasSpace]="buttonsHaveSpace"
        (setTabHasLoaded)="setHasLoaded($event)"
      >
      </app-form-button>
    </ng-container>
    <div class="form-headline-wrapper ">
      <span>
        <span class="form-headline">{{ tab.NAME }} </span>
        <span *ngIf="tab.NAME.toLowerCase() != tab.TYPE.toLowerCase() " [ngStyle]="{ opacity: '0.5' }">{{ tab.TYPE }} </span>
      </span>
      <span [ngStyle]="{ opacity: '0.5' }" *ngIf="data?.response?.DATA?.RECORD?.FULLNAME">{{data.response.DATA.RECORD.FULLNAME}}</span>
    </div>
  </div>

  <div id="scrolling_div" #scrolling_div class="tab-body background-theme-secondary" (scroll)="onScroll($event)">
    <div *ngIf="!hasloaded" class="load-container">
      <div class="load-container-inner-warpper">
        <a>{{ "loading_content" | translate }}</a>
        <img class="loadspinner" alt="Logo" src="assets/Propeller.svg" />
      </div>
    </div>

    <!-- dataRechieved is only true when server responded with the bicsuiteData needed for the form   && hasloaded" -->
    <div
      id="tab-content-container"
      class="tab-content-container"
      *ngIf="dataRechieved === true"
    >

      <app-form-generator
        [form]="form"
        [editorform]="data.editorform"
        [accordionOpenStates]="accordionOpenStates"
        [bicsuiteObject]="data.response.DATA.RECORD"
        [tabInfo]="tab"
        [loadNumber]="loadnumber"
        [parentHasLoaded]="hasloaded"
        (setTabHasLoaded)="setHasLoaded($event)"
      >
      </app-form-generator>

      <!-- <h2>PanelStates: </h2>{{ accordionOpenStates | json }}
                <h2>Tab Object:</h2>
            <pre>{{tab | json}}</pre>
            <h2>Data Object:</h2>
            <pre>{{data | json}}</pre> -->
    </div>
  </div>
</div>
<div *ngIf="tab.MODE == tabTypes.MONITOR_JOBS" id="monitoring-list-tab-wrapper" #monitoring_list_tab_wrapper>
  <app-list-tree
    command="LIST CONDENSED JOB WITH MODE = TREE, EXPAND = NONE"
    TYPE="FOLDER"
    shortType="folder"
    treeType="MONITOR_MASTER"
    [tab]="tab"
    [buttonHasSpace]="buttonsHaveSpace"
    [isActive]="isActive"
  ></app-list-tree>
</div>
<div *ngIf="tab.MODE == tabTypes.MONITOR_MASTER" id="monitoring-list-tab-wrapper" #monitoring_list_tab_wrapper>
  <app-master-list
    command="LIST CONDENSED JOB WITH MODE = LIST, EXPAND = NONE"
    TYPE="FOLDER"
    shortType="folder"
    treeType="MONITOR_JOBS"
    [tab]="tab"
    [isActive]="isActive"
    [buttonHasSpace]="buttonsHaveSpace"
  ></app-master-list>
</div>
<div *ngIf="tab.MODE == tabTypes.MONITOR_DETAIL" id="monitoring-list-tab-wrapper" #monitoring_list_tab_wrapper>
  <app-list-tree
    command="LIST CONDENSED JOB WITH MODE = TREE, EXPAND = ALL"
    TYPE="FOLDER"
    shortType="folder"
    treeType="MONITOR_DETAIL"
    [tab]="tab"
    [isActive]="isActive"
    [buttonHasSpace]="buttonsHaveSpace"
  ></app-list-tree>
</div>
<div *ngIf="tab.MODE == tabTypes.SHELL">
  <app-shell [tab]="tab" [isActive]="isActive"></app-shell>
</div>

<div *ngIf="tab.MODE == tabTypes.HIERARCHY">
  <app-hierarchy [tab]="tab" [isActive]="isActive"></app-hierarchy>
</div>

<div *ngIf="tab.MODE == tabTypes.CALENDAR">
  <app-calendar [tab]="tab" [isActive]="isActive"></app-calendar>
</div>
