
.tab-header {
  // white-space: nowrap;
  .form-headline-wrapper {
    margin: 24px 16px 16px 16px;
    display: flex;
    justify-content: space-between;
    .form-headline {
      font-size: 22px;
    }
  }
}

.tab-body {
  height: calc(100vh - 265px); //186px);
  overflow: auto;

  // .form-headline-wrapper {
  //   margin-bottom: 20px;
  //   display: flex;
  //   justify-content: space-between;
  //   .form-headline {
  //     font-size: 22px;
  //   }
  // }

  .tab-content-container {
    padding-top: 16px;
    padding-bottom: 16px;
    max-width: 100%;
    margin-left: 16px;
    margin-right: 16px;
  }
  // background-color: #1F1E24;
}
// .fe-theme-DARK
// .tab-body {

//       background-color: mat.get-color-from-palette($fe-theme-grey, 500);

//   // }
// }

.load-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  opacity: 0.5;
  background-color: white;
  width: 100%;
  height: 100%;
  .load-container-inner-warpper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    margin: auto;
    margin-top: 30vh;
    a {
      font-size: 20px;
      height: 80px;
      // opacity: 0.6;
      line-height: 80px;
      margin-right: 20px;
    }

  }

  margin: auto;

  // margin-top: 30vh;
}


.loadspinner {
  height: 80px;
  // opacity: 0.4;
  animation: rotation 2s infinite;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
