
.chooser-container {
  display: inline-block;
  font-size: 13px;
  align-self: flex-start;

  white-space: nowrap;

  button {
    height: 24px;
    line-height: 24px;
  }
}

.chooser-message {
  font-size: 22px;
}

// .mat-button {
//   font-size: $fe-form-font-size !important;
//   padding: 0px;
// }

#chooser-component-div-wrapper {
  .fe_link_button {
    padding-left: 5px;
    text-decoration: underline;
    // color: mat.get-color-from-palette($fe-theme-primary, 500);
  }
  .fe_link_button:hover {
    cursor: pointer;
    // color: mat.get-color-from-palette($fe-theme-grey, 900);
  }
}

// mat-icon {
//   display: inline-flex;
//   vertical-align: middle;
// }
// .mat-icon-button {
//   width: 24px;
// }
