<ng-container>
    <label class="fe-generated-label" *ngIf="field.USE_LABEL === 'true' || field.USE_LABEL == true">
        <ng-container *ngIf="field.TRANSLATE !== undefined">
            {{field.TRANSLATE | translate}}:
        </ng-container>
    </label>
    <div class="chooser-container" id="chooser-component-div-wrapper"
        *ngIf="(bicsuiteObject[field.NAME] === undefined || bicsuiteObject[field.NAME] === null || bicsuiteObject[field.NAME] === (field.NONE_VALUE ? field.NONE_VALUE : '')) && (field.MANDATORY);else normal">
        <button matTooltip="{{'select' | translate}}" matTooltipPosition="above" color="warn" mat-button (click)="choose(field.CHOOSER, field.CHOOSER_EDITORFORM_FIELD)"
            [disabled]="editorformOptions.render.disabled">
            <mat-icon svgIcon="select"></mat-icon>
            <mat-icon *ngIf="editorformOptions.flags.SVG_ICON != undefined && bicsuiteObject[field.NAME] && bicsuiteObject[field.NAME] != (field.NONE_VALUE ? field.NONE_VALUE : '')" svgIcon="{{ editorformOptions.flags.SVG_ICON }}" [ngStyle]="{'opacity': this.editorformOptions.render.disabled ? '0.5': '1.0'}"></mat-icon>
            <span interactiveTooltip="{{field.TOOLTIP ? (field.TOOLTIP_MESSAGE ? (field.TOOLTIP_MESSAGE | translate): bicsuiteObject[field.TOOLTIP_LOOKUP]) : null}}" class="{{'VALUE_' + bicsuiteObject[field.NAME]}}">
                {{(bicsuiteObject[field.NAME] === undefined ||
                bicsuiteObject[field.NAME] === null || bicsuiteObject[field.NAME] === "" ? ("please_select" | translate) :
                bicsuiteObject[field.NAME]) | displayModifier: {
                    displayMode: field.DISPLAY_MODIFIER
                }
                }}
            </span>
    </button>

    <button class="paste-button" matTooltipPosition="above" matTooltip="{{ 'paste' |translate}}" mat-icon-button *ngIf="conditionCanPaste()" (click)="paste()"><mat-icon svgIcon="paste"></mat-icon></button>

    </div>
    <ng-template #normal>
        <div id="chooser-component-div-wrapper" class="chooser-container chooser-noempty">
            <button matTooltip="{{'select' | translate}}" matTooltipPosition="above" mat-icon-button (click)="choose(field.CHOOSER, field.CHOOSER_EDITORFORM_FIELD)" [ngStyle]="{'opacity': this.editorformOptions.render.disabled ? '0.5': '1.0'}"
                [disabled]="editorformOptions.render.disabled">
                <mat-icon svgIcon="select"></mat-icon>
            </button>
            <span *ngIf="(!field.LINK_METHOD || bicsuiteObject[field.NAME] === undefined || bicsuiteObject[field.NAME] === null || bicsuiteObject[field.NAME] == (field.NONE_VALUE ? field.NONE_VALUE : ''))">
                <mat-icon *ngIf="editorformOptions.flags.SVG_ICON != undefined && bicsuiteObject[field.NAME] && bicsuiteObject[field.NAME] != (field.NONE_VALUE === undefined ? '' : field.NONE_VALUE)" svgIcon="{{ editorformOptions.flags.SVG_ICON }}" [ngStyle]="{'opacity': this.editorformOptions.render.disabled ? '0.5': '1.0'}"></mat-icon>
                <span interactiveTooltip="{{field.TOOLTIP ? (field.TOOLTIP_MESSAGE ? (field.TOOLTIP_MESSAGE | translate): bicsuiteObject[field.TOOLTIP_LOOKUP]) : null}}" class="{{'VALUE_' + bicsuiteObject[field.NAME]}}">
                    {{(bicsuiteObject[field.NAME] === undefined ||
                    bicsuiteObject[field.NAME] === null || bicsuiteObject[field.NAME] === "" ? ("please_select" | translate)
                    : bicsuiteObject[field.NAME]) | displayModifier: {
                        displayMode: field.DISPLAY_MODIFIER
                    }
                    }}
                </span>
            </span>
            <span class="font-blue-500 fe_link_button" *ngIf="(field.LINK_METHOD && (bicsuiteObject[field.NAME] && bicsuiteObject[field.NAME] != (field.NONE_VALUE ? field.NONE_VALUE : '')))" mat-button (click)="onClick(field.LINK_METHOD)">
                <mat-icon *ngIf="editorformOptions.flags.SVG_ICON != undefined && bicsuiteObject[field.NAME] && bicsuiteObject[field.NAME] != (field.NONE_VALUE ? field.NONE_VALUE : '')" svgIcon="{{ editorformOptions.flags.SVG_ICON }}" [ngStyle]="{'opacity': this.editorformOptions.render.disabled ? '0.5': '1.0'}"></mat-icon>
                <span interactiveTooltip="{{field.TOOLTIP ? (field.TOOLTIP_MESSAGE ? (field.TOOLTIP_MESSAGE | translate): bicsuiteObject[field.TOOLTIP_LOOKUP]) : null}}" class="{{'VALUE_' + bicsuiteObject[field.NAME]}}">
                    {{(bicsuiteObject[field.NAME] === undefined ||
                    bicsuiteObject[field.NAME] === null || bicsuiteObject[field.NAME] === "" ? ("please_select" | translate)
                    : bicsuiteObject[field.NAME]) | displayModifier: {
                        displayMode: field.DISPLAY_MODIFIER
                    }
                    }}
                </span>
            </span>
            <button @fadeAnimation class="paste-button" matTooltipPosition="above" matTooltip="{{ 'paste' |translate}}" mat-icon-button *ngIf="conditionCanPaste() && !editorformOptions.render.disabled" (click)="paste()"><mat-icon svgIcon="paste"></mat-icon></button>
        </div>
    </ng-template>

</ng-container>
