<div class="hierachy-drawer-main-content background-theme-secondary" id="hierachy-drawer-main-content-describer">
    <div class="graph" id="graph">

        <div class="mid-left-container card background-theme-primary">
          <!-- {{graphState.createEdgeType}} -->
          <!-- [disabled]="!focusedNode.data" -->
          <!-- [ngStyle]="{'opacity': focusedNode.data ? '1.0': '0.5'}" -->
            <button [class.button-active]="graphState.actionHandler == htmlActionHandlerType.CREATE_DEPENDENCY" mat-icon-button
                color="secondary"
                (click)="openActionHandler(htmlActionHandlerType.CREATE_DEPENDENCY, graphEdges, graphNodes, graphState.focusedNode)"
                 matTooltip="create dependency"
                matTooltipPosition="after">
                <mat-icon svgIcon="add_dependency"></mat-icon>
            </button>
            <br>
            <button [class.button-active]="graphState.actionHandler == htmlActionHandlerType.CREATE_EXTERNAL_DEPENDENT" mat-icon-button
                color="secondary"
                (click)="openActionHandler(htmlActionHandlerType.CREATE_EXTERNAL_DEPENDENT, graphEdges, graphNodes, graphState.focusedNode)"
                matTooltip="create external dependency"
                matTooltipPosition="after">
                <mat-icon svgIcon="add_external_dependency"></mat-icon>
            </button>
            <br>
            <button [class.button-active]="graphState.actionHandler == htmlActionHandlerType.DELETE_DEPENDENCY" mat-icon-button
                color="secondary"
                (click)="openActionHandler(htmlActionHandlerType.DELETE_DEPENDENCY, graphEdges, graphNodes, graphState.focusedNode)"
                matTooltip="delete dependency" matTooltipPosition="after">
                <mat-icon svgIcon="delete_dependency"></mat-icon>
            </button>
            <br><br>
            <!-- [disabled]="!focusedNode.data" -->
            <!-- [ngStyle]="{'opacity': focusedNode.data ? '1.0': '0.5'}"  -->
            <button [class.button-active]="graphState.actionHandler == htmlActionHandlerType.ADD_CHILDREN" mat-icon-button
                color="secondary"
                (click)="openActionHandler(htmlActionHandlerType.ADD_CHILDREN, graphEdges, graphNodes, graphState.focusedNode)"
                matTooltip="add child"
                matTooltipPosition="after">
                <mat-icon svgIcon="add_children"></mat-icon>
            </button>

            <br>
            <button [class.button-active]="graphState.actionHandler == htmlActionHandlerType.REMOVE_CHILDREN" mat-icon-button
                color="secondary"
                (click)="openActionHandler(htmlActionHandlerType.REMOVE_CHILDREN, graphEdges, graphNodes, graphState.focusedNode)"
                matTooltip=" remove child" matTooltipPosition="after">
                <mat-icon svgIcon="delete_children"></mat-icon>
            </button>
            <br><br>
            <!-- <button [class.button-active]="actionHandler == htmlActionHandlerType.CREATE_TRIGGER" mat-icon-button
                color="secondary" [disabled]="!focusedNode.data"
                (click)="openActionHandler(htmlActionHandlerType.CREATE_TRIGGER, graphEdges, graphNodes, focusedNode)"
                [ngStyle]="{'opacity': true ? '0.5': '1.0'}" matTooltip="create trigger" matTooltipPosition="after">
                <mat-icon svgIcon="create_trigger"></mat-icon>
            </button>
            <br>
            <button [class.button-active]="actionHandler == htmlActionHandlerType.DELETE_TRIGGER" mat-icon-button
                color="secondary"
                (click)="openActionHandler(htmlActionHandlerType.DELETE_TRIGGER, graphEdges, graphNodes, focusedNode)"
                matTooltip="Delete Trigger" matTooltipPosition="after">
                <mat-icon svgIcon="delete_trigger"></mat-icon>
            </button> -->
        </div>

        <div class="action-handler card background-theme-primary" *ngIf="graphState.actionHandler != htmlActionHandlerType.NONE">
            <div *ngIf="graphState.actionHandler == htmlActionHandlerType.CREATE_DEPENDENCY" class="create-dependency-handler">
                {{'create_dependency' | translate}}

                <div class="create-dependency-contend">

                    <div class="dependency-option-container">
                        {{'state_selection' | translate}}
                        <mat-select [(value)]="dependencyOpions.stateSelection" panelClass="default-panel">
                            <mat-option [value]="value" *ngFor="let value of dependencyOpions.stateSelectionOptions; index as i">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div class="dependency-option-container">
                        {{'dependency_mode' | translate}}
                        <mat-select [(value)]="dependencyOpions.dependencyMode" panelClass="default-panel">
                            <mat-option [value]="value" *ngFor="let value of dependencyOpions.dependencyModeOptions; index as i">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div class="dependency-option-container">

                        {{'unresolved_handling' | translate}}
                        <mat-select [(value)]="dependencyOpions.unresolvedHandling" panelClass="default-panel">
                            <mat-option [value]="value" *ngFor="let value of dependencyOpions.unresolvedHandlingOptions; index as i">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </div>

                </div>
                <div class="create-dependency-buttons">
                    <!-- <button [disabled]="!focusedNode.data" [ngStyle]="{'opacity': !focusedNode.data ? '0.5': '1.0'}"
                        mat-flat-button color="accent"
                        (click)="createEdge(htmlActionHandlerType.CREATE_DEPENDENCY, htmlCreateEdgeType.CREATE_DEPENDENT)"
                        [class.button-active]="createEdgeType ==  htmlCreateEdgeType.CREATE_DEPENDENT">
                        {{'select_dependent' | translate}}
                    </button> -->
                    <!-- <br> -->
                    <!-- <button [disabled]="!focusedNode.data" [ngStyle]="{'opacity': !focusedNode.data ? '0.5': '1.0'}"
                        mat-flat-button color="accent"
                        (click)="createEdge(htmlActionHandlerType.CREATE_DEPENDENCY, htmlCreateEdgeType.CREATE_REQUIRED)"
                        [class.button-active]="createEdgeType ==  htmlCreateEdgeType.CREATE_REQUIRED">
                        {{'select_required' | translate}}
                    </button> -->
                    <!-- <br> -->
                    <button
                        mat-flat-button color="primary"
                        (click)="exitDependencySelection()">
                        {{'exit_dependency_selection' | translate}}
                    </button>
                    <!-- (click)="openBatchesAndJobChooser(htmlActionHandlerType.CREATE_DEPENDENCY, graphEdges, graphNodes, focusedNode)"> -->
                </div>
            </div>
            <div *ngIf="graphState.actionHandler == htmlActionHandlerType.CREATE_EXTERNAL_DEPENDENT">
              {{'create_external_dependent' | translate}}
            </div>
            <div *ngIf="graphState.actionHandler == htmlActionHandlerType.DELETE_DEPENDENCY">
                {{'select_edge_to_delete_dependency' | translate}}
            </div>
            <div *ngIf="graphState.actionHandler == htmlActionHandlerType.REMOVE_CHILDREN">
                {{'select_edge_to_reomve_child_coherence' | translate}}
            </div>
            <div *ngIf="graphState.actionHandler == htmlActionHandlerType.ADD_CHILDREN">

                {{'select_child_to_add_chhild_coherence' | translate}}
            </div>
            <!-- <div *ngIf="actionHandler == htmlActionHandlerType.CREATE_TRIGGER">
                {{'select_node_to_add_trigger' | translate}}
            </div>
            <div *ngIf="actionHandler == htmlActionHandlerType.DELETE_TRIGGER">
                {{'select_triggerEdge_to_delete_trigger' | translate}}
            </div> -->
        </div>


        <ngx-graph [update$]="update$" [center$]="center$" class="chart-container" [autoCenter]="autoCenter"
            [minZoomLevel]="0.07" [maxZoomLevel]="maxZoomLevel" [panningAxis]="panningAxis" [autoZoom]="autoZoom"
            [zoomToFit$]="zoomToFit$" [layout]="customDagreLayout" [draggingEnabled]="draggingEnabled"
            [showMiniMap]="false" [links]="graphEdges" [nodes]="graphNodes" [clusters]="clusters"
            (zoomChange)="zoomChange($event)">

            <ng-template #clusterTemplate let-cluster>
                <svg:g class="cluster">
                    <svg:rect rx="5" ry="5" [attr.width]="cluster.dimension.width"
                        [attr.height]="cluster.dimension.height" fill="none" />
                    <!-- -->
                    <!-- <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="20"> -->
                    <!-- {{cluster.label}} -->
                    <!-- </svg:text> -->
                </svg:g>
            </ng-template>

            <ng-template #nodeTemplate let-node>

                <!-- STANDARD NODE SELECTOR -->

                <svg:g
                    *ngIf="!(node.data.type == 'batch-connection' || node.data.type == 'return-connection' || node.shortType == 'depJunctionAND' || node.shortType == 'depJunctionOR' || node.shortType == 'depJunctionOUT')"
                    [class]="(node.data.focused == true || node.id == graphState.focusedNode.id) ? 'node node-focused': 'node'"
                    [class.node-creator-focus]="(node.data.focused == true || node.id == graphState.focusedNode.id) && (graphState.createEdgeType != htmlCreateEdgeType.NONE)"
                    [class.node-disabled]="graphState.createEdgeType != htmlCreateEdgeType.NONE && (node.shortType == 'internal' || node.shortType == 'external') "
                    (click)="clickNode(node, graphState)">
                    <!-- CLASS SELECTION -->

                    <svg:rect *ngIf="node.shortType == 'batch'"
                        class="node-rect node-rect-batch {{(node.data.IS_STATIC == 'false') ? 'dynamic-node': ''}} {{node.data.isCyclicNode ? 'cyclic-node': ''}}"
                        [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" />
                    <svg:rect *ngIf="node.shortType == 'job'"
                        class="node-rect node-rect-job {{(node.data.IS_STATIC == 'false') ? 'dynamic-node': ''}} {{node.data.isCyclicNode ? 'cyclic-node': ''}}"
                        [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" />
                    <svg:rect *ngIf="node.shortType == 'milestone'"
                        class="node-rect node-rect-milestone {{(node.data.IS_STATIC == 'false') ? 'dynamic-node': ''}} {{node.data.isCyclicNode ? 'cyclic-node': ''}}"
                        [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" />
                    <svg:rect *ngIf="node.shortType == 'external'"
                        class="node-rect node-rect-external {{(node.data.IS_STATIC == 'false') ? 'dynamic-node': ''}} {{node.data.isCyclicNode ? 'cyclic-node': ''}}"
                        [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" />
                    <svg:rect *ngIf="node.shortType == 'restricted'"
                        class="node-rect node-rect-restricted {{(node.data.IS_STATIC == 'false') ? 'dynamic-node': ''}} {{node.data.isCyclicNode ? 'cyclic-node': ''}}"
                        [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" />
                    <svg:rect *ngIf="node.shortType == 'internal'"
                        class="node-rect node-rect-internal {{(node.data.IS_STATIC == 'false') ? 'dynamic-node': ''}} {{node.data.isCyclicNode ? 'cyclic-node': ''}}"
                        [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" />

                    <!-- ICONS -->

                    <image *ngIf="node.shortType == 'batch'" class="node-image" x="5" [attr.y]="5" fill="black" width="24" height="24"
                        href="assets/icons/batch.svg" />
                    <image *ngIf="node.shortType == 'job'" fill="black"  class="node-image" x="5" [attr.y]="5" width="24" height="24"
                        href="assets/icons/job.svg" />
                    <image *ngIf="node.shortType == 'milestone'"  class="node-image" x="5" [attr.y]="5" width="24" height="24"
                        href="assets/icons/milestone.svg" />
                    <image *ngIf="node.shortType == 'restricted'"  class="node-image" x="5" [attr.y]="5" width="24" height="24"
                        href="assets/icons/suspend1.svg" />
                    <image *ngIf="node.shortType == 'internal'"  class="node-image" x="5" [attr.y]="5" width="24" height="24"
                        href="assets/icons/internal_dependency.svg" />
                    <image *ngIf="node.shortType == 'external'"  class="node-image" x="5" [attr.y]="5" width="24" height="24"
                        href="assets/icons/external_dependency.svg" />
                    <image *ngIf="node.data.isCyclicNode"  class="node-image" x="5" [attr.y]="36" width="24" height="24"
                        href="assets/icons/warning.svg" />
                  



                    <!-- TEXT -->

                    <svg:text class="node-text" alignment-baseline="central" [attr.x]="30" [attr.y]="12">
                        {{node.label}}
                    </svg:text>
                    <svg:text alignment-baseline="central" [attr.x]="30" [attr.y]="32" class="node-text">
                        {{node.data.ID}}
                    </svg:text>
                    <svg:text alignment-baseline="central" [attr.x]="30" [attr.y]="52" class="node-text">
                        {{(node.data.IS_STATIC == 'false') ? 'DYNAMIC' : ''}} {{node.data.TYPE}}
                    </svg:text>
                    <svg:text *ngIf="(node.data.focused == true || node.id == graphState.focusedNode.id) && (graphState.createEdgeType == htmlCreateEdgeType.CREATE_REQUIRED)" class="node-text" alignment-baseline="central" [attr.x]="10" [attr.y]="-12">
                        FROM
                    </svg:text>

                    <svg:text *ngIf="(node.data.focused == true || node.id == graphState.focusedNode.id) && (graphState.createEdgeType == htmlCreateEdgeType.CREATE_EXTERNAL_DEPENDENT)" class="node-text" alignment-baseline="central" [attr.x]="10" [attr.y]="-12">
                        TO
                    </svg:text>


                </svg:g>
                <svg:g class="expand-collapse" (click)="toggleExpandCollapse(node)"
                    *ngIf="!(node.data.type == 'batch-connection' || node.data.type == 'return-connection' || node.shortType == 'depJunctionAND' || node.shortType == 'depJunctionOR' || node.shortType == 'depJunctionOUT')"
                    matTooltip="{{node.data.isExpanded ? 'collapse':'expand'}}" matTooltipPosition="above">
                    <!-- expand collapse -->
                    <svg *ngIf="(node.data.CHILDREN > 0) && node.data.isExpanded" [attr.x]="node.dimension.width + 3" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <!-- <rect width="24" height="24" fill="white"/> -->
                      <circle cx="12" cy="12" r="10" class="svg-background-theme-primary" />
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM12 20.3333C16.6024 20.3333 20.3334 16.6024 20.3334 12C20.3334 7.39763 16.6024 3.66667 12 3.66667C7.39765 3.66667 3.66669 7.39763 3.66669 12C3.66669 16.6024 7.39765 20.3333 12 20.3333Z" class="svg-neutrals"/>
                      <path d="M6.99996 10L12 15L17 10" class="svg-stroke-neutrals" stroke-width="2"/>
                    </svg>
                    <svg *ngIf="(node.data.CHILDREN > 0) && !node.data.isExpanded" [attr.x]="node.dimension.width + 3" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <!-- <rect width="24" height="24" fill="white"/> -->
                        <circle cx="12" cy="12" r="10" class="svg-background-theme-primary" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM12 20.3333C16.6024 20.3333 20.3334 16.6024 20.3334 12C20.3334 7.39763 16.6024 3.66667 12 3.66667C7.39765 3.66667 3.66669 7.39763 3.66669 12C3.66669 16.6024 7.39765 20.3333 12 20.3333Z" class="svg-neutrals"/>
                        <path d="M11 17L16 12L11 7" class="svg-stroke-neutrals" stroke-width="2"/>
                    </svg>
                </svg:g>

                <svg:g *ngIf="(node.data.type == 'batch-connection')">
                    <svg:circle cx="1" cy="1" r="1" fill="black" class="junction-node" />
                </svg:g>
                <svg:g *ngIf="(node.data.type == 'return-connection')">
                    <svg:circle cx="1" cy="1" r="1" fill="black" class="junction-return-node" />
                </svg:g>
                <svg:g *ngIf="(node.shortType == 'depJunctionAND')" matTooltip="AND" matTooltipPosition="above">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="3" y="3" width="18" height="18" fill="#D9D9D9" fill-opacity="0.01"/>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M12 0.0857849L12.7071 0.792888L23.2071 11.2929L23.9142 12L23.2071 12.7071L12.7071 23.2071L12 23.9142L11.2929 23.2071L0.792921 12.7071L0.0858154 12L0.792921 11.2929L11.2929 0.792892L12 0.0857849ZM2.91424 12L12 21.0858L21.0858 12L12 2.91421L2.91424 12ZM11 6H13V11H18V13H13V18H11V13H6.00001V11H11V6Z"
                           class="svg-neutrals" />
                    </svg>
                    <!-- <svg:circle cx="1" cy="1" r="1" fill="black" class="junction-return-node" /> -->
                </svg:g>
                <svg:g *ngIf="(node.shortType == 'depJunctionOR')" matTooltip="OR" matTooltipPosition="above">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">

                        <rect x="3" y="3" width="18" height="18" fill="#D9D9D9" fill-opacity="0.01"/>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M12 0.0857849L12.7071 0.792889L23.2071 11.2929L23.9142 12L23.2071 12.7071L12.7071 23.2071L12 23.9142L11.2929 23.2071L0.792921 12.7071L0.0858154 12L0.792921 11.2929L11.2929 0.792892L12 0.0857849ZM2.91424 12L12 21.0858L21.0858 12L12 2.91421L2.91424 12ZM10.5858 12L7.29289 8.70711L8.70711 7.29289L12 10.5858L15.2929 7.29289L16.7071 8.70711L13.4142 12L16.7071 15.2929L15.2929 16.7071L12 13.4142L8.70711 16.7071L7.29289 15.2929L10.5858 12Z"
                           class="svg-neutrals" />
                    </svg>
                </svg:g>
                <svg:g *ngIf="(node.shortType == 'depJunctionOUT')">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M12 0.0857849L12.7071 0.792889L23.2071 11.2929L23.9142 12L23.2071 12.7071L12.7071 23.2071L12 23.9142L11.2929 23.2071L0.792921 12.7071L0.0858154 12L0.792921 11.2929L11.2929 0.792892L12 0.0857849ZM2.91424 12L12 21.0858L21.0858 12L12 2.91421L2.91424 12Z"
                           class="svg-neutrals" />
                    </svg>

                </svg:g>
            </ng-template>

            <ng-template #defsTemplate>
                <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4"
                    orient="auto">
                    <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                </svg:marker>
                <svg:marker id="arrow-green" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4"
                    orient="auto">
                    <svg:path d="M0,-5L10,0L0,5" class="arrow-head-green"/>
                </svg:marker>
                <svg:marker id="arrow-black" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4"
                    orient="auto">
                    <svg:path d="M0,-5L10,0L0,5" class="arrow-head-black"/>
                </svg:marker>
                <svg:marker id="line-stacked" viewBox="0 -5 10 10" refX="4" refY="2.5" markerWidth="10"
                    markerHeight="10" orient="auto">
                    <svg:rect width="1.5" height="10" class="arrow-stacked"></svg:rect>
                </svg:marker>
                <svg:marker id="arrow-stacked" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4"
                    orient="auto">
                    <svg:path d="M0,-5L10,0L0,5" class="arrow-stacked"></svg:path>
                    <svg:rect width="3" height="20" x="7" y="-5" class="arrow-stacked"></svg:rect>
                </svg:marker>
                <svg:marker id="arrow-stackedRequired" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4"
                    markerHeight="4" orient="auto">
                    <!-- <svg:path d="M0,-5L10,0L0,5" class="arrow-stacked"></svg:path> -->
                    <svg:rect width="3" height="20" x="7" y="-5" class="arrow-stacked"></svg:rect>
                </svg:marker>
            </ng-template>


            <ng-template #linkTemplate let-link>
                <!-- <svg:g class="edge">
                    hover path is invinsible
                    <svg:path [appHierachyTooltip]="link.data.edge" class="line {{link.data.color}}" stroke-width="8">
                    </svg:path>
                </svg:g> -->
                <svg:g [class]="link.data.focused == true ? 'edge edge-focused': 'edge'">

                    <svg:path *ngIf="link.data.type == 'hierarchy'" [appHierachyTooltip]="link.data.edge"
                        class="line {{link.data.color}} line-hover" stroke-width="2.5">
                    </svg:path>

                    <svg:path [appHierachyTooltip]="link.data.edge"
                        *ngIf="link.data.type == 'dependency' && link.label == 'ALL_FINAL' && link.data.edge.stacked != true && link.data.edge.stackedRequired != true"
                        class="line {{link.data.color}} {{graphState.actionHandler == htmlActionHandlerType.DELETE_DEPENDENCY ? 'link-delete-depndency': ''}} ALL_FINAL"
                        stroke-width="2" marker-end="url(#arrow)"></svg:path>
                    <svg:path [appHierachyTooltip]="link.data.edge"
                        *ngIf="link.data.type == 'dependency' && link.label == 'JOB_FINAL' && link.data.edge.stacked != true && link.data.edge.stackedRequired != true"
                        class="line {{link.data.color}} {{graphState.actionHandler == htmlActionHandlerType.DELETE_DEPENDENCY ? 'link-delete-depndency': ''}} JOB_FINAL"
                        stroke-width="2" marker-end="url(#arrow-green)"></svg:path>

                    <svg:path [appHierachyTooltip]="link.data.edge"
                        *ngIf="link.data.type == 'dependency' && link.data.edge.stacked == true && link.data.edge.stackedRequired != true"
                        class="line {{link.data.color}} {{graphState.actionHandler == htmlActionHandlerType.DELETE_DEPENDENCY ? 'link-delete-depndency': ''}} STACKED"
                        stroke-width="2" marker-end="url(#arrow-stacked)"></svg:path>

                    <svg:path [appHierachyTooltip]="link.data.edge"
                        *ngIf="link.data.type == 'dependency' && link.data.edge.stacked != true && link.data.edge.stackedRequired == true"
                        class="line {{link.data.color}} {{graphState.actionHandler == htmlActionHandlerType.DELETE_DEPENDENCY ? 'link-delete-depndency': ''}} STACKED"
                        stroke-width="2" marker-start="url(#arrow-stackedRequired)" marker-end="url(#arrow)"></svg:path>

                    <svg:path [appHierachyTooltip]="link.data.edge"
                        *ngIf="link.data.type == 'dependency' && link.data.edge.stacked == true && link.data.edge.stackedRequired == true"
                        class="line {{link.data.color}} {{graphState.actionHandler == htmlActionHandlerType.DELETE_DEPENDENCY ? 'link-delete-depndency': ''}} STACKED"
                        stroke-width="2" marker-start="url(#arrow-stackedRequired)" marker-end="url(#arrow-stacked)">
                    </svg:path>

                    <!-- {{link.label == 'JOB_FINAL' ? 'arrow-green' : 'arrow'}} -->
                    <svg:path [appHierachyTooltip]="link.data.edge" *ngIf="link.data.type == 'external-dependency'"
                        class="line {{link.data.color}}" stroke-width="2" marker-end="url(#arrow)">
                    </svg:path>
                    <svg:path *ngIf="link.data.type == 'batch-connection'"
                        class="line {{link.data.color}}" stroke-width="2"></svg:path>

                    <svg:path *ngIf="link.data.type == 'return-connection'" class="line {{link.data.type}}"
                        stroke-width="2"></svg:path>


                    <svg:path *ngIf="link.data.type == 'dependency-return'" class="line {{link.data.type}}"
                        stroke-width="2 " marker-end="url(#arrow-black)"></svg:path>

                    <svg:g class="delete-dependency-circle" *ngIf="((link.data.type == 'dependency' || link.data.type == 'external-dependency' ) && graphState.actionHandler == htmlActionHandlerType.DELETE_DEPENDENCY)
                || (link.data.type == 'hierarchy' && graphState.actionHandler == htmlActionHandlerType.REMOVE_CHILDREN)
                || (link.data.type == 'trigger' && graphState.actionHandler == htmlActionHandlerType.DELETE_TRIGGER)"
                        (click)="deleteEdge(link, graphState.actionHandler, link.data.type, graphEdges, graphNodes, graphState.focusedNode)"
                        [attr.transform]="'translate(' + getXYForCenteredLinkCircle(link)[0] + ',' + getXYForCenteredLinkCircle(link)[1] + ')'">
                        <svg class="delete-dependency-circle" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="10" fill="white" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M12.0659 14.8725L18.4984 21.1514L21.1319 18.1285L14.9311 12.0757L21.1318 6.02292L18.4983 3.00002L12.0659 9.27887L5.63358 3L3.00004 6.0229L9.20078 12.0757L3 18.1285L5.63354 21.1514L12.0659 14.8725Z"
                                fill="#C30000" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24ZM12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                               class="svg-neutrals" />
                        </svg>
                    </svg:g>
                    <!-- <svg:g class="dependency-Mode" *ngIf="link.data.type == 'dependency' && link.label == 'ALL_FINAL'"
                    [attr.transform]="'translate(' + getXYForCenteredLinkCircle(link)[0] + ',' + getXYForCenteredLinkCircle(link)[1] + ')'">

                    </svg:g> -->


                    <!-- <svg:g class="deAssignEdge"

                [attr.transform]="'translate(' + (link.midPoint.x) + ',' + (link.midPoint.y) + ')'">
                <circle cx="5" cy="5" r="10" [attr.stroke]="link.isLinkActive ? '#f49600': '#262626'"
                    stroke-width="1" fill="white" />
            </svg:g> -->
                </svg:g>
            </ng-template>
        </ngx-graph>

    </div>

</div>
