
.hierachy-drawer-main-content {
  height: calc(100vh - 100px);
  width: 100%;
}

#hierachy-drawer-main-content-describer {


  .mat-drawer-content {
    overflow: hidden !important;
  }

  .chart-container {
    width: 100px;
  }
  .display-contents {
    display: contents;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th {
    text-align: left;
    vertical-align: top;
    max-height: 30px;
    padding: 10px 7px 8px 7px;
  }
  .bulk-cell {
    .mat-checkbox {
      padding-left: 10px;
      padding-right: 5px;
    }
  }
  .arrows {
    span {
      position: relative;
      width: 10px;
    }
  }
  td {
    padding: 0px 5px 0px 5px;
    min-height: 26px;
  }

  .tree-node-focused {
    // background-color: mat.get-color-from-palette($fe-theme-grey, 100);
    transition: 0.5s ease;
  }

  .tree-cell {
    white-space: pre;
  }

  .mat-icon {
    vertical-align: middle;
  }

  .name-hover:hover {
    cursor: pointer;
  }

  .indent {
    width: 12px;
    min-width: 12px !important;
    max-width: 12px;
    height: 30px !important;
    margin-top: -3px;
    margin-bottom: -3px;
    margin-left: 12px;
    display: inline-block;

    hr {
      border: 0;
      height: 1px;
      background: transparent;
      width: 10px;
      margin-top: 15px;
      margin-right: 5px;
    }
  }

  .table-is-empty {
    opacity: 0.5;
    width: 575px;
    margin-left: 8px;
  }
  .d-flex {
    display: flex;
    margin-bottom: 10px;
    .paginator-wrapper {
      display: flex;
      width: 625px;
      margin-left: auto;
      .go-to-container {
        display: flex;
        align-items: baseline;
        background: white;
        mat-form-field {
          width: 56px;
          margin: 6px 4px 0 4px;
          font-size: 12px;
        }
        .go-to-label {
          margin: 0 4px;
          font-size: 12px;
          color: rgba(0, 0, 0, 0.54);
          font-family: Roboto, "Helvetica Neue", sans-serif;
        }
      }
    }
  }
  .indent:last-of-type {
    width: 12px;
    min-width: 12px !important;
    max-width: 12px;
    height: 30px !important;
    margin-top: -3px;
    margin-bottom: -3px;
    margin-left: 12px;
    display: inline-block;

    hr {
      border: 0;
      height: 1px;
      width: 10px;
      margin-right: 5px;
    }
  }

  .folder_disabled {
    opacity: 0.5;
  }

  .graph {
    // border: 1px solid black;
    height: 100%;
  }
  .return-connection {
    stroke-dasharray: 8;
  }
  .dependency-return {
    stroke-width: 3px;
  }
  .edge-focused {
    .neutrals-line {
      stroke-dasharray: none;
    }

    .blue-line {
      stroke-width: 5px;
    }
  }

  .top-left-container {
    position: absolute;
    margin: 5px;
    button {
      margin-left: 5px;
    }
  }

  .top-right-container {
    position: absolute;
    top: 5px;
    right: 20px;
  }

  .action-handler {
    position: absolute;
    top: 40%;
    left: 80px;

    button {
      width: 210px;
      float: left;
      font-size: 12px !important;
      margin-bottom: 5px;

      .mat-button-wrapper {
        float: left;
      }
    }
    .create-dependency-contend {
      padding-top: 5px;
      margin-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 10px;
      .dependency-option-container {
        padding-top: 5px;
      }
    }
  }

  .focus-container {
    position: sticky;
    bottom: 0;
    z-index: 50;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    padding-bottom: 10px;

    font-size: 12px;
    .column-left {
      padding-left: 5px;
      float: left;
      // width: 30%;
    }
    .column-right {
      padding-left: 5px;
      float: left;
      // width: 70%;
    }
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    .focus-containerflex-box-2 {
      display: flex;
      justify-content: flex-end;
    }

    button {
      // float: right;
      font-size: 12px !important;
    }
  }

  .mid-left-container {
    position: absolute;
    top: 40%;
    left: 10px;

  }

  .card {
    font-size: 12px !important;
    padding: 10px;

    box-shadow: rgba(5, 0, 56, 0.08) 0px 2px 10px 0px;
  }

  .delete-dependency-circle {
    transition: fill 0.2s ease;
    opacity: 0.8;
    stroke: none;
    cursor: pointer;
  }
  .delete-dependency-circle:hover {
    transition: fill 0.2s ease;
    opacity: 0.9;
  }
  .delete-dependency-circle:active {
    transition: fill 0.2s ease;
    opacity: 1;
  }

  .expand-collapse {
    :hover {
      cursor: pointer;
    }
  }


  .node-rect {
    opacity: 0.6;
    stroke-width: 2px;
  }

  .node:hover {
    transition: fill 0.2s ease;
    cursor: pointer;
    .node-rect {
      opacity: 1;
    }
  }

  .node:active {
    transition: fill 0.2s ease;
    opacity: 1;
    cursor: pointer;
    .node-text {
      fill: rgb(255, 255, 255);
    }
    .node-rect {
      opacity: 1;
    }
  }

  .node-focused {
    transition: fill 0.2s ease;
    opacity: 1;

    filter: drop-shadow(0px 1px 7px rgba(2, 0, 22, 0.438));
    .node-rect {
      opacity: 1;
    }
  }

  .node-focused:hover {
    transition: fill 0.2s ease;
    opacity: 1;
    .node-rect {
      opacity: 1;
    }
  }

  .node-creator-focus {
    cursor: default !important;
    filter: drop-shadow(0px 2px 14px rgba(2, 0, 22, 0.438));
  }
  .dynamic-node {
    opacity: 0.5;
    stroke-width: 2.5 !important;
    stroke-dasharray: 8 !important;
    // stroke;
  }
  .cyclic-node {
    stroke-width: 2.5 !important;
  }

  .list-toolbar {
    overflow: hidden;
    padding-left: 2px;
    z-index: 20;

    display: flex;

    mat-icon {
      height: 30px;
      width: 30px;
    }
    input:focus {
      outline: none;
    }
    input {
      margin-left: 8px;
      margin-right: 10px;
      margin-top: 7px;
      padding: 0px;
      padding-left: 5px;
      border: none;
      height: 25px;
      width: 120px;

      font-size: 16px;
    }
  }

  .cycle-warn {
    line-height: 36px;
    .mat-icon {
      margin-top: 3px !important;
    }
  }
  .node-disabled {
    .node-rect {
      opacity: 1;
    }
    .node-image {
      opacity: 0.5 !important;
    }

    cursor: default !important;
  }
}
