
<table id="hierarchy-tree-selector">
    <thead>
        <th>{{ 'hierarchy_description'| translate}}</th>
        <th *ngIf="isVerticalTreeHierachy" [ngStyle]="{'min-width': minDependencyWidth + 'px'}"> {{'dependencies' | translate}}</th>
    </thead>
    <tbody>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="form-tree" class="display-contents">
            <!-- This is the tree node template for leaf nodes -->
            <mat-tree-node *matTreeNodeDef="let node; let index" matTreeNodePadding class="display-contents">
                <!-- use a disabled button to provide padding for tree leaf -->
                <tr class="{{node.data.tableindex % 2 == 0 ? 'even' : 'odd'}} hierarchy-tree-tr">
                    <!-- <div *ngFor="let i of node.levelArray" class="indent"></div> -->
                    <!-- [style.padding-left.px]="node.level * 20" -->
                    <td class="tree-cell {{isVerticalTreeHierachy ? 'isVerticalTreeHierachy' : ''}}
                        {{(focusedNode.data?.HIERARCHY_PATH == node.data?.HIERARCHY_PATH) ? 'tree-node-focused': ''}}
                        {{((focusedNode.data?.HIERARCHY_PATH == node.data?.HIERARCHY_PATH) && (createType  != htmlcreateType.NONE)) ? 'create-edge-node': ''}}
                        {{(node.data.isCyclicNode) ? 'cyclic-node': ''}}">
                        &nbsp;
                        <div *ngFor="let i of node.levelArray" class="indent" [appHierachyTooltip]="{
                          'edgeType': 'parentChild',
                          'childObject': node
                      }">
                            <hr>
                            <span class="hover-template"  [ngStyle]="{'transform': 'translate(-5px, -5px)'}">
                            </span>
                        </div>



                        <!-- <div class="node-indent"></div> -->
                        <!-- <div *ngFor="let i of node.levelArray" class="indent"></div> -->
                        <!-- <button class="small-icon-button" mat-icon-button disabled></button> -->

                        <!-- tree header replaced with html code below -->
                        <ng-template *ngTemplateOutlet="treeReactiveButtons; context: {node : node}">
                        </ng-template>


                    </td>
                    <td class="arrows arrows-td
                    {{(focusedNode.data?.HIERARCHY_PATH == node.data?.HIERARCHY_PATH) ? 'tree-node-focused': ''}}
                    {{((focusedNode.data?.HIERARCHY_PATH == node.data?.HIERARCHY_PATH) && (createType  != htmlcreateType.NONE)) ? 'create-edge-node': ''}}"
                        *ngIf="isVerticalTreeHierachy">
                        &nbsp;
                        <span *ngFor="let targetFrom of node.data.targetFromDirections; let i = index">
                            <!-- {{requiredNode}} -->

                            <!-- <span *ngIf="node.data.stackedDependentArray[i] == 'stacked'"> stacked</span> -->

                            <span *ngIf="node.data.stackedDependentArray[i] == 'stacked'" class="stacked"
                                [ngStyle]="{'left': (node.data.targetFromDirectionsIndex[i] * arrowWidth) - 13 + 'px', 'top': '-7px'}">
                                <mat-icon svgIcon="v_line"></mat-icon>
                            </span>
                            <!-- <span class="stacked"
                            [ngStyle]="{'left': (node.data.targetFromDirectionsIndex[i] * arrowWidth) - 13 + 'px', 'top': '-17px'}">
                            <
                            </span> -->
                            <span [ngStyle]="{'left': node.data.targetFromDirectionsIndex[i] * arrowWidth + 'px'}"
                                [id]=targetFrom class="{{targetFrom}}"></span>
                        </span>
                        <span *ngFor="let target of node.data.targetDirections; let i = index">
                            <!-- {{requiredNode}} -->
                            <!-- <span >X</span> -->
                            <!-- <ng-container *ngIf="actionHandler == htmlActionHandler.DELETE_DEPENDENCY"> -->
                            <!-- <span *ngIf="node.data.stackedRequiredArray[i] == 'stacked'"> stacked</span> -->
                            <span *ngIf="actionHandler == htmlActionHandler.DELETE_DEPENDENCY" class="delete-template"
                                matTooltip="{{'delete_dependency' | translate}}" matTooltipPosition="above"
                                [ngStyle]="{'left': (node.data.targetDirectionsIndex[i] * arrowWidth) - 7 + 'px', 'top': '-6px'}"
                                (click)="deleteVTreeItem(node.data.targetDependency[i], actionHandler)">
                                <mat-icon svgIcon="rip_background"></mat-icon>
                            </span>
                            <span *ngIf="!(actionHandler == htmlActionHandler.DELETE_DEPENDENCY)" class="hover-template"
                                [appHierachyTooltip]="node.data.targetDependency[i]"
                                [ngStyle]="{'left': (node.data.targetDirectionsIndex[i] * arrowWidth) - 7 + 'px', 'top': '-5px'}">
                                <!-- <mat-icon svgIcon="rip_background"></mat-icon> -->
                            </span>
                            <span *ngIf="node.data.stackedRequiredArray[i] == 'stacked'" class="stacked"
                                [ngStyle]="{'left': (node.data.targetDirectionsIndex[i] * arrowWidth) - 13 + 'px', 'top': '-7px'}">
                                <mat-icon svgIcon="v_line"></mat-icon>
                            </span>
                            <!-- <span class="stacked"
                            [ngStyle]="{'left': (node.data.targetDirectionsIndex[i] * arrowWidth) - 13 + 'px', 'top': '-17px'}">
                            >
                            </span> -->
                            <span [ngStyle]="{'left': node.data.targetDirectionsIndex[i] * arrowWidth + 'px'}"
                                [id]=target class="{{target}}"></span>
                        </span>
                    </td>
                </tr>
            </mat-tree-node>
            <!-- This is the tree node template for expandable nodes -->
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding class="display-contents">
                <tr class="{{node.data.tableindex % 2 == 0 ? 'even' : 'odd'}} hierarchy-tree-tr">
                    <td
                        class="tree-cell {{isVerticalTreeHierachy ? 'isVerticalTreeHierachy' : ''}}
                        {{(focusedNode.data?.HIERARCHY_PATH == node.data?.HIERARCHY_PATH) ? 'tree-node-focused': ''}}
                        {{(node.data.isCyclicNode) ? 'cyclic-node': ''}}
                        {{((focusedNode.data?.HIERARCHY_PATH == node.data?.HIERARCHY_PATH) && (createType  != htmlcreateType.NONE)) ? 'create-edge-node': ''}} ">
                        &nbsp;
                        <div *ngFor="let i of node.levelArray" class="indent" [appHierachyTooltip]="{
                          'edgeType': 'parentChild',
                          'childObject': node
                      }" >
                            <hr>
                            <span class="hover-template" [ngStyle]="{'transform': 'translate(-5px, -5px)'}">
                            </span>
                        </div>

                        <button class="small-icon-button" mat-icon-button matTreeNodeToggle
                            [attr.aria-label]="'Toggle ' + node.name" (click)="toggleExpand(node)">
                            <mat-icon class="mat-icon-rtl-mirror" svgIcon="{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}">

                            </mat-icon>
                        </button>
                        <!-- tree header replaced with html code below -->
                        <ng-template *ngTemplateOutlet="treeReactiveButtons; context: {node : node}">
                        </ng-template>
                        <!-- {{node.name}} -->

                    </td>
                    <td class="arrows arrows-td {{(focusedNode.data?.HIERARCHY_PATH == node.data?.HIERARCHY_PATH) ? 'tree-node-focused': ''}}
                    {{((focusedNode.data?.HIERARCHY_PATH == node.data?.HIERARCHY_PATH) && (createType  != htmlcreateType.NONE)) ? 'create-edge-node': ''}} "
                        *ngIf="isVerticalTreeHierachy">
                        &nbsp;
                        <span *ngFor="let targetFrom of node.data.targetFromDirections; let i = index">
                            <!-- {{requiredNode}} -->

                            <!-- <span *ngIf="node.data.stackedDependentArray[i] == 'stacked'"> stacked</span> -->

                            <span *ngIf="node.data.stackedDependentArray[i] == 'stacked'" class="stacked"
                                [ngStyle]="{'left': (node.data.targetFromDirectionsIndex[i] * arrowWidth) - 13 + 'px', 'top': '-7px'}">
                                <mat-icon svgIcon="v_line"></mat-icon>
                            </span>
                            <!-- <span  class="stacked"
                            [ngStyle]="{'left': (node.data.targetFromDirectionsIndex[i] * arrowWidth) - 13 + 'px', 'top': '-17px'}">
                             <
                            </span> -->
                            <span [ngStyle]="{'left': node.data.targetFromDirectionsIndex[i] * arrowWidth + 'px'}"
                                [id]=targetFrom class="{{targetFrom}}"></span>
                        </span>
                        <span *ngFor="let target of node.data.targetDirections; let i = index">
                            <!-- {{requiredNode}} -->
                            <!-- <span *ngIf="node.data.stackedRequiredArray[i] == 'stacked'"> stacked</span> -->
                            <span *ngIf="actionHandler == htmlActionHandler.DELETE_DEPENDENCY" class="delete-template"
                                matTooltip="{{'delete_dependency' | translate}}" matTooltipPosition="above"
                                [ngStyle]="{'left': (node.data.targetDirectionsIndex[i] * arrowWidth) - 7 + 'px', 'top': '-6px'}"
                                (click)="deleteVTreeItem(node.data.targetDependency[i], actionHandler)">
                                <mat-icon svgIcon="rip_background"></mat-icon>
                            </span>


                            <span *ngIf="!(actionHandler == htmlActionHandler.DELETE_DEPENDENCY)" class="hover-template"
                                [appHierachyTooltip]="node.data.targetDependency[i]"
                                [ngStyle]="{'left': (node.data.targetDirectionsIndex[i] * arrowWidth) - 7 + 'px', 'top': '-5px'}">
                                <!-- <mat-icon svgIcon="rip_background"></mat-icon> -->
                            </span>
                            <span *ngIf="node.data.stackedRequiredArray[i] == 'stacked'" class="stacked"
                                [ngStyle]="{'left': (node.data.targetDirectionsIndex[i] * arrowWidth) - 13 + 'px', 'top': '-7px'}">
                                <mat-icon svgIcon="v_line"></mat-icon>
                            </span>
                            <!-- <span class="stacked"
                            [ngStyle]="{'left': (node.data.targetDirectionsIndex[i] * arrowWidth) - 13 + 'px', 'top': '-17px'}">
                            >
                           </span> -->
                            <span [ngStyle]="{'left': node.data.targetDirectionsIndex[i] * arrowWidth + 'px'}"
                                [id]=target class="{{target}}"></span>
                        </span>
                    </td>
                </tr>
            </mat-tree-node>
        </mat-tree>

    </tbody>
</table>



<ng-template #treeReactiveButtons let-node="node">

    <div (click)="focusNodeFromTree(node)"
        class="node-icon-name-span">
        <mat-icon *ngIf="node.data.isCyclicNode" svgIcon="warn">
        </mat-icon>

        <span class="from-highlight" *ngIf="(node.data.focused == true) && (graphState.createEdgeType == htmlcreateType.CREATE_REQUIRED)">
          FROM:
        </span>
        <mat-icon
            svgIcon="{{node.data.IS_STATIC == 'false' ? 'dynamic_' + node.data.TYPE.toLowerCase() : node.data.TYPE.toLowerCase()}}">
        </mat-icon>
        <span class="name-hover"> {{node.data.NAME.split('.').pop()}}</span>


    </div>
    <span *ngIf="actionHandler == htmlActionHandler.REMOVE_CHILDREN && node.data.parent" class="remove-children-icon"
        matTooltip="{{'remove_child' | translate}}" matTooltipPosition="above"
        (click)="deleteVTreeItem(node, actionHandler)">
        <mat-icon svgIcon="rip"></mat-icon>
    </span>

</ng-template>
