
#hierarchy-tree-selector {
  .display-contents {
    display: contents;
    // padding-top: 20px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th {
    text-align: left;
    vertical-align: top;
    max-height: 30px;
    height: 27px;
    padding: 5px 7px 5px 7px;
  }
  .bulk-cell {
    .mat-checkbox {
      padding-left: 10px;
      padding-right: 5px;
    }
  }

  .arrows {
    span {
      position: relative;
      width: 10px;
    }
  }
  .arrows-td {
    width: 100%;
  }
  .delete-template {
    z-index: 500;
    position: absolute !important;

    transition: 0.3s ease;
    mat-icon {
      height: 20px;
      width: 20px;
    }
    :hover {
      cursor: pointer;
    }
  }
  .hover-template {
    z-index: 500;
    position: absolute !important;

    transition: 0.3s ease;
    height: 20px;
    width: 15px !important;
  }
  .node-icon-name-span {
    display: inline-block;
    // width: 100%;
  }

  .stacked {
    // background-color: mat.get-color-from-palette($fe-theme-primary, 200);;
    // border-right: 2px solid;
    position: absolute !important;

    z-index: 400;
    mat-icon {
      height: 20px;
      width: 20px;
    }
  }
  .remove-children-icon {
    transition: 0.3s ease;
    float: right;
    width: 22px;
    padding-right: 20px;
    padding-top: 4px;
    mat-icon {
      height: 20px;
      width: 20px;
    }
    :hover {
      cursor: pointer;
    }
  }

  td {
    padding: 0px 5px 0px 5px;
    height: 26px !important;
    line-height: 26px !important;
    min-height: 26px;
  }

  td.isVerticalTreeHierachy {
    width: 500px;
  }

  tr {
    height: 26px !important;
  }

  .hierarchy-tree-tr {
    height: 26px !important;
  }

  .tree-node-focused {
    // background-color: mat.get-color-from-palette($fe-theme-grey, 100);
    transition: 0.5s ease;
  }

  .cyclic-node {
    // color: mat.get-color-from-palette($fe-theme-warn, 600);
    transition: 0.5s ease;
  }

  .create-edge-node {
    // background-color: mat.get-color-from-palette($fe-theme-accent, 500);
    // color: mat.get-color-from-palette($fe-theme-primary, white);
    // background-color: mat.get-color-from-palette($fe-theme-g, 100);
    transition: 0.3s ease;
  }

  // .tree-node {
  //     border-left: 1 solid black;
  // }

  .tree-cell {
    white-space: pre;
    max-width: 500px;

    display: flex;
  }

  .mat-icon {
    vertical-align: middle;
  }

  .name-hover:hover {
    // color: mat.get-color-from-palette($fe-theme-primary, 500);
    cursor: pointer;
  }

  .indent {
    position: relative;
    width: 12px;
    min-width: 12px !important;
    max-width: 12px;
    height: 30px !important;
    margin-top: -3px;
    margin-bottom: -3px;
    margin-left: 12px;
    // border-left: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
    display: inline-block;

    hr {
      border: 0;
      height: 1px;
      background: transparent;
      width: 10px;
      margin-top: 15px;
      margin-right: 5px;
      display: inline-block;
    }
  }

  .table-is-empty {
    opacity: 0.5;
    width: 575px;
    margin-left: 8px;
  }
  .indent:last-of-type {
    // border: 0;
    // width: 12px;
    // min-width: 12px;
    // max-width: 12px;
    // border-right: 1px solid mat-color($fe-theme-grey, 50);
    width: 12px;
    min-width: 12px !important;
    max-width: 12px;
    height: 30px !important;
    margin-top: -3px;
    margin-bottom: -3px;
    margin-left: 12px;
    // border-left: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
    display: inline-block;

    hr {
      border: 0;
      height: 1px;
      // background: mat.get-color-from-palette($fe-theme-grey, 50);
      width: 10px;
      margin-right: 5px;
      display: inline-block;
    }
  }
  .node {
    // fill: mat.get-color-from-palette($fe-theme-grey, 500);
  }

  .from-highlight {
    // color: mat.get-color-from-palette($fe-theme-primary, 500);
  }
}
