
.toolbar-component-selector {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    // background-color: mat.get-color-from-palette($fe-theme-primary, white);

    // border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 200);

    overflow: hidden;

    .toolbar-left {
        display: flex;
        align-items: center;
        .toolbar-logo {
            img {
                padding-left: 12px;
                padding-right: 12px;
                padding-top: 4px;
                height: 40px;
            }
        }
        .edition-headline {
            padding-right: 16px;

            cursor: pointer;
            text-decoration: none;
            transition: 0.3s;

            font-size: 26px;
            // color: mat.get-color-from-palette($fe-theme-grey, 300);
            line-height: 50px;
        }
        .template-headline {
            white-space: nowrap;
            padding-right: 16px;

            cursor: pointer;
            text-decoration: none;
            transition: 0.3s;

            font-size: 20px;
            // color: mat.get-color-from-palette($fe-theme-grey, 300);
            line-height: 50px;
        }
        .edition-headline-schedulix {
          padding-right: 0px;

          cursor: pointer;
          text-decoration: none;
          transition: 0.3s;

          font-size: 26px;
          // color: mat.get-color-from-palette($fe-theme-grey, 300);
          line-height: 50px;
        }
        // .edition-headline:hover {
        //     color: mat-color($fe-theme-primary, 500);
        // }
    }
    .toolbar-right {
        display: flex;
        align-items: center;
        padding-right: 20px;

        .toolbar-translate {
            margin-top: 7px;
        }
        .toolbar-connection {
            margin-top: 7px;
            mat-icon{
                width: 25px;
            }
            .select-content-wrapper {
                float: right;
                height: 40px;
                padding: 0px;

            }
        }
        .toolbar-help {
            margin-top: 7px;

            .select-content-wrapper {
                float: right;
                width: 180px;
                height: 40px;
                padding: 0px;

            }
        }


    }
}

// .fe-theme-DARK {
//   .toolbar {
//     background-color: mat.get-color-from-palette($fe-dark-theme-primary, white);
//   }
// }
