<div class="toolbar-component-selector fe-themed-border-bottom-200" role="banner">
    <div class="toolbar-left">
        <span *ngIf="!isSchedulix()" class="toolbar-logo"><img alt="Logo" src="assets/Propeller.svg"></span>
        <span *ngIf="isSchedulix()" class="toolbar-logo"><img alt="Logo" src="assets/Propeller_schedulix.svg"></span>
        <span *ngIf="isSchedulix()" class="edition-headline">schedul<span class="font-primary-500 edition-headline-schedulix">ix</span> </span>
        <span *ngIf="!isSchedulix()" class="edition-headline">BICsuite </span>
        <span class="edition-headline"></span>
        <span *ngIf="!isSchedulix()" class="template-headline">{{system.maxEdition}}</span>
        <span class="edition-headline"></span>
        <!-- <span class="edition-headline" style="color: grey">alpha</span> -->
        <span class="template-headline" style="color: {{getTemplateColor()}}">{{getTemplate()}}</span>
    </div>
    <div class="toolbar-right">

        <span class="toolbar-connection toolbar-button">
            <div class="select-content-wrapper">
                <!-- {{user.username}} -->
                <mat-form-field>
                    <mat-label>{{'user' | translate}}</mat-label>
                    <span matPrefix style="margin-right: 8px;">
                        <mat-icon color="accent" svgIcon="settings_ethernet"></mat-icon>
                    </span>
                    <mat-select [(ngModel)]="user.username" panelClass="default-panel">
                        <mat-option value="{{user.username}}"><span> {{user.username}}</span>
                        </mat-option>

                        <mat-option value="logout" (click)="logout()"><span> {{'logout' | translate}}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </span>

        <span class="toolbar-help toolbar-button">
            <div class="select-content-wrapper">
                <mat-form-field>
                    <mat-label>{{'documentation' | translate}}</mat-label>
                    <span matPrefix style="margin-right: 8px;">
                        <mat-icon color="accent" svgIcon="help_center"></mat-icon>
                    </span>
                    <mat-select [(ngModel)]="documentation" panelClass="default-panel" floatlLabel="never">
                        <mat-select-trigger>{{'choose_documentation' |
                            translate}}</mat-select-trigger>
                        <mat-option value="default">{{'choose_documentation' |
                            translate}}</mat-option>
                        <mat-option value="default" (click)="openDocu('DE BICsuite!Web
                        Dokumentation')"><span>DE BICsuite!Web Dokumentation</span></mat-option>
                        <mat-option value="default" (click)="openDocu('EN BICsuite!Web
                        documentation')"><span>EN BICsuite!Web documentation</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </span>

        <span class="toolbar-translate toolbar-button">
            <div class="select-content-wrapper">
                <app-translate></app-translate>
            </div>
        </span>
    </div>

    <!-- <b>{{sessionManager.getValue('Edition')}}</b> -->
    <!-- <span class="toolbar-language"></span> -->

</div>
