

.efc-select-component-flex-select {
  display: flex;
  align-items: flex-start;
}

#efc-select-component-selector {
  select {
    // padding: 3px 4px;
    // height: 35px;
    // // border: 1px solid mat-color($fe-theme-grey, 100);
    // :hover {
    //     background-color: mat-color($fe-theme-grey, 50);
    // }
  }

  // .flex-select {

  // }

  mat-select {
    line-height: 22px;
    // min-width: 180px;
    // max-width: 250px;

    padding: 0px 4px;

    font-size: 14px;
  }

  // label {
  //   min-width: 170px;
  //   font-weight: bold;
  //   display: inline-block;
  // }

  mat-select {
    width: fit-content !important;
    // min-width: 100%;
    //   :hover {
    //     background-color: mat.get-color-from-palette($fe-theme-grey, 25);
    //     mix-blend-mode: multiply;
    // }
  }
}

::ng-deep .mat-form-field-infix {
  min-width: 75px !important;
  width: fit-content !important;
}

::ng-deep mat-select .mat-select-value {
  width: fit-content;
  min-width: 2ch;
  max-width: 25ch;
}
::ng-deep mat-select .mat-select-placeholder {
  width: fit-content;
  min-width: 10ch;
}
