<div class="efc-select-component-flex-select" id="efc-select-component-selector">
    <ng-container *ngIf="field.TRANSLATE !== undefined && (field.USE_LABEL ==='true' || field.USE_LABEL == true) ">
        <label class="fe-generated-label">{{field.TRANSLATE | translate}}:</label>
    </ng-container>
    <ng-container *ngIf="field.CUSTOM_LABEL !== undefined">
        <label class="fe-generated-label">{{field.CUSTOM_LABEL}}:</label>
    </ng-container>
    <mat-select (selectionChange)="onChange($event)" [(value)]="
    bicsuiteObject[field.NAME] ? bicsuiteObject[field.NAME] : field.DEFAULT" panelClass="default-panel"
        [disabled]="editorformOptions != undefined && editorformOptions.render.disabled">
        <mat-option [value]="value" *ngFor="let value of values; index as i">
            {{ field.LABELS != undefined && field.LABELS[i] != undefined ? field.LABELS[i] : value }}
        </mat-option>
    </mat-select>
</div>
