<!-- {{dialogData}} -->
<div class="error-container-wrapper">

  <div class="error-header">
    <mat-icon svgIcon="warn" color="warn"></mat-icon>{{'something_went_wrong' | translate}}
  </div>
  <div class="error-container-scroll-wrapper">
    <div class="error-container" *ngFor="let error of dialogData">
      <div *ngIf="error.getExceptionType() == 0">
        <div class="errorHeader"><a>Javascript Exception</a> at {{error.getTime()}}</div>
        <!-- error.data -->
        <div id="{{error.dialogId}}" class="errorMessage"> {{ error.getData().stacktrace }}</div>
      </div>


      <div *ngIf="error.getExceptionType() == 1">
        <div class="errorHeader sdms-exception"><a>Sdms Exception</a></div>
        <div> {{error.getTime()}}</div>
        <!-- error.data -->
        <!-- <div class="errorMessage">in command {{ error.getData().command }}:</div> -->
        <div id="{{error.dialogId}}" class="errorSubHeader"> {{ error.getData().error }}</div>
        <div [hidden]="!error.showMore" class="errorMessage"> {{ error.getData().code }}</div>
        <div [hidden]="!error.showMore" *ngIf="error.getData().command" class="errorMessage"> command:  {{ error.getData().command }}</div>
        <button mat-button (click)="toggleShowMore(error)">
           {{error.showMore ? ('hide_show_more' | translate):
           ('show_more' | translate) }}
           <mat-icon svgIcon="{{error.showMore ? 'keyboard_arrow_up' :
           'keyboard_arrow_down' }}"></mat-icon>
          </button>
      </div>


      <div *ngIf="error.getExceptionType() == 2">
        <div class="errorHeader"><a>Connection Error</a></div>
        <div>{{error.getTime()}}</div>
        <!-- error.data -->
        <!-- <div class="errorMessage">Type: {{ error.getExceptionExcuse()}}</div> -->
        <!-- <div class="errorMessage">in command {{ error.getData().command }}:</div> -->
        <div id="{{error.dialogId}}" class="errorMessage"> {{ error.getData().command }}</div>
      </div>

      <!-- error.type -->

      <!-- error.Message -->
      <!-- <div>Message:</div> -->
    </div>
  </div>
  <div id="htmlWarningContainer" class="http-error">
    We are very sorry, the App crashed, please reload the window or create a new browser-tab
  </div>
  <div class="buttons">
    <button mat-stroked-button color="primary" (click)="close()"><mat-icon svgIcon="close" cdkFocusInitial></mat-icon> {{'discard' | translate}}</button>
    <button mat-stroked-button color="primary" (click)="copyToClipboard()"> <mat-icon svgIcon="save_mat"></mat-icon>  {{'copy_to_clipboard' |
        translate}}</button>
  </div>
</div>
