
.buttons {
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
}

.error-container-wrapper {
  padding: 10px;
}
.error-container-scroll-wrapper {
  overflow: auto;
  max-height: 80vh;
  max-width: 80vw;
}
.error-header {
  display: flex;
  align-items: center;
  padding: 5px 0px 20px 0px;
  font-size: 20px;
  mat-icon {
    margin-right: 5px;
  }
}

.error-container {
  padding: 5px 0px 5px 0px;

  .errorHeader {
    a {
      // color: mat.get-color-from-palette($fe-theme-warn, 600);
    }
    .errorHeader_sdms {
      a {
        // color: mat.get-color-from-palette($fe-theme-primary, 400);
      }
    }

  }

  .errorSubHeader {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .sdms-exception {
    a {
      // color: mat.get-color-from-palette($fe-theme-primary, 600);
    }
  }

  .errorMessage {
    padding-top: 7px;
    font-size: 12px;
    white-space: pre-wrap;
    font-family: "Courier New", monospace;
  }
}
