
.list-body {
    
    $transition-speed: 0.1s;

    background-color: transparent;
    overflow: hidden;

    .list-toolbar {
        overflow: hidden;
        z-index: 20;

        display: block;

        mat-icon {
            height: 30px;
            width: 30px;
        }

        input:focus {
            outline: none;
        }
        input {
            margin: 4px 0px 4px 4px;
            padding: 0px 0px 0px 4px;
            border-top: none;
            border-left: none;
            border-right: none;
            
            height: 25px;
            // width: 120px;
            width: calc(100% - 50px);

            font-size: 16px; 
            
            // border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 100);
        }

        a{
            line-height: 33px;
        }
        // border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);


        .navigation-list-input{
          background-color: unset;
        }
    }

    .list-content {
        border-radius: 4px;
        // height: 70vh;
        height: calc(100vh - 325px); // Subtract margins of class navigationTreeWrapper (styles.scss) and paddings
        white-space: nowrap;        // padding-top: 8px;
        overflow: auto;
        mat-list {
            padding: 0px;

            mat-list-item {
                font-size: 13px !important;
                // color: mat.get-color-from-palette($fe-theme-grey, 500);
                background-color: transparent;;
                height: 28px !important;
                cursor: pointer;
            }

            mat-list-item:hover {
                transition: $transition-speed;
            }
            .selectedInTabView {
                font-size: 13px !important;
                height: 28px !important;
                cursor: pointer;
            }
            mat-icon {
                height: 24px;
                width: 24px;
                padding-right: 4px;
            }
        }

        mat-spinner {
            width: 30px;
            margin: auto;
            margin-top: 50px;
        }
    }
    .navigation-list {
        // height: calc(100vh - 117px);
        height: calc(100vh - 184px);
    }


}

.search-container {
    // display: block; 
    border-radius: 4px;
    margin: 0px 0px 4px 0px;
}
  
.button-container {
   .mat-icon-button {
        line-height: 0px;
        height: 35px;
        width: 35px;
        border-radius: 4px !important;
        margin: 0px 4px 0px 0px;
    }
}

.no-right-margin {
    margin-right:0px !important;
  }
  
.navigation-list-button-spacer {
    min-width: calc(100% - 114px);
    max-width: calc(100% - 114px);
    min-height:1px;
    display:inline-block;
}