<div class="list-body">
<div class="navigationListWrapper  background-theme-secondary">
    <div class="list-toolbar fe-themed-border-bottom  background-theme-secondary" [ngClass]="{'navigation-toolbar' : isNavigationList}">
        <div class="button-container">
            <button *ngIf="isNavigationList" [disabled]="" mat-icon-button (click)="reloadList()"
                matTooltip="{{'reload' | translate}}, last reload: {{lastReload}}" matTooltipPosition="above">
                <mat-icon svgIcon="refresh"></mat-icon>
            </button>
            <button *ngIf="isNavigationList && canCreate" mat-icon-button (click)="createItem()"
                matTooltip="{{'new' | translate}}" matTooltipPosition="above">
                <mat-icon svgIcon="new"></mat-icon>
            </button>
            <div class="navigation-list-button-spacer"></div>
            <button *ngIf="isNavigationList" mat-icon-button (click)="close()" matTooltip="{{'close' | translate}}" class="no-right-margin"
                matTooltipPosition="above">
                <mat-icon svgIcon="drop"></mat-icon>
            </button>
        </div>
        <div class="search-container  background-theme-secondary">
            <input class="navigation-list-input fe-themed-border-bottom fe-themed-border-bottom-200 font-grey-950 background-theme-secondary" type="text" [formControl]="searchControl" placeholder="{{'search' | translate}}" autocomplete="off">
        </div>
    </div>

    <div class="list-content" id="navigationList-content" [ngClass]="{'navigation-list' : isNavigationList}" (scroll)="onScroll($event)">
        <mat-progress-bar mode="indeterminate" *ngIf="filteredOptions == null">

        </mat-progress-bar>
        <mat-list *ngFor="let item of filteredOptions | async">
            <!-- [className]="isOpenedItemInTabView(item.ID) ? 'selectedInTabView' : 'notSelectedInTabView'"  -->
            <mat-list-item (click)="onItemClick(item)" [ngClass]="{'selectedInTabView': isOpenedItemInTabView(item.ID)}" (contextmenu)="displayContextMenu($event, {bicsuiteObject: item}); false"
                [ngClass]="item.CSS_CLASS" matRipple>
                <mat-icon *ngIf="item.NONE_VALUE == undefined && !item.ICON_DISABLED" svgIcon="{{shortType}}">
                </mat-icon>
                <a  class="{{ item.textColor }}">{{item[propertyToShow]}}</a>

            </mat-list-item>
        </mat-list>
        <div *ngIf="(filteredOptions | async)?.length == 0">
            {{'no_entries_in_list' |  translate}}
        </div>
    </div>
</div>
</div>


<app-context-menu *ngIf="rightClickMenuItems && isDisplayContextMenu && isNavigationList" [ngStyle]="getRightClickMenuStyle()"
    [contextData]="rightClickMenuItems">
 </app-context-menu>
