
.second-level-navigation {
    height: 100%;
}
$transition-speed: 0.1s;

.main-sidenav {

//   background-color: black !important;
    .first-level-navigation {
        // background-color: black !important;
        display: flex;
        align-items: center;
        justify-content: center;
        // width: 270px;

        padding-top: 10px;

        // border: none;

        .active:hover {
            // color: #ffffff;

            transition: 0.3s;
        }
        .active {
            // background-color:mat.get-color-from-palette($fe-theme-primary, 100);
            // color: white;
        }

        .navItem {

            // border-left: mat.get-color-from-palette($fe-theme-primary, 100) solid 4px;
            a {
                user-select: none; // kann nicht kopiert werden
                text-decoration: none;
                padding: 4px 8px 4px 24px;
                font-size: 16px;
                line-height: 24px;
                display: flex;



                mat-icon {
                    height: 24px;
                    width: 24px;
                    // padding-right: 4px;
                }
            }
            a:hover {
                transition: $transition-speed;
                // // color: mat.get-color-from-palette($fe-theme-primary, 700);
                // background-color: mat.get-color-from-palette($fe-theme-primary, 50);
            }

            a:link {
              color: unset;
            }
            a:visited {
              color: unset;
            }
            mat-expansion-panel-header {
                padding: 0;
                margin: 0;
                a {
                    font-size: 18px;
                    padding: 8px 0px 8px 6px;
                    font-weight: 600;
                }

                mat-panel-title{
                    margin: 0px;
                }
                :hover {
                    transition: $transition-speed;
                    // background-color: mat.get-color-from-palette($fe-theme-primary, 50);
                    a {
                        // color: mat.get-color-from-palette($fe-theme-primary, 500);
                    }


                }
            }

        }
        .navItem:hover {
            transition: $transition-speed;
            // border-left: mat.get-color-from-palette($fe-theme-primary, 300) solid 4px;
        }

        // .collapse-button-top {
        //     margin-left: 20px;
        // }
    }

    .collapsed {

        .navItem {
            a {
                padding: 4px 8px 4px 24px;
            }
        }

    }
}
