<mat-sidenav-container autosize id="left-navigation-component" class="main-sidenav background-theme-primary">    
    <mat-sidenav class="first-level-navigation background-theme-primary" #sidenav mode="side" opened fixedInViewport fixedTopGap="60"
        disableClose="true" fixedBottomGap="0" [class]="collapsed ? 'collapsed' : 'expanded'" >

        <!-- <button class="collapse-button-top" *ngIf="collapsed" mat-icon-button color="secondary" (click)="toggleView()">
            < !-- <mat-icon *ngIf="!collapsed" collapsed_menu></mat-icon> -- >
            <mat-icon *ngIf="collapsed" svgIcon="expand_menu"></mat-icon>
        </button> -->

        <mat-expansion-panel class="navItem firstItem background-theme-secondary" hideToggle
            [expanded]="firstLevelNavigationExpanded().includes('Monitoring')"
            (closed)="firstLevelNavigationCollapse('Monitoring')" (opened)="firstLevelNavigationExpand('Monitoring')">
            <mat-expansion-panel-header collapsedHeight="36px" expandedHeight="36px" #panelH (click)="panelH._toggle()"
             class="background-theme-secondary">
                <mat-panel-title (click)="panelH._toggle()">
                    <a *ngIf="!collapsed" class="svg-neutrals">
                        <!-- <mat-icon svgIcon="{{firstLevelNavigationExpanded().includes('Monitoring') ? 'keyboard_arrow_up' :
                        'keyboard_arrow_down' }}"></mat-icon> -->
                        <mat-icon matTooltip="Operate" matTooltipPosition="right" svgIcon="operate"></mat-icon>&nbsp;Operate
                    </a>
                    <a *ngIf="collapsed">
                        <!-- <mat-icon svgIcon="{{firstLevelNavigationExpanded().includes('Monitoring') ? 'keyboard_arrow_up' :
                            'keyboard_arrow_down' }}"></mat-icon> -->
                        <mat-icon matTooltip="Operate" matTooltipPosition="right" svgIcon="operate"></mat-icon>
                    </a>
                </mat-panel-title>
                <button class="collapse-button-top" *ngIf="collapsed" mat-icon-button color="secondary" (click)="toggleView()">
                    <!-- <mat-icon *ngIf="!collapsed" collapsed_menu></mat-icon> -->
                    <mat-icon *ngIf="collapsed" svgIcon="expand_menu"></mat-icon>
                </button>
                <button *ngIf="!collapsed" mat-icon-button color="secondary" (click)="toggleView()">
                    <mat-icon *ngIf="!collapsed" svgIcon="collapse_menu"></mat-icon>
                    <!-- <mat-icon *ngIf="collapsed">menu</mat-icon> -->
                </button>
            </mat-expansion-panel-header>
            <a routerLink="/home" (click)="addTab('Monitor Master')" matRipple>
                <mat-icon matTooltip="Monitor Master" matTooltipPosition="right" svgIcon="runmajobs"></mat-icon>
                <span *ngIf="!collapsed">&nbsp;Monitor Master</span>
            </a>
            <a routerLink="/home" (click)="addTab('Monitor Jobs')" matRipple>
                <mat-icon matTooltip="Monitor Jobs" matTooltipPosition="right" svgIcon="monitorjobs"></mat-icon>
                <span *ngIf="!collapsed">&nbsp;Monitor Jobs</span>
            </a>
            <a routerLink="/home/SubmitBatchesAndJobs" matRipple>
                <mat-icon matTooltip="Submit Batches and Jobs" matTooltipPosition="right" svgIcon="submitbaj">
                </mat-icon><span *ngIf="!collapsed">&nbsp;Submit Batches and Jobs</span>
            </a>
            <a routerLink="/home" (click)="addTab('Calendar')" matRipple>
                <mat-icon matTooltip="Scheduling
                    Calendar" matTooltipPosition="right" svgIcon="calendar"></mat-icon><span
                    *ngIf="!collapsed">&nbsp;Scheduling
                    Calendar</span>
            </a>
            <a routerLink="/home/Intervals" routerLinkActive="active" matRipple>
                <mat-icon matTooltip="Intervals" matTooltipPosition="right" svgIcon="interval"></mat-icon><span
                    *ngIf="!collapsed">&nbsp;Intervals</span>
            </a>
            <a *ngIf="editonRequirement(['PROFESSIONAL', 'ENTERPRISE'])" routerLink="/home/ObjectMonitoring" routerLinkActive="active" matRipple>
                <mat-icon matTooltip="Object Monitoring" matTooltipPosition="right" svgIcon="objectmonitoring">
                </mat-icon><span *ngIf="!collapsed">&nbsp;Object Monitoring</span>
            </a>
            <a *ngIf="editonRequirement(['PROFESSIONAL', 'ENTERPRISE'])" routerLink="/home" (click)="addTab('Approvals')" matRipple>
                <mat-icon matTooltip="Approvals" matTooltipPosition="right" svgIcon="approval_list">
                </mat-icon><span *ngIf="!collapsed">&nbsp;Approvals</span>
            </a>
        </mat-expansion-panel>

        <!-- <mat-expansion-panel class="navItem" hideToggle
            [expanded]="firstLevelNavigationExpanded().includes('Resources')"
            (closed)="firstLevelNavigationCollapse('Resources')" (opened)="firstLevelNavigationExpand('Resources')">

            <mat-expansion-panel-header collapsedHeight="36px" expandedHeight="36px">
                <mat-panel-title>
                    <a *ngIf="!collapsed">Object Hub</a>
                    <a *ngIf="collapsed">OH</a>
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel> -->

        <mat-expansion-panel class="navItem background-theme-secondary" hideToggle
            [expanded]="firstLevelNavigationExpanded().includes('StateDefinitions')"
            (closed)="firstLevelNavigationCollapse('StateDefinitions')"
            (opened)="firstLevelNavigationExpand('StateDefinitions')">
            <mat-expansion-panel-header collapsedHeight="36px" expandedHeight="36px" class="background-theme-secondary">
                <mat-panel-title>
                    <a *ngIf="!collapsed">
                        <!-- <mat-icon svgIcon="{{firstLevelNavigationExpanded().includes('StateDefinitions') ?
                            'keyboard_arrow_up' :
                            'keyboard_arrow_down' }}"></mat-icon> -->
                        <mat-icon matTooltip="Designer" matTooltipPosition="right" svgIcon="designer"></mat-icon>&nbsp;Designer
                    </a>
                    <a *ngIf="collapsed">
                        <!-- <mat-icon svgIcon="{{firstLevelNavigationExpanded().includes('StateDefinitions') ? 'keyboard_arrow_up' :
                            'keyboard_arrow_down' }}"></mat-icon> -->
                        <mat-icon matTooltip="Designer" matTooltipPosition="right" svgIcon="designer"></mat-icon>
                    </a>

                </mat-panel-title>
            </mat-expansion-panel-header>
            <a routerLink="/home/BatchesAndJobs" routerLinkActive="active" matRipple>
                <mat-icon matTooltip="Batches and Jobs" matTooltipPosition="right" svgIcon="folder_large"></mat-icon>
                <span *ngIf="!collapsed">&nbsp;Batches and Jobs</span>
            </a>
            <a routerLink="/home/ExitStateDefinitions" routerLinkActive="active" matRipple>
                <mat-icon matTooltip="Exit State Definitions" matTooltipPosition="right" svgIcon="esd"></mat-icon><span
                    *ngIf="!collapsed">&nbsp;Exit State Definitions</span>
            </a>
            <a routerLink="/home/ExitStateMappings" routerLinkActive="active" matRipple>
                <mat-icon matTooltip="Exit State Mappings" matTooltipPosition="right" svgIcon="esm"></mat-icon><span
                    *ngIf="!collapsed">&nbsp;Exit State Mappings</span>
            </a>
            <a routerLink="/home/ExitStateTranslations" routerLinkActive="active" matRipple>
                <mat-icon matTooltip="Exit State Translations" matTooltipPosition="right" svgIcon="est"></mat-icon><span
                    *ngIf="!collapsed">&nbsp;Exit State Translations</span>
            </a>
            <a routerLink="/home/ExitStateProfiles" routerLinkActive="active" matRipple>
                <mat-icon matTooltip="Exit State Profiles" matTooltipPosition="right" svgIcon="esp"></mat-icon>
                <span *ngIf="!collapsed">&nbsp;Exit State Profiles</span>
            </a>
            <a routerLink="/home/NamedResources" routerLinkActive="active" matRipple>
                <mat-icon matTooltip="Named Resources" matTooltipPosition="right" svgIcon="nr"></mat-icon><span
                    *ngIf="!collapsed">&nbsp;Named Resources</span>
            </a>
            <a routerLink="/home/ResourceStateDefinitions" routerLinkActive="active" matRipple>
                <mat-icon matTooltip="Resource State Definitions" matTooltipPosition="right" svgIcon="rsd"></mat-icon>
                <span *ngIf="!collapsed">&nbsp;Resource State Definitions</span>
            </a>
            <a routerLink="/home/ResourceStateMappings" routerLinkActive="active" matRipple>
                <mat-icon matTooltip="Resource State Mappings" matTooltipPosition="right" svgIcon="rsm"></mat-icon><span
                    *ngIf="!collapsed">&nbsp;Resource State Mappings</span>
            </a>
            <a routerLink="/home/ResourceStateProfiles" routerLinkActive="active" matRipple>
                <mat-icon matTooltip="Resource State Profiles" matTooltipPosition="right" svgIcon="rsp"></mat-icon><span
                    *ngIf="!collapsed">&nbsp;Resource State Profiles</span>
            </a>
            <a routerLink="/home/Environments" routerLinkActive="active" matRipple>
                <mat-icon matTooltip="Environments" matTooltipPosition="right" svgIcon="env"></mat-icon><span
                    *ngIf="!collapsed">&nbsp;Environments</span>
            </a>
            <a routerLink="/home/Footprints" routerLinkActive="active" matRipple>
                <mat-icon matTooltip="Footprints" matTooltipPosition="right" svgIcon="footprint"></mat-icon><span
                    *ngIf="!collapsed">&nbsp;Footprints</span>
            </a>
            <a *ngIf="editonRequirement(['PROFESSIONAL', 'ENTERPRISE'])" routerLink="/home/WatchTypes" routerLinkActive="active" matRipple>
                <mat-icon matTooltip="Watch Types" matTooltipPosition="right" svgIcon="watchtype">
                </mat-icon><span *ngIf="!collapsed">&nbsp;Watch Types</span>
            </a>
        </mat-expansion-panel>

        <!-- <mat-expansion-panel class="navItem" hideToggle
            [expanded]="firstLevelNavigationExpanded().includes('TimeScheduling')"
            (closed)="firstLevelNavigationCollapse('TimeScheduling')"
            (opened)="firstLevelNavigationExpand('TimeScheduling')">

            <mat-expansion-panel-header collapsedHeight="36px" expandedHeight="36px">
                <mat-panel-title>
                    <a *ngIf="!collapsed">Time Scheduling</a>
                    <a *ngIf="collapsed">TS</a>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a routerLink="/home/Intervals" routerLinkActive="active">
                <mat-icon matTooltip="Intervals" matTooltipPosition="right" svgIcon="interval"></mat-icon><span *ngIf="!collapsed">Intervals</span>
            </a>
            <a routerLink="home" routerLinkActive="active">
                <mat-icon matTooltip="Intervals" matTooltipPosition="right" svgIcon="calendar"></mat-icon><span *ngIf="!collapsed">Scheduling
                Calendar</span>
            </a>
        </mat-expansion-panel> -->

        <mat-expansion-panel class="navItem background-theme-secondary" hideToggle [expanded]="firstLevelNavigationExpanded().includes('Admin')"
            (closed)="firstLevelNavigationCollapse('Admin')" (opened)="firstLevelNavigationExpand('Admin')">

            <mat-expansion-panel-header collapsedHeight="36px" expandedHeight="36px" class="background-theme-secondary">
                <mat-panel-title>
                    <a *ngIf="!collapsed">
                        <!-- <mat-icon svgIcon="{{firstLevelNavigationExpanded().includes('Admin') ? 'keyboard_arrow_up' :
                            'keyboard_arrow_down' }}"></mat-icon> -->
                        <mat-icon matTooltip="Admin" matTooltipPosition="right" svgIcon="admin"></mat-icon>&nbsp;Admin
                    </a>
                    <a *ngIf="collapsed">
                        <!-- <mat-icon svgIcon="{{firstLevelNavigationExpanded().includes('Admin') ? 'keyboard_arrow_up' :
                            'keyboard_arrow_down' }}"></mat-icon> -->
                        <mat-icon matTooltip="Admin" matTooltipPosition="right" svgIcon="admin"></mat-icon>
                    </a>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a routerLink="/home/JobserverAndResources" routerLinkActive="active" matRipple>
                <mat-icon matTooltip="Jobserver and Resources" matTooltipPosition="right" svgIcon="scope"></mat-icon>
                <span *ngIf="!collapsed">&nbsp;Jobserver and Resources</span>
            </a>
            <a routerLink="/home" (click)="addTab('System Information')" matRipple>
                <mat-icon matTooltip="Systen Information" matTooltipPosition="right" svgIcon="sysinfo"></mat-icon><span
                    *ngIf="!collapsed">&nbsp;System Information</span>
            </a>
            <a routerLink="/home/User" routerLinkActive="active" matRipple>
                <mat-icon matTooltip="Server User" matTooltipPosition="right" svgIcon="serveruser"></mat-icon><span
                    *ngIf="!collapsed">&nbsp;User</span>
            </a>
            <a routerLink="/home/Groups" routerLinkActive="active" matRipple>
                <mat-icon matTooltip="Groups" matTooltipPosition="right" svgIcon="group"></mat-icon><span
                    *ngIf="!collapsed">&nbsp;Groups</span>
            </a>
            <a routerLink="/home" (click)="openImpExpDialog()" matRipple>
                <mat-icon matTooltip="Import/Export" matTooltipPosition="right" svgIcon="impexp"></mat-icon><span
                    *ngIf="!collapsed">&nbsp;Import/Export</span>
            </a>
            <a *ngIf="editonRequirement(['PROFESSIONAL', 'ENTERPRISE'])" routerLink="/home/NiceProfiles" routerLinkActive="active" matRipple>
                <mat-icon matTooltip="Nice Profiles" matTooltipPosition="right" svgIcon="niceprofile"></mat-icon><span
                    *ngIf="!collapsed">&nbsp;Nice Profiles</span>
            </a>
        </mat-expansion-panel>

        <mat-expansion-panel class="navItem background-theme-secondarylastItem" hideToggle [expanded]="firstLevelNavigationExpanded().includes('System')"
            (closed)="firstLevelNavigationCollapse('System')" (opened)="firstLevelNavigationExpand('System')">

            <mat-expansion-panel-header collapsedHeight="36px" expandedHeight="36px" class="background-theme-secondary">
                <mat-panel-title>
                    <a *ngIf="!collapsed">
                        <!-- <mat-icon svgIcon="{{firstLevelNavigationExpanded().includes('System') ? 'keyboard_arrow_up' :
                            'keyboard_arrow_down' }}"></mat-icon> -->
                        <mat-icon matTooltip="Utilities" matTooltipPosition="right" svgIcon="utilities"></mat-icon>&nbsp;Utilities
                    </a>
                    <a *ngIf="collapsed">
                        <!-- <mat-icon svgIcon="{{firstLevelNavigationExpanded().includes('System') ? 'keyboard_arrow_up' :
                            'keyboard_arrow_down' }}"></mat-icon> -->
                        <mat-icon matTooltip="Utilities" matTooltipPosition="right" svgIcon="utilities"></mat-icon>
                    </a>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <a routerLink="/home" (click)="addTab('Shell')" matRipple>
                <mat-icon matTooltip="Shell" matTooltipPosition="right" svgIcon="shell"></mat-icon><span
                    *ngIf="!collapsed">&nbsp;Shell</span>
            </a>
            <a routerLink="/home" (click)="addTab('Bookmarking')" matRipple>
                <mat-icon matTooltip="Bookmarks" matTooltipPosition="right" svgIcon="bookmark"></mat-icon><span
                    *ngIf="!collapsed">&nbsp;Bookmarks</span>
            </a>
        </mat-expansion-panel>

    </mat-sidenav>
    <mat-sidenav-content class="second-level-navigation background-theme-primary">
        <!-- <div *ngIf=""> -->
        <router-outlet></router-outlet>
        <!-- </div> -->

    </mat-sidenav-content>

</mat-sidenav-container>
