<div class="tree-toolbar">
    <div class="list-toolbar fe-themed-border-bottom">

        {{'choose_types' | translate}}: {{dialogData.chooseType}}
        <!-- <input type="text" [formControl]="searchControl" placeholder="{{'search' | translate}}" autocomplete="off">
        <button [ngStyle]="{'opacity': searchControl.value.length < 3 ? '0.5': '1.0'}"
            [disabled]="searchControl.value.length < 3" mat-icon-button (click)="filterTree(searchControl.value)"
            matTooltip="{{'search' | translate}}" matTooltipPosition="above">
            <mat-icon svgIcon="find"></mat-icon>
        </button> -->
    </div>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="isLoading">

</mat-progress-bar>
<div class="dialog-tree-content" id="dialog-tree-content" >

    <mat-progress-bar mode="determinate" [value]="expandProgress" *ngIf="loadCycle.length > 0">

    </mat-progress-bar>

    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node; when isPropertyNoChildren" matTreeNodeToggle
            [class.is-invisible]="node.isInvisible || (node.isNotSubmitable && submitOnly)">
            <li class="mat-tree-node" >
                <div *ngIf="node.isClickable" class="tree-node-body" (click)="openTab(node)" matRipple>
                    <hr>
                    <div class="dialog-tree-leaf-spacer"></div>
                    <mat-icon *ngIf="node.iconType != 'fe_none'" svgIcon="{{node.iconType}}"></mat-icon>
                    <div innerHTML="{{ node.name | highlight : searchControl.value}}"></div>
                </div>
                <div *ngIf="!node.isClickable" class="tree-node-body">
                    <hr>
                    <div class="dialog-tree-leaf-spacer"></div>
                    <mat-icon *ngIf="node.iconType != 'fe_none'" svgIcon="{{node.iconType}}"></mat-icon>
                    <div innerHTML="{{ node.name | translate}}"></div>
                </div>
            </li>
        </mat-tree-node>

        <mat-nested-tree-node *matTreeNodeDef="let node; when: isPropertyWithChildren"
            [class.is-invisible]="node.isInvisible || (node.isNotSubmitable && submitOnly)">
            <!-- {{context}} -->
            <li [class]="node.parentNode ? '':'rootLi'">
                <!-- has children -->
                <div class="mat-tree-node">
                    <hr *ngIf="node.parentNode">
                    <div *ngIf="!node.parentNode" class="dialog-tree-root-spacer"></div>
                    <button mat-icon-button [attr.aria-label]="'Toggle ' + node.name"  (click)="toggleNode(node)">
                        <mat-icon class="mat-icon-rtl-mirror" [class.is-pinParent]="node.isPinnedParent" svgIcon="{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}">

                        </mat-icon>
                    </button>
                    <div class="tree-node-body" matRipple>
                        <mat-icon *ngIf="node.iconType != 'fe_none'" svgIcon="{{node.iconType}}" (click)="openTab(node)"></mat-icon>
                        <div innerHTML="{{ node.name | highlight : searchControl.value}}" (click)="openTab(node)"></div>
                    </div>
                </div>
                <ul *ngIf="treeControl.isExpanded(node) || node.isPinnedParent">
                    <ng-container matTreeNodeOutlet></ng-container>
                </ul>
            </li>
        </mat-nested-tree-node>

        <mat-tree-node *matTreeNodeDef="let node; when: isNoPropertyNoPropertyParentNoChildren"
            [class.is-invisible]="node.isInvisible || (node.isNotSubmitable && submitOnly)">

            <li class="mat-tree-node">
                <div class="tree-node-body tree-node-body-nohover">
                    <hr>
                    <div class="dialog-tree-leaf-spacer"></div>
                    <mat-icon *ngIf="node.iconType != 'fe_none'" svgIcon="{{node.iconType}}"></mat-icon>
                    <div innerHTML="{{ node.name | highlight : searchControl.value}}">
                    </div>
                </div>
            </li>
        </mat-tree-node>

        <!-- This is the tree node template for expandable nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChildrenIsPropertyParent"
            [class.is-invisible]="node.isInvisible || (node.isNotSubmitable && submitOnly)">
            <!-- {{context}} -->
            <li [class]="node.parentNode ? '':'rootLi'">
                <!-- has children -->

                <div class="mat-tree-node">
                    <div class="tree-node-body" (click)="toggleNode(node)" matRipple>
                        <hr *ngIf="node.parentNode">
                        <div *ngIf="!node.parentNode" class="dialog-tree-root-spacer"></div>
                            <button mat-icon-button [attr.aria-label]="'Toggle ' + node.name">
                            <mat-icon class="mat-icon-rtl-mirror" [class.is-pinParent]="node.isPinnedParent" svgIcon="{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}">

                            </mat-icon>
                        </button>
                        <div class="tree-node-body" matRipple>
                            <mat-icon *ngIf="node.iconType != 'fe_none'" svgIcon="{{node.iconType}}"></mat-icon>
                            <div innerHTML="{{ node.name | highlight : searchControl.value}}"></div>
                        </div>
                    </div>

                </div>
                <ul *ngIf="treeControl.isExpanded(node) || node.isPinnedParent">
                    <ng-container matTreeNodeOutlet></ng-container>
                </ul>
            </li>
        </mat-nested-tree-node>
    </mat-tree>

</div>
