
.dialog-tree-content {
  // padding-right: 10px;
  padding-top: 8px;
  // margin-top: 8px;
  overflow: auto;
  // background-color: mat.get-color-from-palette($fe-theme-primary, white);
  height: calc(80vh - 117px);
  // max-width: 300px;
  white-space: nowrap;
  min-width: 150px;

  .example-tree-invisible {
    display: none;
  }
  .example-tree ul {
    padding-left: 0px;
    // margin-left: 15px;
    // border-left: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
  }
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  .example-tree {
    background-color: transparent !important;
  }

  li {
    margin-left: 17px;
    // border-left: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
  }

  // .mat-tree-node li {
  //   margin-left: 15px;
  //   // border-left: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
  // }

  // li {
  //   margin-left: 17px;
  //   // border-left: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
  // }

  // mat-tree-node {
    hr {
      border: 0;
      height: 1px;
      // background: mat.get-color-from-palette($fe-theme-grey, 50);
      width: 6px;
      margin: 0px;
      margin-right: 3px;
    }
  // }

  mat-tree-node:last-child {
    li {
      border: none !important;
    }
    hr {
      align-self: flex-start;
      height: 14px;
      background: none;
      // border-left: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
      // border-bottom: 1px solid mat.get-color-from-palette($fe-theme-grey, 50);
    }
  }

  li.rootLi {
    margin-left: 0px;
    border: none !important;
  }

  .mat-tree-node {
    font-size: 13px !important;
    // color: mat.get-color-from-palette($fe-theme-grey, 500);
    // background: mat.get-color-from-palette($fe-theme-primary, white);
    height: 28px !important;
    line-height: 28px !important;
    min-height: 26px;
    button[mat-icon-button].mat-icon-button {
      zoom: 0.8; // NOTE: You may need to adjust this value to achieve exactly 48px.
      width: 26px;
      margin-left: 0px;
    }
    .mat-icon {
      min-width: 24px !important;
    }

    .tree-pin {
      height: 28px !important;
      line-height: 28px !important;
      min-height: 26px;
    }

    div {
      display: flex;
      align-items: center;
    }

    .tree-node-body {
      cursor: pointer;
      height: 28px !important;
      line-height: 28px !important;
      min-height: 26px;
      width: 100%;
    }
  }

  .tree-node-body-nohover {
    cursor: not-allowed !important;
  }

  .is-invisible {
    display: none;
  }
}

// .list-toolbar {
//   overflow: hidden;
//   // position: sticky; __<<ngThemingMigrationEscapedComment0>>__
//   // top: 50; __<<ngThemingMigrationEscapedComment1>>__

//   padding-top: 4px;
//   padding-bottom: 6px;
//   padding-left: 2px;
//   // background-color: mat.get-color-from-palette($fe-theme-primary, white);
//   z-index: 20;

//   font-size: 16px;

//   display: flex;
// }
